<div class="box box-default">

	<form data-th-id="${#strings.concat('addEditprdsrv',param.tabIndex)}" autocomplete="off">
	
		<input  type="hidden" name="psmId" id="psmId" value="0"/>
		
		<input  type="hidden" name="siteId" id="siteid" value="0"/>  
    	<div class="box-body new-box-body">
			<div class="col-12 form-row pr-0">
			
				<div class="col-12 row mt-2 inBoxBody">
					<div class="col-12 row">
					
						<div class="col-12 col-lg-3">
							<label class="label-box p-0" style="padding-top: 3px">Product<span class="text-danger">*</span></label>
							<div>
								<select class="form-control select2" id="product" name="prdId" mandatory="true" message="Please Fill Product"><option value="" selected="selected">--select--</option></select>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Service<span class="text-danger">*</span></label>
							<div>
								<select class="form-control select2" id="services" mandatory="true" message="Please Fill Service" name="smId"><option value="" selected="selected">--select--</option></select>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Service Rate</label>
							<div>
								<input class="form-control form-control-sm" type="text" name="rate" id="rate">
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Service Time</label>
							<div>
								<input class="form-control form-control-sm" type="text" name="serviceTime" id="serviceTime">
							</div>
						</div>
						
					</div>
					<div class="col-12 row">
					
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Commission</label>
							<div>
								<input class="form-control form-control-sm" type="text" name="commDed" id="commDed">
							</div>
						</div>
						
						<div class="col-12 col-lg-3 col-md-3" id="pdrsrv">
							<label class="label-box pr-0" style="padding-top: 3px">Status</label>
							<div>
								<div class="custom-control custom-radio custom-control-inline">
							  		<input type="radio" id="" name="isActive"  checked="checked"  class="custom-control-input pdractivestatus" value="Y">
								  	<label class="custom-control-label" id="pdractivestatuslabel" for="pdractivestatus">Active</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
								  	<input type="radio" id="" name="isActive" class="custom-control-input pdrinactivestatus" value="N">
								  	<label class="custom-control-label" id="pdrinactivestatuslabel" for="pdrinactivestatus">Inactive</label>
								</div>
							</div>
						</div>
						
						<div class="col-12 col-lg-6">
							<label class="label-box pr-0" style="padding-top: 3px">Remarks</label>
							<div>
								<input class="form-control form-control-sm" type="text"  name="remarks" id="remarks">
							</div>
						</div>		
				</div>
			</div>
			</div>
			<div class="box-footer float-right m-2" style="background-color: #f5f4f4;">
	        	<button type="button" class="btn btn-primary" id="saveprdsrv">Save</button>
	        	<button class="btn btn-secondary" type="button" id="resetBtn" onclick="$(this).resetprdsrv()">Reset</button>
	    	</div>
	    	</div>
		
	</form>
</div>

<script>

$(document).ready(function(){
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditprdsrv"+tabIndex);
	$(this).preparePdrsrvForm($FI);
});
</script>
<script src="./js/pages/advanced-form-element.js"></script>