<form id="prodpartListContainer">
  
  <div class="pad" style="padding-top: 15px;" id="">
  	<div th:replace="./fragments/gridMenu::menu('PRODUCT_PART_MASTER')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="prodpartList" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>

	$(this).prodpartListing();
</script>
 <!-- Product part Master Code Modal Content -->
<div class="modal fade" id="prodpartModal" tabindex="-1" role="dialog" aria-labelledby="leadgerLabel" aria-hidden="true">
    <div class="modal-dialog" >
     
          <div class="modal-content">
            <div class="modal-header p-2" style="background-color: #24355a;color: #00b2ff;">
            	
              	<h5 class="modal-title" id="myModalLabel">Product Parts</h5>
            </div>
            <div class="modal-body">
             <form autocomplete="off" id="prodpartForm">
             
                <div class="p-4">
                    <div class="row manTranRow">
                    <input type="hidden" id="siteId" name="siteId" value="0" />
                 <input type="hidden" id="ppId" name="ppId" value="0"/>
                        <label class="label-box p-0 col-lg-4 col-12">Parts</label>
                        <input type="text" name="partsName" id="partsName" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Kent RO</label>
                        <input type="text" name="kent" id="kent" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Aquaguard</label>
                        <input type="text" name="aquaguard" id="aquaguard" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Zero_b</label>
                        <input type="text" name="zeroB" id="zeroB" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Normal</label>
                        <input type="text" name="normal" id="normal" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Remarks</label>
                        <input type="text" name="remarks" id="remarks" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    
                    
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Status</label>
                        <div class="col-lg-8 col-12 p-0">
                            <input type="radio" checked="checked" id="prdpartActive" name="isActive" value="Y">
                            <label for="prdpartActive" style="margin-left: 5px;" class="label-box">Active</label>
                            <input type="radio" style="margin-left: 5px;" id="prdpartInactive" name="isActive" value="N">
                            <label for="prdpartInactive" style="margin-left: 5px;" class="label-box">InActive</label>
                        </div>
                    </div>
                    
                    <!-- <div class="box-footer float-right m-2" style="background-color: #f5f4f4;">
                        <button type="button" class="btn btn-primary" id="saveSrvcLead">Save</button>
                        <button class="btn btn-secondary" type="button" id="resetBtn" onclick="$(this).ResetAllDataInFormsrvlead()">Reset</button>
                    </div> -->
                </div>
                </form>
            </div>
<!--             Modal Body
 -->            <div class="modal-footer p-1" id="chkLstFoot" style="background: #24355a;color: #785207;">
              <button type="button" class="btn btn-sm btn-secondary" id="nxtBtn" data-dismiss="modal" onclick="$(this).ResetAllDataInFormsrvlead()">Cancel</button>
              <button type="button" class="btn btn-sm btn-primary" id="SaveBtn" onclick="$(this).savesrvCharge()">Save</button>
            </div>
          </div>
    </div>
 </div>
                  <!-- /.modal -->                 
   
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>
<script type="text/javascript">
	$(".ag-center-cols-container").css('width','100%')
</script>