<form id="prdmasterListContainer">
  
  <div class="pad" style="padding-top: 15px;" id="">
  	<div th:replace="./fragments/gridMenu::menu('PRODUCT_MASTER')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="prdmasterList" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>

	$(this).prdmasterListing();
</script>
 <!-- Product Master Code Modal Content -->
 
 
  <div class="modal fade" id="prdmasterModal" tabindex="-1" role="dialog" aria-labelledby="leadgerLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <form autocomplete="off" id="prdmasterForm">
          <div class="modal-content">
            <div class="modal-header p-2" style="background-color: #24355a;color: #00b2ff;">
            	
              	<h5 class="modal-title" id="myModalLabel">Product</h5>
            </div>
            <div class="modal-body">
            
              <input type="hidden" id="siteid" name="siteId" value="0" />
             <input type="hidden" id="prdid" name="prdId" value="0"/>
                <div class="p-4">
                    <div class="row manTranRow">   
                        <label class="label-box p-0 col-lg-4 col-12">Product Name<span class="text-danger">*</span></label>
                        <div class="col-lg-8 col-12">
                        <input type="text" name="prodName" id="prdname" mandatory="true" message="Please Fill Product Name" class="form-control  form-control-sm">
                   	 </div>
                    </div>
                    
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Remark</label>
                        <div class="col-lg-8 col-12">
                       	 <input type="text" name="remarks" id="remark" class="form-control  form-control-sm">
                   	 </div>
					</div>	                   
              
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Status</label>
                        <div class="col-lg-8 col-12 p-0 pl-3">
                            <input type="radio" value="Y" name="isActive" id="prdmstActive" checked> <label for="prdmstActive">Active</label>
		                     <input type="radio" value="N" name="isActive" id="prdmstInactive"> <label for="prdmstInactive">Inactive</label>
                        </div>
                    </div>
                </div>
                
            </div>
<!--             Modal Body
 -->            <div class="modal-footer p-1" id="chkLstFoot" style="background: #24355a;color: #785207;">
                 <button type="button" class="btn cancelButton" data-dismiss="modal" id="closeDesignationBtn2">Close</button>
                   <button type="button" class="btn saveButton" style = "float:right" id="saveprdmst" onClick="$(this).saveprdMaster()">Save Changes</button>
            </div>
          </div>
          </form>
    </div>
 </div>
 
 
       
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>
<script type="text/javascript">
	$(".ag-center-cols-container").css('width','100%')
</script>