<form id="PdrsrvLstForm">

  <div class="pad" style="padding-top: 15px;" id="pdrsrv">
  	<div th:replace="./fragments/gridMenu::menu('PRODUCT_SERVICE_MAP')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="PdrsrvLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("PtnrTeamLstForm");
$(this).pdrsrvList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>