<style>
  .toggle.ios,
  .toggle-on.ios,
  .toggle-off.ios {
    border-radius: 20px;
  }
  .toggle.ios .toggle-handle {
    border-radius: 20px;
  }
  
  
</style>

<div data-th-id="${#strings.concat('userDiv',param.tabIndex)}">
  <form id="addUserFormContainer">
    <div class="container-fluid mt-10">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
          <div class="box">
            <div class="box-body">
              <div class="row">
                <div class="col-12">
                  <input type="hidden" id="userid" name="userid" value="0"/>
                  <!-- <input type="hidden" id="roleid" name="userroles[0][id]" value="0"/> -->
                  <input type="hidden" id="title" name="title" value="1" />
                   <input type="hidden" name="siteid" value="0" id="siteid"/> 
                  <input class="hiddenWholeForm" hidden="true" />
                  <input
                    type="hidden"
                    id="passwordResetDate"
                    name="passwordResetDate"
                  />
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label
                          >Display Name<span class="text-danger">*</span></label
                        >
                       <input
                          type="text"
                          name="displayname"
                          id="displayname"
                          autocomplete="nope"
                          class="form-control form-control-sm"
                          placeholder="Display Name"
                          mandatory=true
                          message="Please Enter Display Name"
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>First Name<span class="text-danger">*</span></label>
                        <input
                          type="text"
                          name="firstname"
                          id="firstname"
                          autocomplete="nope"
                          class="form-control form-control-sm"
                          placeholder="First Name"
                          mandatory=true
                          message="Please Enter First Name"
                        />
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Middle Name</label>
                        <input
                          type="text"
                          name="middlename"
                          id="middlename"
                          autocomplete="nope"
                          class="form-control form-control-sm"
                          placeholder="Middle Name"/>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Last Name<span class="text-danger">*</span></label>
                        <input
                          type="text"
                          name="lastname"
                          id="lastname"
                          autocomplete="nope"
                          class="form-control form-control-sm"
                          placeholder="Last Name"
                          mandatory=true
                          message="Please Enter Last Name"
                        />
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    
                  <div class="col-md-3">
                      <div class="form-group">
                        <label>User Type<span class="text-danger">*</span></label>
	            		<select class="input-box select2" style="width: 100%;" name="typeId" id="typeId"  mandatory=true message="Please Select User Type." onchange="$(this).chkManager();$(this).Grouplisting();"><option>-- Select --</option></select>
                      </div>
                   </div>
                    
                    
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Group</label>
	            		<select class="input-box select2" style="width: 100%;" name="" id="Group"><option>-- Select --</option></select>
                      </div>
                      
                   </div>
                    
                    
                     <div class="col-md-3">
                      <div class="form-group">
                        <label>User Manager<span class="text-danger">*</span></label>
	            		<select class="input-box select2" style="width: 100%;"  name="mgrId" id="mgrId"><option>-- Select --</option></select>
                      </div>
                    </div>
                    
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Role<span class="text-danger">*</span></label>
	            		<select class="input-box select2" style="width: 100%;"  name="" id="role"><option>-- Select --</option></select>
                      </div>
                    </div>
                  
                   
				</div>                  
                  
                  <div class="row">
                  
                   <div class="col-md-3">
                      <div class="form-group">
                        <label>Address 1</label>
                       <input class="form-control form-control-sm"  autocomplete="nope" type="text" name="addr1" id="addr1" placeholder="Address line 1">
                      </div>
                    </div>
                               
                   <div class="col-md-3">
                      <div class="form-group">
                        <label>Address 2</label>
                       <input class="form-control form-control-sm" autocomplete="nope" type="text" name="addr2" id="addr2" placeholder="Address line 2">
                      </div>
                    </div> 
                    
                     <div class="col-md-3">
                      <div class="form-group">
                        <label>State<span class="text-danger">*</span></label>
	            		<select class="input-box select2" style="width: 100%;" name="state" id="state" mandatory=true message="Please select state." onchange="$(this).populateCities('state','city')"><option>-- Select --</option>
	            		</select>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label>City</label>
	            		<select class="input-box select2" style="width: 100%;" name="city" id="city"><option>-- Select --</option>
	            	
	            		</select>
                      </div>
                    </div>
             </div>

                   <div class="row">
                   
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Pincode</label>
						<input type="text" class="form-control form-control-sm" autocomplete="nope" name="pincode" id="pincode" placeholder="Pincode">                      
					</div>
                    </div>
                   
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Mobile</label><span class="text-danger">*</span>
                       <input type="text" class="form-control form-control-sm" mandatory=true message="Please select Mobile Number." style="width: 100%;" name="mobile" id="mobile" maxlength="10" onclick="" onkeyup="$(this).checkuserfieldLength();" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
                      </div>
                    </div>
          
                      <div class="col-md-3">
	                      <div class="form-group">
	                        <label>Phone</label>
							<input type="text" class="form-control form-control-sm" style="width: 100%;" name="phone" id="phone" maxlength="10" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" onkeyup="$(this).checkuserfieldLength()">                      
						 </div>
                    </div>
                    
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Email</label>
						<input type="email" class="form-control form-control-sm" style="width: 100%;" name="email" id="email" placeholder="Email Id">                      
					 </div>
					</div>
				
                  </div>
                    
                 
               
                   <div class="row">
                   
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Login Id</label>
	            		<input type="text" autocomplete="off" class="form-control form-control-sm" name="loginid" id="loginid" placeholder="Login Id" mandatory=true message="Please Provide Login Id.">
                     </div>
					</div>
					
                   <div class="col-md-3">
                      <div class="form-group">
                        <label>Password</label>
						<input type="password" autocomplete="new-password" class="form-control form-control-sm" name="" style="border-radius: 5px 1px 1px 5px;" id="password" placeholder="Password" mandatory=true message="Please Provide Password.">
	            	
	            	   <div class="col-1 user-eye" onclick="$(this).togglePass()">
	            	   
                             <i class="fa fa-eye" id="openEye" style="font-size:19px"></i>
                       </div>
	            	 </div>
	            	
                    </div>
                    
                     <div class="col-md-3" id="radioDiv">
                      <div class="form-group">
	           			<label class="label-box" style="padding-top: 7px;">Status</label>
	           			<div class="mt-1">
	           				<input type="radio" value="1" class="statusActive" name="status" id="" checked> <label id="statusActiveLabel" for="statusActive">Active</label>
	          				<input type="radio" value="0" class="statusInactive" name="status" id=""> <label for="statusInactive" id="statusInactiveLable">Inactive</label>                          
           				</div>
           			  </div>
					 </div>
                 </div>
             
                    <div class="d-flex justify-content-end gap-items-2 mb-10">
						<button type="button" id="saveUser" class="btn btn-success m-1"> Save</button>
				<!-- <button type="button" class="btn btn-danger m-1"  id="resetBtn" onclick="$(this).ResetAllDataInFormjobmst()"> Reset</button>  -->
					</div>  
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </form>
    </div>


<script>
  currentServerDate = "[[${#calendars.format(#calendars.createNow(), 'dd/MM/yyyy')}]]";
  var tabIndex = [[${param.tabIndex}]];
  var $FI = $("#userDiv"+tabIndex);
  $(this).userOnready($FI);
</script>

<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>
