
 <style type="text/css">
   .form-group, .form-select{margin-bottom: 15px}
   .bg-navy{background: navy}
   .label-bg{    background: navy;
 color: #fff;
 width: 100%; height: 20px}

 </style>

<form data-th-id="${#strings.concat('addEditUsers',param.tabIndex)}">
	<div class="container-fluid" style="margin-top:30px;">
    <div class="col-lg-12 col-md-12 col-sm-12"  style="margin-top:30px;">
      <div class="row">
         <div class="col-md-2">
          <div class="form-group">
              <label>Name : </label>
              <input class="form-control form-control-sm" type="text" name="sourceName">
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="form-group">
              <label>Display Name : </label>
              <input class="form-control form-control-sm" type="text" name="sourceName">
          </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group">
                <label>Email : </label>
                <input class="form-control form-control-sm" type="text" name="sourceName">
            </div>
        </div>
        
        <div class="col-md-2">
          <div class="form-group">
              <label>Mobile : </label>
              <input class="form-control form-control-sm" type="text" name="sourceName" >
          </div>
        </div>
        
         <div class="col-md-8">
            <div class="form-group">
                <label>Address : </label>
               <input class="form-control form-control-sm" type="text" name="sourceName" >
            </div>
        </div>

        <div class="col-sm-2 co-xs-12 imageBox">
          <label style="width: inherit; position: relative; opacity: 0.6;" onmouseenter="$(this).hoverImage()" onmouseout="$(this).removeHoverImage()">
            <img alt="user image" src="images/avtara.png" id="imageDisp" style="    margin-top: -52px;" >
          <input type="file" id="imageFile" name="applicantImage" src="" style="display: none;" oninput="ValidateSize(this)" onchange="$(this).showImage()" accept=".png, .jpeg,.jpg">
            </label>
          </div>
      </div>

      <div class="row">
         <div class="col-md-2">
           <label>State : </label>
            <select class="form-control form-control-sm select2">
              <option selected>--Select--</op3tion>
              <option value="1">Haryana</option>
              <option value="2">Delhi</option>
              <option value="3">Uttar Pardesh</option>
            </select>

          </div>

         <div class="col-md-2">
           <label>City : </label>
            <select class="form-control form-control-sm select2">
              <option selected>--Select--</op3tion>
              <option value="1">Faridabad</option>
              <option value="2">New Delhi</option>
              <option value="3">Noida</option>
            </select>

          </div>

           <div class="col-md-2">
          <div class="form-group">
              <label>PinCode : </label>
              <input class="form-control form-control-sm" type="text" name="sourceName" >
          </div>
        </div>
        
        
         <div class="col-md-2">
          <div class="form-group">
              <label>Login Id : </label>
              <input class="form-control form-control-sm" type="text" name="sourceName">
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="form-group">
              <label>Status : </label>
              <input class="form-control form-control-sm" type="text" name="sourceName">
          </div>
        </div>



      </div>


      <div class="row">
        
      </div>

      <div class="row">
         <div class="col-md-8">
            <div class="form-group">
                <label>Remarks : </label>
               <input class="form-control form-control-sm" type="text" name="sourceName" >
            </div>
        </div>
      </div>

       <div class="row">
         <div class="col-md-3">
           <label class="label-bg">ALL Organisation : </label>
            <table class="table bg-white">
             <tbody>
                <tr>
                  <td>Org A</td>
                </tr>
                <tr>
                  <td>Org B</td>
                </tr>
                <tr>
                  <td>Org C</td>
                </tr>
               </tbody>
            </table>

          </div>

         <div class="col-md-3">
           <label class="label-bg">Accessible Organisation : </label>
            <table class="table bg-white">
             <tbody>
                <tr>
                  <td>Org A</td>
                </tr>
                <tr>
                  <td>Org B</td>
                </tr>
                <tr>
                  <td>Org C</td>
                </tr>
               </tbody>
            </table>

          </div>

           <div class="col-md-6">
          <div class="form-group">
              <label class="label-bg">Organisation Role : </label>
               <select class="form-control form-control-sm select2">
              <option selected>--Select--</op3tion>
              <option value="1">Org A</option>
              <option value="2">Org B</option>
              <option value="3">Org C</option>
            </select>
          </div>
        </div>
      </div>
      
       <div class="d-flex justify-content-end gap-items-2 mt-10 mb-10">
          <button type="button"  class="btn btn-success m-1"> Save</button>
       
        </div>
     </div>

      </div>
</form>

<script>
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditUsers"+tabIndex);
	$(this).prepareAddUserForm($FI);
</script>