<form id="userlistForm">
  <div class="pad" style="padding-top: 15px;" id="userlistContainer">
    <div th:replace="./fragments/gridMenu::menu('USERLIST')"></div>
    
    
    <!--Datatable-->
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body">
        <!-- <table id="userList" class="table table-bordered table-striped table-responsive"> </table> -->
        <div class="gridWrapper">
        	<div id="UserLst" class="ag-theme-alpine gridBox"></div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("#userlistForm");
$(this).addUsersList($FI);
</script>