<style>
    .manTranRow{
         margin: 0px 0px 10px 0px;
    }
</style>
<div class="box box-default">
	<form data-th-id="${#strings.concat('addEditManualTran',param.tabIndex)}" autocomplete="off">
    	<div class="box-body new-box-body">
			<div class="col-12 form-row pr-0">
                <div class="inBoxBody col-4 mt-4 p-0" style="margin: auto;">
                    <div style="background-color: #24355a;padding: 6px 0px 8px 10px;border-radius: 6px 7px 0px 0px;">
                        <h6 style="margin: 0px;color: #00b2ff;">Partner's Wallet</h6>
                    </div>
                    <div class="p-4">
                    	<div class="row manTranRow">
	                        <label class="label-box p-0 col-lg-4 col-12">Transaction ID</label>
	                        <input type="text" class="form-control col-lg-8 col-12 form-control-sm">
	                    </div>
	                    <div class="row manTranRow">
	                        <label class="label-box p-0 col-lg-4 col-12">Partner Name</label>
	                        <input type="text" class="form-control col-lg-8 col-12 form-control-sm">
	                    </div>
	                    <div class="row manTranRow">
	                        <label class="label-box p-0 col-lg-4 col-12">Transaction For</label>
	                        <input type="text" class="form-control col-lg-8 col-12 form-control-sm">
	                    </div>
	                    <div class="row manTranRow">
	                        <label class="label-box p-0 col-lg-4 col-12">Transaction Type</label>
	                        <div class="col-lg-8 col-12">
	                            <input type="radio" checked="checked" style="margin-left: 5px;" id="cr" name="tranType" value="0">
	                            <label for="cr" style="margin-left: 5px;" class="label-box">CR</label>
	                            <input type="radio" style="margin-left: 5px;" id="dr" name="tranType" value="1">
	                            <label for="dr" style="margin-left: 5px;" class="label-box">DR</label>
	                        </div>
	                    </div>
	                    <div class="row manTranRow">
	                        <label class="label-box p-0 col-lg-4 col-12">Service Lead</label>
	                        <input type="text" class="form-control col-lg-8 col-12 form-control-sm">
	                    </div>
	                    <div class="row manTranRow">
	                        <label class="label-box p-0 col-lg-4 col-12">Transaction Mode</label>
	                        <input type="text" class="form-control col-lg-8 col-12 form-control-sm">
	                    </div>
	                    <div class="row manTranRow">
	                        <label class="label-box p-0 col-lg-4 col-12">Reference Number</label>
	                        <input type="text" class="form-control col-lg-8 col-12 form-control-sm">
	                    </div>
	                    <div class="row manTranRow">
	                        <label class="label-box p-0 col-lg-4 col-12">Amount</label>
	                        <input type="text" class="form-control col-lg-8 col-12 form-control-sm">
	                    </div>
	                    <div class="box-footer float-right m-2" style="background-color: #f5f4f4;">
	                        <button type="button" class="btn btn-primary" id="saveSrvcLead">Save</button>
	                        <button class="btn btn-secondary" type="button" id="resetBtn" onclick="$(this).ResetAllDataInFormsrvlead()">Reset</button>
	                    </div>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
</div>

<script>
    $(document).ready(function(){
        var tabIndex = [[${param.tabIndex}]];
        var $FI = $("#addEditManualTran"+tabIndex);
        $(this).prepareSrvcLeadForm($FI);
        
    });
    
</script>
<script src="./js/pages/advanced-form-element.js"></script>