<form data-th-id="${#strings.concat('ptnrTrans',param.tabIndex)}">
	<input type="hidden" id="ptnrId">
    <div class="pad" style="padding-top: 15px;" id="">
    
        <div th:replace="./fragments/gridMenu::menu('PARTNER_LEDGER')"></div>
        
      <div class="box">
        <div class="box-body">
         <div class="gridWrapper m-4">
              <div id="ptnrTransLst" class="ag-theme-alpine gridBox">
                  
               </div>
          </div>
          
        </div>
      </div>
    </div>
</form>
  <script>
  var tabIndex = [[${param.tabIndex}]];
  var $FI = ("ptnrTrans"+tabIndex);
  $(this).ptnrTransList($FI);
  /* $("#wrapper").toggleClass("toggled");
  $(".graphClassToggle").toggleClass("graphBoxWithMenu");
   */</script>