<div class="box box-default">

	<form data-th-id="${#strings.concat('addEditSrvcLead',param.tabIndex)}" autocomplete="off">
	
		<input autocomplete="nope"  type="hidden" name="slId" id="slId" value="0"/> 
		<input autocomplete="nope"  type="hidden" name="pmId" id="pmId"/> 
		<input autocomplete="nope"  type="hidden" name="" id="hidesrvdata"/> 
    	<div class="box-body new-box-body">
			<div class="col-12 form-row pr-0">
			
				<div class="col-12 row mt-2 inBoxBody">
					<div class="col-12 row">
					
						<div class="col-12 col-lg-3">
							<label class="label-box p-0" style="padding-top: 3px">Customer Name</label>
							<div>
								<select class="form-control select2" id="custmobile" name="csId" onchange="$(this).onCustChange()" ><option value="" selected="selected">--select--</option></select>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Name</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" onkeyup="$(this).closest('form').find('#displayName').val($(this).val())" onchange="$(this).closest('form').find('#displayName').val($(this).val())"  name="name" id="name">
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Display Name</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" name="displayName" id="displayName">
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Address</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" name="address" id="address">
							</div>
						</div>
					</div>
					<div class="col-12 row">
					
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Landmark</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" name="landmark" id="landmark">
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">State</label>
							<div>
								<select class="form-control select2" id="state" name="stateId"  onchange="$(this).populateCities('state','city');"><option value="" selected="selected">--select--</option></select>			
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">City</label>
							<div>
								<select class="form-control select2" id="city" name="cityId"  onchange="$(this).onsrvleadcityChange();"><option value="" selected="selected">--select--</option></select>						
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Pin Code</label>
							<div>
								<select class="form-control select2" id="pinCode" name="amId"  onchange="$(this).onpincodechange()"><option value="" selected="selected" >--select--</option></select>				
							</div>
						</div>
					</div>
					<div class="col-12 row">
					
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Phone</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="number" name="phone" id="phone">
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Mobile<span class="text-danger">*</span></label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="number" name="mobile" mandatory="true" message = "Please Enter Mobile" id="mobile">
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Email</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" name="email" id="email">
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Status<span class="text-danger">*</span></label>
							<div>
								<select class="form-control select2" id="status" name="lsId" onchange="$(this).showinboxbody(),$(this).chkValidation()" mandatory="true" message = "Please Enter Status"><option value="" selected="selected">--select--</option></select>
							</div>
						</div>
					</div>
					<div class="col-12 row">
						
						<div class="col-12 col-lg-3 col-md-3" id="servlead">
							<label class="label-box pr-0" style="padding-top: 3px">Status</label>
							<div>
								<div class="custom-control custom-radio custom-control-inline" id="radiobtn">
							  		<input autocomplete="nope" type="radio" id="" name="status"  checked="checked"  class="custom-control-input autocomplete="nope" srvleadactivestatus" value="Y">
								  	<label class="custom-control-label" id="srvleadactivestatuslabel" for="srvleadactivestatus">Active</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
								  	<input autocomplete="nope" type="radio" id="" name="status" class="custom-control-input autocomplete="nope" srvleadinactivestatus" value="N">
								  	<label class="custom-control-label" id="srvleadinactivestatuslabel" for="srvleadinactivestatus">Inactive</label>
								</div>
							</div>
						</div>
						
						
						
						<div class="col-12 col-lg-6">
							<label class="label-box pr-0" style="padding-top: 3px">Remarks</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" placeholder ="Remarks" name="remarks" id="remarks">
							</div>
						</div>
					</div>
					
				</div>
				


				
				
				<div class="col-12 row mt-2 inBoxBody" id="hideprtbody" style="display:none">
					<div class="col-12 row">
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Partner Name</label>
							<div>
								<select class="form-control select2" id="prtname" name="" onchange="$(this).showpartnerinbox()" disabled><option>--select--</option></select>
							
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Mobile No</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" name="" id="mobileno" disabled>
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Address</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" name="" id="addr" disabled>
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Partner Team</label>
							<div>
								<select class="form-control select2" id="prtTeam" name="ptId" ><option value="">--select--</option></select>
							
							</div>
						</div>
					</div>
				</div>	
				 <div class="col-12 row mt-2 inBoxBody">
					<div class="col-12 row">
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Lead Source</label>
							<div>
								<select class="form-control select2" id="lsmId" name="lsmId"><option value="" selected="selected">--select--</option></select>
							</div>
						</div>
						<div class="col-12 col-lg-3">
						    
							<label class="label-box pr-0" style="padding-top: 3px">Lead Generation Time</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm formc_datetime" readonly="readonly" data-provide="datetimepicker" type="text" name="leadGenTime" id="leadGenrTime" disabled="disabled">
							</div>
						</div>
					
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Lead Notify Time</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm formc_datetime" readonly="readonly" data-provide="datetimepicker" type="text" name="leadNotifyTime" id="leadNotifyTime" disabled="disabled">
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Service Required Time</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" readonly="readonly" mandatory="true" message="Please Select Service Required Time" data-provide="datetimepicker" type="text" name="servReqdAtTime" id="servReqdAtTime">
							</div>
						</div>
						
					</div>
					<div class="col-12 row">
						
						
						<!-- <div class="col-3">
							<label class="label-box pr-0" style="padding-top: 3px">Customer</label>
							<div>
								<select class="form-control select2" id="csId" name="csId"  mandatory="true" message = "Please Enter Customer Name"><option value="" selected="selected" >--select--</option></select>
							</div>
						</div> -->
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Product<span class=text-danger>*</span></label>
							<div>
								<select class="form-control select2" onchange="$(this).onProdChange();" id="product" name="prdId" mandatory="true" message = "Please Enter Product"><option value="" selected="selected">--select--</option></select>
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Product Brand</label>
							
							<div>
							<select class="form-control select2" id="pbmId" name="pbmId"><option value="" selected="selected">--select--</option></select>
							
							</div>
						</div>
						
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Service</label>
							<select class="form-control" id="psmId" style="display: none;" name="psmId"><option value="" selected="selected">--select--</option></select>
							<div>
								<select class="form-control select2" id="services" onchange="$(this).onServiceChange();" name="smId"><option value="" selected="selected">--select--</option></select>
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Commission</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" name="rate" id="rate" disabled="disabled">
							</div>
						</div>
						
						
					</div>
				
					<div class="col-12 row">
 						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Service Time</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="text" name="service_time" id="srvtime" disabled="disabled">
							</div>
						</div>
					</div>	
				</div>	
				<div class="col-12 row mt-2 inBoxBody" id="hidebody" style="display:none">
					<div class="col-12 row">
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Customer Rating</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="number" name="custRating" onkeyup="$(this).validateRating();" id="custRating" max="5">
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Partner Rating</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="number" name="partnerRating" onkeyup="$(this).validateRating();" id="partnerRating" max="5">
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Total charges</label>
							<div>
								<input autocomplete="nope" value="0" class="form-control form-control-sm" type="number" name="totalChargs" id="totalChargs">
							</div>
						</div>
					</div>
					<div class="col-12 row">
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0 " style="padding-top: 3px">Start Time</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm formc_datetime" readonly="readonly" data-provide="datetimepicker" message="Please Enter Start Time" type="text" name="servStartTime" id="servStartTime">
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0 " style="padding-top: 3px">End Time</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm formc_datetime" readonly="readonly" data-provide="datetimepicker" message="Please Enter End Time" type="text" name="servCompleteTime" id="servCompleteTime">
							</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Closure</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm formc_datetime" readonly="readonly" data-provide="datetimepicker" type="text" name="servCloserTime" id="servCloserTime">
							</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px;display:none">Pincode</label>
							<div>
								<input autocomplete="nope" class="form-control form-control-sm" type="hidden" name="pinCode" id="pin" disabled="disabled">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer float-right m-2" style="background-color: #f5f4f4;">
	        	<button type="button" class="btn btn-primary" id="saveSrvcLead">Save</button>
	        	<button class="btn btn-secondary" type="button" id="resetBtn" onclick="$(this).ResetAllDataInFormsrvlead()">Reset</button>
	    	</div>
	    	</div>
	    	</form>
		</div>
	


<script>
$(".formc_datetime").datetimepicker({format: 'dd/mm/yyyy hh:ii:ss', autoclose: 1, minuteStep: 30});

$(document).ready(function(){
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditSrvcLead"+tabIndex);
	$(this).prepareSrvcLeadForm($FI);
	
});

$.fn.validateRating = function() {
	if($(this).val() > 99){
		$(this).val(99);
	}
}

</script>
<script src="./js/pages/advanced-form-element.js"></script>