<form data-th-id="${#strings.concat('srvLeadList',param.tabIndex)}">
  <input type="hidden" id="typeParam">
  <div class="pad" style="padding-top: 15px;" id="srvcLeadContainer">
  	<div th:replace="./fragments/gridMenu::menu('SERVICE_LEAD')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="srvcLeadLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = ("srvLeadList"+tabIndex);
$(this).srvcLeadList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>