<form id="srvChargeListContainer">
  
  <div class="pad" style="padding-top: 15px;" id="">
  	<div th:replace="./fragments/gridMenu::menu('SERVICE_CHARGES')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="srvChargeList" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>

	$(this).srvChargeListing();
</script>
 <!-- Product part Master Code Modal Content -->
<div class="modal fade" id="srvChargeModal" tabindex="-1" role="dialog" aria-labelledby="leadgerLabel" aria-hidden="true">
    <div class="modal-dialog" >
     
          <div class="modal-content">
            <div class="modal-header p-2" style="background-color: #24355a;color: #00b2ff;">
            	
              	<h5 class="modal-title" id="myModalLabel">Product Parts</h5>
            </div>
            <div class="modal-body">
             <form autocomplete="off" id="srvChargeForm">
                <div class="p-4">
                    <div class="row manTranRow">
                    <input type="hidden" id="siteId" name="siteId" value="0" />
                 <input type="hidden" id="scId" name="scId" value="0"/>
                        <label class="label-box p-0 col-lg-4 col-12">Product Name</label>
                        <input type="text" name="prodName" id="prodName" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Service Type</label>
                        <input type="text" name="serviceType" id="serviceType" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Service Cost</label>
                        <input type="text" name="serviceCost" id="serviceCost" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Lead Cost</label>
                        <input type="text" name="leadCost" id="leadCost" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                   
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Remarks</label>
                        <input type="text" name="remarks" id="remarks" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    
                    
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Status</label>
                        <div class="col-lg-8 col-12 p-0">
                             <input type="radio" checked="checked" id="srvChargeActive" name="isActive" value="Y">
                            <label for="srvChargeActive" style="margin-left: 5px;" class="label-box">Active</label>
                            <input type="radio" style="margin-left: 5px;" id="srvChargeInactive" name="isActive" value="N">
                            <label for="srvChargeInactive" style="margin-left: 5px;" class="label-box">InActive</label>
                        </div>
                    </div>
                </div>
                </form>
            </div>
<!--             Modal Body
 -->            <div class="modal-footer p-1" id="chkLstFoot" style="background: #24355a;color: #785207;">
              <button type="button" class="btn btn-sm btn-secondary" id="nxtBtn" data-dismiss="modal" onclick="$(this).ResetAllDataInFormsrvlead()">Cancel</button>
              <button type="button" class="btn btn-sm btn-primary" id="SaveBtn" onclick="$(this).saveCharge()">Save</button>
            </div>
          </div>
    </div>
 </div>
                  <!-- /.modal -->                 
   
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>
<script type="text/javascript">
	$(".ag-center-cols-container").css('width','100%')
</script>