<form id="srvmasterListContainer">
  
  <div class="pad" style="padding-top: 15px;" id="">
  	<div th:replace="./fragments/gridMenu::menu('SERVICE_MASTER')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="srvmasterList" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>

	$(this).srvmasterListing();
</script>
 <!-- Product Master Code Modal Content -->
 <div class="modal fade" id="srvmasterModal" tabindex="-1" role="dialog" aria-labelledby="srvmasterLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form autocomplete="off" id="srvasterForm">
          <div class="modal-content">
            <div class="modal-header p-2" style="background-color: #24355a;color: #00b2ff;">
            <input type="hidden" id="siteid" name="siteid" class="form-control col-lg-8 col-12 form-control-sm">
            	<input type="hidden" id="smid" name="smId" class="form-control col-lg-8 col-12 form-control-sm">
              	<h5 class="modal-title" id="srvmasterLabel">Service</h5>
            </div>
            <div class="modal-body">
                <div class="p-4">
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Service Name<span class="text-danger">*</span></label>
                        <input type="text" name="serviceName" id="srvname" class="form-control col-lg-8 col-12 form-control-sm" mandatory="true" message="Please Fill Service Name">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Remarks</label>
                        <input type="text" name="remarks" id="srvremark" class="form-control col-lg-8 col-12 form-control-sm">
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Status</label>
                        <div class="col-lg-8 col-12 p-0">
                            <input type="radio" checked="checked" id="srvmstActive" name="isActive" value="Y">
                            <label for="srvmstActive" style="margin-left: 5px;" class="label-box">Active</label>
                            <input type="radio" style="margin-left: 5px;" id="srvmstInactive" name="isActive" value="N">
                            <label for="srvmstInactive" style="margin-left: 5px;" class="label-box">Inactive</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer p-1" id="chkLstFoot" style="background: #24355a;color: #785207;">
              <button type="button" class="btn btn-sm btn-secondary" id="srvnxtBtn" data-dismiss="modal" onclick="$(this).ResetAllDataInFormsrvlead()">Close</button>
              <button type="button" class="btn btn-sm btn-primary" id="SaveBtn" onclick="$(this).savesrvMaster()">Save</button>
            </div>
          </div>
      </form>
    </div>
 </div>
 
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>
<script type="text/javascript">
	$(".ag-center-cols-container").css('width','100%')
</script>