<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">
<head>

    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="application/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
    
    <meta name="description" th:content="${description}">
    <meta name="author" content="Better Buddys">

    <meta name="keywords" th:content="${keywords}" >
    
	<link rel="icon" href="../images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:ital@1&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="../assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
	<link rel="stylesheet" href="../assets/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css" />
    
     <link rel="stylesheet" href="../css/blog.css">
    <link rel="stylesheet" href="../css/website/webCommon.css">
    <link rel="stylesheet" href= "../css/website/webHome.css">
    <link rel="stylesheet" href="../css/website/slider.css">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/slick/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../assets/slick/slick/slick-theme.css">
    <link rel="stylesheet"href="../assets/vendor-components/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="../assets/vendor-components/bootstrap-datepicker/dist/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="../assets/vendor-components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="../assets/vendor-components/bootstrap-datetimepicker/dist/css/bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="../assets/vendor-components/bootstrap-datetimepicker/dist/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="../assets/vendor-components/bootstrap-daterangepicker/daterangepicker.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=188659786"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-188659786-1');
    </script>
</head>
<body>
    <section class="header">
        <nav class="navbar navbar-expand-lg">

            <div class="blog-logo">
              <img src="../images/logo.png" width="100px">
            </div>

            <button class="navbar-toggler" style="background-color: #00b2ff;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <svg viewBox="0 0 30 30" width="30" height="30" focusable="false"><title>Menu</title><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
            </button>
            <div class="menu collapse navbar-collapse justify-content-center p-0" id="navbarSupportedContent">
                   <ul class="navbar-nav mr-auto" style="margin-right: 0px !important;">
                <li class="nav-item active">
                    <a class="nav-link" href="../#">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../#SERVICES">SERVICE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../#BECOME_A_PARTNER">BECOME PARTNER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../#ABOUT_US">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../#BLOG">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#CONTACT_US">CONTACT US</a>
                </li>
                </ul>
            </div>
        </nav>

   <div th:replace="${content}"></div>
    
    <section class="contacUsBack" id="CONTACT_US">
        <center>
            <div class="col-lg-12 col-12 row footerMain">
                <div class="col-lg-6 col-md-4 col-12 footer">
                    <h3 style="color: #ffff">Contact Us</h3>
                    <hr style="width: 23%;border-top: 3px solid #00B2FF;margin: 0px;">
                    <br>
                    <h5 style="float: left;">Address</h5>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-2 col-lg-1">
                            <div class="radioIcon"></div>
                        </div>
                        <div class="col-8 p-0">
                            <p>
                            	GO ON SALES CORPORATION
								<br>
                                Headoffice - 101, BLOCK B FIRST FLOOR, IFCI PARK VIEW APARTMENT, SECTOR 46, Faridabad, Haryana, 121010
								<br>
								We are providing services in the following locations.
								<br>
								Hyderabad, Bangalore and Delhi NCR
                            </p>
                        </div>
                    </div>
                    <h5 style="float: left;">Contact Info</h5>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-2 col-lg-1">
                            <div class="radioIcon"></div>
                        </div>
                        
                        <div class="col-lg-4 col-10 mt-1 p-0">
                            <p>+91 858 697 7307 / 01294049161</p>
                        </div>
                        <div class="col-2 col-lg-1">
                            <div class="radioIcon"></div>
                        </div>
                        <div class="col-lg-4 col-10 mt-1 p-0">
                            <p>info@betterbuddys.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-12">
                    <form action="#" method="post" id="suggForm"autocomplete="off">
                        <div class="input-box">
                            <input autocomplete="nope" type="text" class="form-control " name="name" placeholder="Name" mandatory="true" message="Please Enter Your Name">
                        </div>
                        <div class="input-box">
                            <input autocomplete="nope" type="text" class="form-control " name="phone" placeholder="Phone Number" mandatory="true" message="Please Enter Your Mobile">
                        </div>
                        <div class="input-box">
                            <input autocomplete="nope" type="email" class="form-control " name="email" placeholder="Email Id">
                        </div>
                        <div class="input-box">
                            <textarea type="text" class="form-control " name="message" placeholder="Message" rows="4" mandatory="true" message="Please Enter the Message"></textarea>
                        </div>
                        <button class="submitBtn" id="savesugg" type="button" style="float: left;">SUBMIT NOW</button>
                    </form>
                </div>
                
                <div class="col-lg-2 col-md-2 col-12">
                    <h3 class="text-white">Follow us</h3>
                    
                  <a href="https://www.facebook.com/Better-Buddys-531915167730236" id="social" target="_blank" class="fa fa-facebook"></a>
                   <a href="https://www.instagram.com/betterbuddys/" id="social" target="_blank" class="fa fa-instagram"></a>

               </div>
            </div>
        </center>
    </section>
    
                   <div class="modal fade" id="prodDtlModal" tabindex="-1" role="dialog" aria-labelledby="prodDtlLabel" aria-hidden="true">
					    <div class="modal-dialog modal-lg" role="document">
					        <div class="modal-content">
					          <!-- <div class="modal-header p-2" style="background: #15148e;color: white;">
					            	<h5 class="modal-title" id="otpLbl"> OTP Verification</h5>
					            	<button type="button" class="close p-0 m-0" data-dismiss="modal" aria-label="Close" style="border-radius:50%;background-color: white;width: 24px;font-size: 21px;">
								        <span aria-hidden="true">&times;</span>
								    </button>
					          </div> -->
					          <div class="modal-body" style="background-color: #050a44;color: white;">
					              <div class="row">
					              		<div class="col-lg-4" style="border-right: 1px solid;">
					              			<img style="width: inherit;height: 295px;" alt="Current Image" id="prodModalImg">
    										<h6 class="card-title" id="prodName" style="color: aqua;margin-top: 14px;margin-bottom: 0px;"></h6>
    										<h6 class="card-title" style="color: #fbaa16;margin-top: 4px;margin-bottom: 0px;">&#8377; <span id="prodRate"></span></h6>
					              		</div>
					              		<div class="col-lg-8" id="prodDesc">
					              			
					              		</div>
					              </div>
					          </div>
					          <!-- <div class="modal-footer p-1" id="otpBoxFoot" style="background: #15148e;color: #785207;height: 40px;"> -->
					          </div>
					        </div>
					    </div>
					</div>
					

<script src="../assets/jquery/jquery.js"></script>
<script src="../assets/OwlCarousel2-2.3.4/dist/owl.carousel.min.js"></script>
<script src="../assets/OwlCarousel2-2.3.4/docs/assets/owlcarousel/owl.carousel.min.js"></script>
<script src="../assets/jquery/jquery.serialize-object.min.js"></script>
<script src="../assets/bootstrap/js/popper.min.js"></script>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../assets/slickJS/slick.min.js"></script>
<script src="../assets/vendor-components/sweetalert/sweetalert.min.js"></script>
<script src="../assets/vendor-components/sweetalert/jquery.sweet-alert.custom.js"></script>
<script src="../assets/vendor-components/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="../assets/vendor-components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="../assets/vendor-components/bootstrap-datetimepicker/dist/js/bootstrap-datetimepicker.js"></script>
<script src="../assets/vendor-components/bootstrap-datetimepicker/dist/js/bootstrap-datetimepicker.min.js"></script>


<!-- <script type="text/javascript" src="../slick/slick.min.js"></script> -->
<script src="../js/website/index.js"></script>
<script src="../js/commonfunction.js"></script>
<script type="text/javascript">
$(this).prepareWebsite();
</script>
<script src="../js/website/slider.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  $('.owl-carousel').owlCarousel({
		  loop:true,
		  responsiveClass:true,
		    responsive:{
		        0:{
		            items:2,
		            nav:true
		        },
		        600:{
		            items:3,
		            nav:false
		        },
		        1000:{
		            items:5,
		            nav:true,
		            loop:false
		        }
		    }
	  });
	});
	$(document).ready(function(){
	  $("#serviceBtn").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#serviceItems a").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
	$(document).ready(function(){
	  $("#cityBtn").on("keyup", function() {
	    var value = $(this).val().toLowerCase();
	    $("#cityItems a").filter(function() {
	      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
	    });
	  });
	});
</script>
</body>
</html>