<link rel="stylesheet" href="./css/blog.css">

<!-- This div is for dashboard tab -->
<div class="container-fluid">
   <div class="row">
     <div class="col-lg-3 col-md-3 col-sm-12 p-2">
      <div class="dashboardContainer">
       <div class="jobcontent col-12 col-sm-12 col-md-12 col-lg-12"></div>
       </div>
     </div>
     <div class="col-lg-3 col-md-3 col-sm-12 p-2">
     <div class="dashboardContainer">
       <div class="applContent col-12 col-sm-12 col-md-12 col-lg-12"></div>
       </div>
     </div>
     
     <div class="col-lg-6 col-md-6 col-sm-12 p-2">
     <div class="taskContent p-0 m-1">
        <h1 class="taskHeading m-0 p-1">Task And Reminders 1</h1>
		<div style="">
      		
      		
      		<div class="reminderText">
      			
      		</div>
      		
      	</div>
     </div>	
   </div>
</div>

<div class="row mt-3 ">
	<div class="col-lg-6 col-md-6 col-sm-12 mb-4 p-2">
        <div class="chart-container">
      	 <canvas id="myChart1" width="733" height="395px" style="width: 100%;height: 230px;"></canvas>
        </div>
     </div>	
      
     <div class="col-lg-6 col-md-6 col-sm-12 mb-4 p-2">
       <div class="chart-container">
     	 <canvas id="myChart2" width="733" height="395px"style="width: 100%;height: 230px;" ></canvas>
      </div>
    </div>	
</div>		
	
	
	<!-- <!-- this div is for grid -->
      <div class="col-lg-12 col-md-12 col-sm-12 p-0 dashboardCases">
      	<div id="dashboardlistcont">
			<div th:replace="./fragments/gridMenu::menu('DASHBOARD_JOB_APPLICANT_LIST')"></div>
			 <div id="dashboardlistgrid"  class="ag-theme-alpine gridBox">
 			</div>
		</div>
      </div>
	
	
	
</div>

</div>

<script>
	 $(this).kpiData();
	 $(this).dashboardGrid();
	 $(this).TaskandReminder();
</script>

