<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/rarr-icon.png">
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/fonts/roboto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/login.css">
    <title>COMPLIANCE STORY | LOGIN</title>
    
<style>
      body {
  margin: 0;
  padding: 0;
  background-color: #EAEAEA; 
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 80px;
  max-width: 600px;
  height: 400px;
  border: 1px solid #d2d0d0;
  border-radius:10px;
  background-color: #fff;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
.text-info-col{color:#2977c9}
.btn-info-col{color:#fff; background:#2977c9}

.btn-info-col:hover{background:#0a66c2; color:#fff}
    </style>
    
</head>
<body>
    <!-- <div  class="header">
        <center>
            <h4 class="p-2 mb-0" style="font-family: 'Archivo Black', sans-serif;">BETTER BUDDYS</h4>
        </center>
    </div> -->
    
   <div class="header fixed-top">
        <div class="row">
            
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4 class="text-center" style="
   					 font-size: 40px;
    				font-family: 'Brush Script MT', cursive;">Compliance Story</h4>
    				font-family: 'Brush Script MT', cursive;">Compliance Storys</h4>

            </div>
        </div>

    </div>
    
<!--     
   <div class="login-main-box" >
        <center>
            <form th:action="@{/login}" action="/login" method="POST" name="form">
            	<div style="height: 60px" class="error-box">
            		<div th:if="${param.error != null}" class="alert alert-danger" th:text='${session["SPRING_SECURITY_LAST_EXCEPTION"].message}'>error</div>
            	</div>	
                <div class="p-4 login-box rounded">
                	
                    <div class="pl-3" style="text-align: initial;color: #9e110a;font-weight: 500;display: none;">**Bad Credentials</div>
                    <div class="row pt-2">
                        <label for="" class="col-3 pl-0 usr-lbl" style="font-weight: 500;color: whitesmoke;">User Id</label>
                        <div class="col-8">
                            <input autocomplete="nope" required type="text" name="username" class="form-control" placeholder="User Id">
                        </div>
                    </div>
                    <div class="row pt-2">
                        <label for="" class="col-3" style="font-weight: 500;color: whitesmoke;">Password</label>
                        <div class="col-8" style="position: relative;">
                            <input autocomplete="nope" required name="password" type="password" class="form-control" placeholder="Password">
                            <div class="col-1 pass-eye" onclick="$(this).togglePass()">
                                <i class="fa fa-eye" id="openEye" style="font-size:19px"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4" style="justify-content: center;">
                        <div class=""></div>
                        <button class="btn btn-md get-otp btn-block col-3" type="submit" style="padding: 0px;">Log In</button>
                    </div>
                </div>
            </form>
        </center>
        
    </div> -->
   <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form th:action="@{/login}" action="/login" method="POST" name="form" id="login-form">

                             <div style="height: 60px; text-align:center; width:100%" class="error-box">
            		              <div th:if="${param.error != null}" class="alert alert-danger" th:text='${session["SPRING_SECURITY_LAST_EXCEPTION"].message}'>error</div>
            	              </div>
            	               <h3 class="text-center text-info-col"><b>SIGN IN</b></h3>
                           <div class="pl-3" style="text-align: initial;color: #9e110a;font-weight: 500;display: none;">**Bad Credentials</div>
                            
                            <div class="form-group">
                                <label for="username" class="text-info-col">Username:</label><br>
                                <input type="text" autocomplete="nope" required name="username" id="username" class="form-control" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info-col">Password:</label><br>
                                <input autocomplete="nope" required name="password" type="password" class="form-control" placeholder="Password">
                            <div class="col-1 pass-eye" onclick="$(this).togglePass()">
                                <i class="fa fa-eye" id="openEye" style="font-size:19px;margin-top: -10px;"></i>
                            </div>
                            </div>
                            <div class="form-group">
                               <br>
                                <input type="submit" name="submit" class="btn btn-info-col btn-md" value="Sign in">
                            </div>
                            <div id="register-link" class="text-right">
                               <br> <a href="./forgetPassword" class="text-info-col">Forget Password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<script src="./assets/jquery/jquery.js"></script>
<script src="./assets/bootstrap/js/popper.min.js"></script>
<script src="./assets/bootstrap/js/bootstrap.min.js"></script>

<script src="./js/login.js"></script>
</body>
</html>