
<form data-th-id="${#strings.concat('viewapplicantdiv',param.tabIndex)}">

	              <input  type="hidden" name="jmId" id="jmId" value="0"/>
		
		          <input  type="hidden" name="siteId" id="siteId"  value="0"/>
		          <input  type="hidden" name="jaId" id="jaId" value="1"/>
		          <input  type="hidden" name="jsmId" id="jsmId" value="1"/>
		          <input  type="hidden" name="isActive" id="isActive"  value="Y"/>
		       
				  
                <div class="container-fluid mt-10">
			          <div class="row">
				         <div class="col-lg-12 col-md-12 col-12">
					          <div class="box">
						          <div class="box-body">
							           <div class="row">
								   <div class="col-12">
												
					            	  <div class="row job-form mb-2">
	                                                            
		                                 <div class="col-md-3">
		                               		 <label>Company</label>	  
		                                     <select class="form-control form-control-sm select2" style="width: 100%;"  name="clId"   id="clId"><option>-- Select --</option></select> 
		                               		                                
		                                  </div>
		                                  
		                                 
		                                 <div class="col-md-3">
		                                     <label>Job Code</label>
		                                  	 <input type="text"  class="form-control form-control-sm" name="jobCode" id="jobCode">                                  
		                                  </div>
		                                 
		                                
		                                  <div class="col-md-3">
		                                     <label>Received Date</label>
		                                      <input class="form-control form-control-sm" type="text" data-provide="datepicker" id="jobRecdDt"  name="jobRecdDt"/>
		                                     
		                                  </div>
		                                
		                                  <div class="col-md-3">
	                                		<label>Job Title</label>
	                                       <input name="jobTitle" id="jobTitle" type="text" class="form-control form-control-sm">
	                                		
										</div>
	                              
	                     	 
										 <div class="col-md-3"> 
											 <label>No. Of Opening</label>                      
											<input type="text"  name="noOfPosition" id="noOfPosition" class="form-control form-control-sm"> 
		                                  </div>
										 
										 <div class="col-md-3">
										  	<label>Location</label>
											<select class="form-control form-control-sm select2" style="width: 100%;"  name="location"   id="location" multiple><option value="" selected="selected">-- Select --</option></select> 
		                                  </div>
		                                  
		                                 <!-- <div class="col-md-3">
												<label>Budget </label><br>
												 <input type="number"  name="ctc" id="budget"  class="form-control form-control-sm"> 
						        
										</div> 
		                         -->          
									 
	                               
										 <div class="col-md-3">
										 	<label>Notice Period </label><br>
											<select name="joiningPeriod" id="noticePeriod" class="form-control form-control-sm select2">
												<option value="">---Select---</option>
												
											</select>
		                                  </div>
										 
										 
										 <div class="col-md-3">
										  	 <label>Min Experience</label><br>
												<select name="minTotalExp" id="miniTotalExp" class="form-control form-control-sm select2">
												    <option value="">---Select---</option>
														   
												</select>	
		                                  </div>
		                                  
		                               <div class="col-md-3">
		                           			                                                       
		                           		 <label>Max Experience </label><br>
														  <select name="maxTotalExp" id="maxmTotalExp" class="form-control form-control-sm select2">
														    <option value="">---Select---</option>
														   
														  </select>
		                             </div>     
		                                  
		                             <div class="col-md-3">
		                            	 <label>Min Relevant Experience </label><br>
														  <select name="minRelExp" id="minReleExp" class="form-control form-control-sm select2">
														    <option value="">---Select---</option>
														  
														  </select>
		                            </div>    
		                                  		                                  	
	                                </div>
                               
                              
		                         
		                          <div class="row job-form">
                       				  
		                            
		                             <div class="col-md-4">
		                            	<label>Primary Spoc</label> 
										<select type="text" name="spocId"  id="spocviewId"  class="form-control form-control-sm select2" onchange="$(this).onSpocChange()"> 
											<option value="">---Select---</option>
										</select>
		                            </div>  
		                            
		                            
		                             <div class="col-md-4">
		                            	 <label>Spoc Email </label> 
										<input type="email" name="companySpocEmail" id="companySpocEmail"  data-rule-email="true" class="form-control form-control-sm" >
		                            </div>  
		                            
		                            
		                             <div class="col-md-4">
		                            	 <label>Spoc Contact Number </label> <span id="phoneSpan" style="color:red;"></span>
										 <input type="text"  name="companySpocPhone" id="companySpocPhone"  class="form-control form-control-sm" >
		                            </div>  
		                              
		                              
		                              
		                         </div>  
		                         
		                         <div class="d-flex justify-content-end gap-items-2 mt-10 mb-10">
										
										<button type="button" class="btn  m-1 pickupButton"  style="float: right;" id="reset" onclick="$(this).saveViewApplicant()">
										 PickUp This Profile
									</button>	
								</div> 
		                         
										
									
									
								<div class="col-lg-2 col-md-3 col-4">
									
  	   								<input type="text" class="gridfilter filter-view-text-box form-control" placeholder="Search...">
  	
  	 						   </div>
  	 						   
								<div id="viewApplicantListCont" class="pad">
								
									<div th:replace="./fragments/gridMenu::menu('JOB_OPENING_DASHBOARD')"></div> 
									<div id="viewApplicantList" class="ag-theme-alpine gridBox">
 									</div>
								</div>
									
							<!--  	<div class="d-flex justify-content-end gap-items-2 mt-10 mb-10">
													
										<button type="button" class="btn btn-danger m-1 pickupButton"  id="reset" onclick="$(this).saveViewApplicant()">
										 PickUp This Profile
										</button>
								</div>  -->
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	
<!-- 	<script src="./js/addApplicant.js"></script>
 -->


<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = ("viewapplicantdiv"+tabIndex);
var FI = $("#viewapplicantdiv"+tabIndex);
$(this).fillviewdashboardForm(FI);
$(this).viewApplicantList($FI);
</script>
