<form data-th-id="${#strings.concat('reportList',param.tabIndex)}">
  <div class="pad" style="padding-top: 15px;">
    <div th:replace="./fragments/gridMenu::menu('reportList')"></div>
    

    <!--Datatable-->
    <div class="box">
      <!-- /.box-header -->
      <div class="box-body" id="dTable">
        <div class="gridWrapper m-4">
        	<div  class="ag-theme-alpine gridBox reportDatatable"></div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</form>

<script>
	var tabIndex = [[${param.tabIndex}]];
	var $FI = ("reportList"+tabIndex);
	$(this).reportListOnReady($FI);
	$("#wrapper").toggleClass("toggled");
	$(".graphClassToggle").toggleClass("graphBoxWithMenu");
</script>