.post ul {
	padding-left: 0;
}

.post ul  li {
	border: 2px solid #eee;
	border-radius: 5px;
	padding: 12px;
	transition: border-color 0.4s cubic-bezier(.25, 1, .2, 1);
	overflow: hidden;
	margin-bottom: 25px;
}

@media ( min-width : 991px) {
	.blog-logo {
		margin-left: 3rem !important;
	}
}

.post ul li .post-title {
	color: #012f86
}

.content {
	padding: 15px;
	font-size: 18px;
	margin-bottom: 15px;
	border: 2px solid #eee;
	border-radius: 11px;
	height: 95%;
}

.content h4 {
	margin-top: 5%;
}

.blog a {
	color: #000;
}

.blog a:hover {
	text-decoration: none;
	color: #000;
}

.blog:hover {
	transform: scale(1.1);
}

.col-container {
	display: table;
	width: 100%;
}

.col {
	display: table-cell;
	padding: 16px;
}

.blog {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	}
	
	

