::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
button{
	outline: none;
}
button:hover,button:active,button:focus{
	outline: none;
}
body{
	font-size: 12px;
	/* font-family: 'Padauk', sans-serif; */
}

.label-box{
	margin-bottom: 0.1rem;
}

.high{
    min-height: 814px;
	
}

.close{
	float: right;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
    margin-top: 0px !important;
    color: #0a0909 !important;
    opacity: 4 !important;
    outline: none;
    text-shadow: none;
}

.closeTab:active, .closeTab:focus {
    outline: none;
}

button:active, .button:focus {
    outline: none !important;
}

.header{
    font-family: 'Roboto', sans-serif;
    background: #000080;
    color: #ffffff;
    position: sticky;
    height: 50px;
    box-shadow: 0px 2px 6px 3px #35486b;
    z-index: 999999;
}

.modal-header{	
    background: #a9e8e8;	
}

.modal-footer{
	background: #a9e8e8;
}

.get-otp{
    background-color: #00b2ff;
    color: whitesmoke;
}
.get-otp:hover{
    background-color: #439cc3;
    color: whitesmoke;
}


.cancel-btn{
    background-color: #dce3e8;
    color: black;
}

.cancel-btn:hover{
    background-color: #6f6f6f;
    color: black;
}

.sideMenu{
	background:#000080 !important;
	cursor: pointer;
	font-weight: bold;
	color: whitesmoke !important;
	font-size: 16px;
}
.sideSubMenu{
	background: #2977c9;;
	cursor: pointer;
	color: whitesmoke;
}
.sideMenu:hover{
	background: #3081e6 !important;
	cursor: pointer;
	font-weight: bold;
	color: whitesmoke !important;
}

.sideMenu:active{
	background: #2977c9;
	cursor: pointer;
	font-weight: bold;
	color: whitesmoke !important;
}
.sideMenu:visited{
	background: linear-gradient(to right ,#61b9e2 , #61b9e2) ;
	cursor: pointer;
	font-weight: bold;
	color: whitesmoke !important;
}


.sideSubMenu:hover{
	background: #61b9e2 !important;
	cursor: pointer;
	color: #fff !important;
}

.sideSubMenu:active{
	background: #61b9e2;
	cursor: pointer;
	color: whitesmoke;
}

.sideSubMenu:visited{
	background: #61b9e2;
	cursor: pointer;
	color: whitesmoke;
}
.menuTabActive{
	background: linear-gradient(to right ,#2977c9 , #2977c9);
	color: antiquewhite !important;
	cursor: pointer;
}
.menuTabActive:hover{
	background: linear-gradient(to right ,#3081e6 , #3081e6);
    color: whitesmoke;
    cursor: pointer;
}

.menuTabInActive{
	background: linear-gradient(to right, #2977c9 , #2977c9);
	color: black;
	cursor: pointer;
}

.menuTabInActive:hover{
	background: linear-gradient(to right ,#3081e6 , #3081e6);
    color: #fff !important;
    cursor: pointer;
}

.customtab>li{
	cursor: pointer;
}


.gridBox{
	flex: 1 1 auto;
	height: 437px;
}
.gridWrapper {
	display: flex;
  	flex-direction: column;
  	height: 100%;
}

.footer {
   position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24355a;
    color: #e2aa54;
    text-align: end;
}
.tooltip-inner {
    max-width: 500px;
    width: 500px;
    z-index: 1000;
}


.i-icon{
	float: right;
    font-style: italic;
    padding: 0px 9px 0px 9px;
    background-color: #000000ab;
    color: white;
    line-height: 1.7;
    border-radius: 50%;
    font-size: 14px;
    margin-top: 7px;
}

.i-icon:hover{
	float: right;
    font-style: italic;
    padding: 0px 9px 0px 9px;
    background-color: black;
    color: white;
    line-height: 1.7;
    border-radius: 50%;
    font-size: 1px;
    margin-top: 7px;
}

.menuIcon{
	margin-left: 5px;
    background-color:#6dcefb8f; 
}

.amberMenuIcon{
	margin-left: 5px;
    background-color: #FFBF00;
}

.amberMenuIcon:hover{
	margin-left: 5px;
    background-color: #6d92fb;
}

.menuIcon:hover{
	margin-left: 5px;
    background-color: #6dcefb;;
}


.irdalGuideLine{
	margin-bottom: 0.4rem;
    font-size: 13px;	
}

.addButton{
	border-radius: 50px !important;
    background-color: #3c98ef;
}
.removeButton{
	border-radius: 50px !important;
    background-color: burlywood;
}

.select-box{
	height: 32px !important;
	cursor:pointer;
	width: 100% !important;
}




.select2-selection.select2-selection--single{
	height: 25px !important;
	border: 1px solid #d6d5d5 !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 19px !important;
	/* font-size: 0.7rem !important; */
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 1px !important;
}
.select2-container{
	width: 100% !important;
}

.new-box-body{
	background-color: #dad9d947;
    margin-top: 7px;
    border-radius: 6px;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 14px;
}
.inBoxBody{
	background-color: white;
    margin-left: 0px;
    
    padding: 10px;
    padding-left: 8px;
    border-radius: 8px;
    box-shadow: -1px -1px 3px 0px;
}

.saveButton{
	background-color: #309e30;
    border-radius: 5px !important;
    border: none !important;
    color: white;
    box-shadow: 2px 1px 3px 0px gray !important;
}
.cancelButton{
	background-color: #4f4e4aa6;
    border-radius: 5px !important;
    border: none !important;
    color: white;
    box-shadow: 2px 1px 3px 0px gray !important;
}
.button.btn.saveButton:hover {
    background-color: #2b66ec;
}

.closeBtn{
	background: #007bff;
    border-radius: 50%;
    color: black;
    font-size: 18px;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.lsp{
	width: inherit;
    height: inherit;
}

.form-control{
	line-height: 1 !important;
    font-size: 11px !important;
}

.docBtn{
	background: none;
    height: 32px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
    color: darkred;
}

.docBtn:hover{
	color: red;

}

img#imageDisp{
	cursor: pointer;
	height:110px;
	box-shadow: 0px -1px 4px 0px;
}

#chooseFile {
    padding: 7px;
    background: #56ccf26b;
    border-radius: 6px;
    font-weight: 600;
    box-shadow: 0px 0px 4px 0px #6f6f6f;
    cursor: pointer;
}

.docLabel{
	margin-bottom: 0px;
	cursor: pointer;
	height: 25px;
	margin-top: 3px;
}
.ag-row>div {
    font-size: 11px !important;
    line-height: 2.5 !important;
}
input[type=radio] {
  cursor:pointer
}

.custom-control-label {
	cursor:pointer!important;
}
.loader{
	height: 100vh;
    width: 100%;
    background: black;
    color: white;
    z-index: 1022;
    padding: 23%;
    opacity: 0.8;
    position: absolute;
}
.notiHeader{
	font-family: 'Padauk', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    margin-top: 90px;
}


.btn-danger{
	background: #e04545;
}

.row .job-form{    
     border: 2px solid #eee;
    border-radius: 10px;
    background: #f8f8f885;
    padding: 15px;
    margin:0;
    width: 100%;
  }
 
 .pickupButton{
	background-color: #45aaf0;
    border-radius: 5px !important;
    border: none !important;
    padding: 10px 15px 10px 15px;
    color: white;
    box-shadow: 2px 1px 3px 0px gray !important;
}
button.btn.pickupButton:hover {
    background-color: #2b66ec;
}
 
 /* This css is for eye icon in user form */
.user-eye{
	position: absolute;
    top: 41%;
    left: 79%;
}

/* This css is for save button in jobApproval
 */
 .emailSaveBtn{
	background-color: #1e7b4ef7;
    border-radius: 5px !important;
    border: none !important;
    color: white;
    box-shadow: 2px 1px 3px 0px grey !important;
}

/* This css  is used for resume utton in listing */ 	
.resumeOpen{
	background-color: #1e7b4ef7;
    border-radius: 5px !important;
    border: none !important;
    color: white;
    box-shadow: 2px 1px 3px 0px grey !important;
    width: 100px;
    outline:none;
}

#formatTable{
	border: 1px solid darkgrey;
    box-shadow: 2px 2px 3px 0px grey;
    height: 190px;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 0px 12px 0px 0px;
}	


/* This css is for No jobs div in Active jobs */
.noJobs{
    padding: 44px 26px;
 }
 
/*  This css is for heading tag in nojob div */
.displayMsg{
	color: #2977c9;
    font-size: 25px;
}

/* css for comment box */
#cmtContainer{
    overflow-y: scroll;
   height: 225px!important
}

.chatDiv {
   position: absolute;
    width: 100%;
    bottom: 0px;
    height: 33px;
    overflow-y: scroll

}


.sendBtn {
    width: 56px;
    border: none;
    outline: none;
    color: #050058;
    background-color: #56ccf2;
    font-size: 16px;
    cursor: pointer;
}



#mypinModalLabel{
	font-size: medium;
    font-style: oblique;
}


#pinheader{
	 background: linear-gradient(to right , #56ccf2f2, #2f80ed52);
     color: white;
     border-radius: 6px
}
