.dashBoardTbl{
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 3px 0px grey;
    height: 190px;
    overflow-x: scroll;
    margin: 0px 12px 0px 0px;
}

.smallDashBoardTbl{
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 3px 0px grey;
    height: 190px;
    overflow-x: scroll;
    margin: 0px 12px 0px 0px;
}

.dashBoardTbl>table>thead {
    font-size: 12px;
    font-family: 'Padauk', sans-serif;
}
.dashBoardTbl>table>tbody {
    font-size: 12px;
    font-family: 'Padauk', sans-serif;
}
.allTable{
    margin: 10px 0px 0px 27px;
}
.dashBoardTbl>table>thead>tr>th {
    padding: 6px 0px 6px 13px;
}
.dashBoardTbl>table>tbody>tr>td {
    padding: 5px 0px 5px 13px;
}



.smallDashBoardTbl>table>thead {
    font-size: 12px;
    font-family: 'Padauk', sans-serif;
}
.smallDashBoardTbl>table>tbody {
    font-size: 12px;
    font-family: 'Padauk', sans-serif;
}
.smallDashBoardTbl>table>thead>tr>th {
    padding: 6px 0px 6px 13px;
}
.smallDashBoardTbl>table>tbody>tr>td {
    padding: 5px 0px 5px 13px;
}

@media screen and (max-width: 1030px) {
    .smallDashBoardTbl{
        border: 1px solid darkgrey;
	    box-shadow: 2px 2px 3px 0px grey;
	    height: 190px;
	    overflow-x: scroll;
        width: 100% !important;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 900px) {
    .dashBoardTbl{
        border: 1px solid darkgrey;
	    box-shadow: 2px 2px 3px 0px grey;
	    height: 190px;
	    overflow-x: scroll;
        width: 100% !important;
        margin-bottom: 10px
    }
}

.dashBoardTbl>table>tbody>tr>td>a {
    color: #1166e6 !important;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Padauk', sans-serif;
}
.smallDashBoardTbl>table>tbody>tr>td>a {
    color: #1166e6 !important;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Padauk', sans-serif;
}
.dashBoardTbl>table>tbody>tr>td>center>a {
    color: #1166e6 !important;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Padauk', sans-serif;
}
.smallDashBoardTbl>table>tbody>tr>td>center>a {
    color: #1166e6 !important;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Padauk', sans-serif;
}
.cardData>a{
	color: #1166e6 !important;
    cursor: pointer;
}
.dashRefreshBtn{
	border: none;
	border-radius: 50%;
	background-color: #000000b8;
	height: 30px;
	width: 30px;
	color: white;
}
.dashRefreshBtn:hover{
	border: none;
	border-radius: 50%;
	background-color: black;
	height: 30px;
	width: 30px;
	color: white;
}

/* Shubham code for dashboard Kpi */

/* .jobDtl{
	height: 302px;
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 3px 0px;
    border-radius: 10px;
    overflow-y: scroll;
    
   
} */



.activeDiv{
	padding:4px;
	text-align: center;
}

.flip-card {
 background-color: transparent;
  width: 100%;
  height: 184px;
  perspective: 1000px;
    border: 2px solid #eee;
   
    border-radius: 9px;
     -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
     
}


.flip-card div {
    display: block;
    height: 100%;
    width: 100%;
    
    color: white;
    
   
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}





.flip-card .flip-card-front {
  background-color: #56ccf2d9;;
  color: white;
  border-radius: 7px;
  cursor:pointer;
}
.flip-card-front:hover {
    background-color: #56CCF2;
    box-shadow: 0 4px 10px rgb(0 0 0 / 98%);
}
 .flip-card .flip-card-back {
  	background-color: #56CCF2;
    color: white;
    text-align: left;
    font-size: large;
    padding: 17px;
    border-radius: 7px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.flip-card-back:hover {
    background-color: #56CCF2;
    box-shadow: 0 4px 10px rgb(0 0 0 / 98%);
}


.flip-card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}


/* .list-group{
	position:relative;
	width: 100%;
	margin-top: -138px;
	line-height: 39px;
    border-radius: 17px;
    margin-left: -3px;
    background: #2977c9;
	
}

.list-group-item {
	padding:0px!important;
	background-color: #2977c9!important;
    border-bottom: 1px solid rgba(0,0,0,.125)!important;
} */


.backtxt{
	display: inline;
	font-size: 13px;
}

.clickLinks{
	display: inline;
	cursor:pointer;
	font-size: 13px;
	color: #000000ab;
	text-decoration: underline;
}
/* .small, small {
    font-size: 20px!important; 
    font-weight: 400;
} */


.blockquote {
	font-style: italic;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0rem!important ;
    color: #172b4c;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: 0.25rem solid #f3f6f9;
}



.activebtn{
	line-height:1;
	float: left;
}

.fronttext{
	font-size: 13px;
    font-weight: 500;
    text-align: center
}


.backtxt:hover{
	color: #2977c9;
    text-decoration: none;
}

.filterBtn{
	float: right;
    margin-top: 7px;
    cursor: pointer;
}
.yearBtn{
	width: 64px;
}

.cardContainer{
	min-height: 345px;

}
.jobDiv{
	 box-shadow: 2px 2px 3px 0px;
    border-radius: 10px;
}



.jobcontent{
	padding: 30px;
    font-size: 18px;
    margin: 3px;
    border: 2px solid #eee;
    border-radius: 11px;
    border: none;
    color: #ffffffde;
    font-size: 12px;
    font-family: 'Roboto';
    min-height: 216px;
    max-height: 425px;
	 
}


.applContent{
	padding: 30px;
    font-size: 18px;
    margin: 3px;
    border: 2px solid #eee;
    border-radius: 11px;
    border: none;
    color: #ffffffde;
    font-size: 12px;
    font-family: 'Roboto';
    min-height: 216px;
    max-height: 425px;
	
}
.dashboardContainer{
	max-height: 231px;
	box-shadow: 7px 7px 9px 0px;
    border-radius: 10px;
    background-color: #1da1f2d9;;
    cursor:pointer;
    /* margin: 5px 0px 0px -15px; */
}

.dashboardContainer:hover{
	background-color:#1da1f2f5;
}
#myChart1{
    margin: 0 auto;
    }
    
#myChart2{
    margin: 0 auto;
    }    
    
    
 .chart-container{
   background-color: whitesmoke;
   box-shadow: 7px 7px 9px 0px;
   border-radius: 10px;
   cursor:pointer;
 }   
 
 
.chrtDiv{
	max-width: 46.5% !important;
} 
.dashboardCases{
	max-width: 100% !important;
  	box-shadow:5px 21px 0px 0px;
   	border-radius: 10px;
}

.taskClass{
	max-width: 38.666667% !important;
}
.taskContent{
	background: whitesmoke;
    box-shadow: 7px 7px 9px 0px;
    border-radius: 10px;
    min-height: 214px;
    max-height: 214px;
    overflow-y: scroll;
}
.taskHeading{
    background: #2977c9;
    color: #ffffff;
    font-style: normal;
    font-size: 21px;
    font-family: 'Roboto';
}

.taskPara{
	font-style: italic;
    font-size: 13px;
    color: #403737;
}

@media(max-width:680px)
{
	#userName{display:none;}
}