.menu-item{
    padding: .55rem 1.05rem;
    background-color: #f3c45c;
}
.menu-item:hover{
    background-color: #ccb783;
}
.menu-box{
    background: #2977c9;
    border-top: 1px solid #2ca5fa;
}

.dropdownn{
    transform: translate3d(-103px, 30px, 0px) !important;
    background: linear-gradient(to top,#909090 , #ffffff);
    color: #d2d2d2;
}

.submenu{
    cursor: pointer;
}
.submenu>a{
    text-decoration: none;
    color: #24355a;
}

.submenu:hover{
    background-color: #fbfbfb;
}

.graphBox{
    border: 1px solid #e6ab27;
    box-shadow: 2px 2px 3px -1px #a77403;
    width: 23.5%;
}

.toastBtn{
    border: none;
    padding: 0px;
    margin: 0px 0px 0px 10px;
    float: right;
    background-color: transparent;
}


@media screen and (max-width: 1230px) {
    .graphBox{
        border: 1px solid #e6ab27;
        box-shadow: 2px 2px 3px -1px #a77403;
        width: 48%;
    }
  }

  @media screen and (max-width: 1020px) {
    .graphBox{
        border: 1px solid #e6ab27;
        box-shadow: 2px 2px 3px -1px #a77403;
        width: 47.5%;
    }
  }
  @media screen and (max-width: 820px) {
    .graphBox{
        border: 1px solid #e6ab27;
        box-shadow: 2px 2px 3px -1px #a77403;
        width: 47%;
    }
  }
  @media screen and (max-width: 690px) {
    .graphBox{
        border: 1px solid #e6ab27;
        box-shadow: 2px 2px 3px -1px #a77403;
        width: 46%;
    }
  }

  @media screen and (max-width: 525px) {
    .graphBox{
        border: 1px solid #e6ab27;
        box-shadow: 2px 2px 3px -1px #a77403;
        width: 45%;
    }
  }

.bellBox{
	margin: auto;
	border: 1px solid #9a9a9a;
	padding: 4px 9px 4px 9px;
	border-radius: 50%;
	background-color: #1b1b1b;
	color: #efefef;
	cursor: pointer;
}
.bellNum{
	position: absolute;
	top: 7px;
	left: 22px;
	color: white;
	border: 1px solid #009a1a;
	font-size: 10px;
	font-weight: 800;
	border-radius: 50%;
	padding: 0px 4px 0px 4px;
	background-color: #009a1a;
}
.notificationBox{
	position: absolute;
	z-index: 1000;
	top: 60px;
	background-color: #ffffff;
	right: 5%;
	border: 1px solid #bdafaf;
	border-radius: 4%;
	box-shadow: 0px 0px 4px 1px grey;
	display: none;
	width: 310px;
	max-height: 285px;
	overflow-y: scroll;
}
.notificationBox>ul{
	list-style: none;
    padding: 0px;
    margin: 0px;
}

.notificationBox>ul>li>a{
	color: black;
    text-decoration: none;
}
.notificationBox>ul>li{
	background-color: #f5eeee;
    padding: 4px 4px 4px 4px;
    border-bottom: 1px solid grey;
    font-family: cursive;
}
/* .totalBal{
	position: absolute;
    z-index: 995;
    right: 20px;
    background-color: #24f782a1;
    border: 0px solid;
    border-radius: 10px;
    bottom: 20px;
}
.totalBal>div{
	float: left;
    margin: 6px;
} */
.dashTblHead{
	background: linear-gradient(to right ,#3230e6 , #80ccc1);
	padding: 6px 0px 8px 10px;
	position: sticky;
	top: 0;
}
.spclText {
    color: red;
    font-family: 'Padauk', sans-serif;
    font-weight: bold;
}
.heading {
    font-weight: bold;
}

@media(max-width:556px)
{
	.bellBox {
    margin: auto;
    border: 1px solid #9a9a9a;
    border-radius: 50%;
    background-color: #1b1b1b;
    color: #efefef;
    cursor: pointer;
}
}
