.login-box{
    width: 40%;
    box-shadow: 3px 2px 4px 1px #3056aca3;
    background: #2977c9;
}

.login-main-box{
    height: 92.4vh;
    padding-top: 10%;
    background: linear-gradient(275deg, #6bcac1, #bdbee4);
}

.error-box{
	width: 40%;
}
.pass-eye{
    position: absolute;
   /*  top: 18%;
    left: 76%; */
    top: 58%;
    left: 83%;
}



@media screen and (max-width: 1200px) {
    .pass-eye{
        position: absolute;
        top: 18%;
        /* left: 70%; */
        left:79%;
    }
}



@media screen and (max-width: 930px) {
    .login-box {
        width: 75%;
    }
    .error-box{
		 width: 75%;
	}
    .pass-eye{
        position: absolute;
        /* top: 18%;
        left: 78%; */
        top: 58%;
        left: 75%;
    }

}

@media screen and (max-width: 680px) {
    .login-box {
        width: 92%;
    }
    .error-box{
		 width: 92%;
	}
    .login-main-box{
        height: 93.3vh;
        padding-top: 33%;
    }
    .pass-eye{
        position: absolute;
       /*  top: 18%;
        left: 73%; */
        top: 58%;
        left: 72%;
    }
    h4{
        font-size: 1.3rem;
    }
}

/* This css is for change password eye icon */
.changePass-eye{
	position: absolute;
    top: 18%;
    left: 83%;
}


#forgot-box{
	margin: 4%;
    /* padding: 20px; */
    background: #ffffff;
   
    border-radius: 10px;
    box-shadow: 0px 2px 20px 7px #4d35d2bd;
    border: 1px solid #060606;
}