.pinBody{
	background: #ecde9f;
	overflow-y: scroll;
    height: 566px;
}



.pinboards {
	
	padding: 20px;
	
	
}

.py-2 {
	padding: 2%;
	padding-bottom: 1.5rem !important;
	padding-top: 1.5rem !important;
}

.h-100-p {
	height: 100%;
}

.card h4 {
	margin-top: 7px;
	font-size: 18px;
}

.card p {
	font-size: 12px;
}

.pinboards .card small {
	position: absolute;
	top: 5px;
	left: 5px;
	font-size: 10px;
}

.pinboards .card p {
	font-size: 12px;
	margin: 0;
}

.pinboards .card {
	text-decoration: none;
	color: #000;
	background: #56ccf2;
	display: block;
	width: 100%;
	padding: 10px;
	/* Firefox */
	-moz-box-shadow: 9px 7px 12px #212121;
	/* Safari+Chrome */
	-webkit-box-shadow: 9px 7px 12px rgb(33 33 33/ 70%);
	/* Opera */
	box-shadow: 9px 7px 12px rgb(33 33 33/ 70%);
}

.pinboards div:nth-child(even) {
	-o-transform: rotate(4deg);
	-webkit-transform: rotate(4deg);
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	position: relative;
	top: 5px;
}

.pinboards div:nth-child(3n) {
	-o-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	position: relative;
	top: -5px;
}

.pinboards div:nth-child(5n) {
	-o-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	position: relative;
	top: -10px;
}

.pinboards div:hover, .pinboards div:focus {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-moz-transition: -moz-transform 0.15s linear;
	-o-transition: -o-transform 0.15s linear;
	-webkit-transition: -webkit-transform 0.15s linear;
	transition: transform 330ms ease-in-out;
	position: relative;
	z-index: 5;
}

@media ( max-width : 575px) {
	.py-2 {
		padding: 17%;
		padding-bottom: 1.5rem !important;
		padding-top: 1.5rem !important;
	}
}

@media ( min-width : 576px) and (max-width: 830px) {
	.col-sm-3 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.py-2 {
		padding: 5%;
		padding-bottom: 1.5rem !important;
		padding-top: 1.5rem !important;
	}
}


@media ( min-width : 831px) and (max-width: 990px) {
	.col-sm-3 {
		-ms-flex: 0 0 33.33%;
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.py-2 {
		padding: 5%;
		padding-bottom: 1.5rem !important;
		padding-top: 1.5rem !important;
	}
}



.modal-dialog-full-width {
	width: 100% !important;
	height: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	max-width: none !important;
}

.modal-content-full-width {
	height: auto !important;
	min-height: 100% !important;
	border-radius: 0 !important;
	background-color: #fff !important
}

.modal-header-full-width {
	border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width {
	border-top: 1px solid #9ea2a2 !important;
}

.w-100 {
	width: 100% !important;
}

.icon-plus {
	font-size: xx-large;
	position: fixed;
	bottom: 5px;
	right: 5px;
	margin: 0;
	padding: 0px 52px;
	
	}
	
	
#closepinboard{
    padding: 5px 7px 4px 7px;
    border-radius: 54%;
    
    color: #efefef;
    cursor: pointer;
    outline:none;
    margin-top: -20px;
    margin-right: -22px;
    
}	