 #wrapper {
    overflow-x: hidden;
 }

#sidebar-wrapper {
  min-height: 92.4vh;
  margin-left: 0;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 13rem;
  height: 92vh;
  overflow-y: scroll;
}

.graphBoxWithMenu{
  width: 23% !important;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -13rem;
}

.sidebar-toggler{
  color: white;
  border: none;
  outline: none;
}

.sidebar-toggler:hover{
  color: white;
  border: none;
  outline: none;
}

.sidebar-toggler:active{
  color: white;
  border: none;
  outline: none;
}

.sidebar-toggler:focus{
  color: white;
  border: none;
  outline: none;
}

.openMenu{
	height: 35px;
    width: 27px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #051a46;
    position: absolute;
    top: 55px;
    left: 0px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 23px;
    opacity: 0.8;
    color: white;
    cursor: pointer;
  }
  
 .closeMenu{
   height: 35px;
   width: 27px;
   border-bottom-right-radius: 40px;
   border-top-right-radius: 40px;
   background-color: #00b2ff;
   position: absolute;
   top: 55px;
   left : 209px;
   padding-left: 5px;
   font-weight: bold;
   font-size: 23px;
   opacity: 0.8;
   color: #24355a;
   cursor: pointer;
 }

.openMenu:hover{
	background-color: #3090b9;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

/*   .openMenu{
	height: 35px;
    width: 27px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #00b2ff;
    position: absolute;
    top: 50px;
    left : 209px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 23px;
    opacity: 0.8;
    color: #24355a;
    cursor: pointer;
  } */

  .sidebar-toggler{
    /* font-size: 1.12rem !important;
    background-color: #adadad !important;
    border-radius: .15rem !important;
    height: 37px;
    display: block; */
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -13rem;
  }
}

@media screen and (max-width: 768px) {


  .sidebar-toggler{
    /* font-size: 1.3rem !important;
    background-color: #adadad !important;
    border-radius: .15rem !important; */
    /* display: block !important; */
  }
}

