<style>
.select2-selection__arrow b{
    display:none !important;
}
</style>
 
 <form data-th-id="${#strings.concat('addEditJobApplicant',param.tabIndex)}"> 
	<div class="container-fluid mt-10">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-12">
				<div class="box">
					<div class="box-body">
						<div class="row">
							<div class = "col-lg-8 col-md-8 col-sm-12">
							<div class="col-12">
							<h4 class="box-title text-primary"> Job Details</h4>
								<div class="row job-form">
									<input  type="hidden" name="jaId" id="jaId" value="0"/>
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Case No.</label>
										  <input name="jaId" id="caseNo" type="text" class="form-control form-control-sm" placeholder="Case No">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Case Open Date</label>
										  <input type="text" name="caseOpenDate" id="caseOpenDate" class="form-control form-control-sm" placeholder="Case Open Date"> 
										</div>
									  </div>
									  
									  
									  <div class="col-md-6">
										<div class="form-group">
										  <label>Job Title |</label><a href="#" style="color: #e22462;font-size: 10px;" onclick="$(this).JobDetail();"> Description</a><br>
										   <input type="text" name="jobTitle" id="jobTitle" class="form-control form-control-sm" placeholder="Job Title">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Company </label><br>
										  <select class="form-control form-control-sm select2" style="width: 100%;" name="comp" id="comp"><option value="" selected="selected">-- Select --</option></select> 
														  
										</div>
									  </div>
									  
									 <div class="col-md-3">
										<div class="form-group">
										 <label>Job Open Date</label><br>
										  <input type="text" name="jobOpenDate" id="jobOpenDate" class="form-control form-control-sm" placeholder="Job Open Date">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label id="budgetLabel"></label><br>
										  <input type="text" name="budget" id="budget" class="form-control form-control-sm" placeholder="Budget">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Min Experience (Years)</label><br>
										  <input type="text" name="minExp" id="minExp" class="form-control form-control-sm" placeholder="Min Experience">
										</div>
									  </div>
									  
									   <div class="col-md-3">
										<div class="form-group">
										  <label>Spoc Name</label><br>
										  <select class="form-control form-control-sm select2" style="width: 100%;" name="spocName" id="spocName"><option value="" selected="selected">-- Select --</option></select>
										</div>
									  </div>
									  
									  <div class="col-md-6">
										 <div class="form-group">
											  <label>Location </label>
												  <select class="form-control form-control-sm select2" style="width: 100%;" name="loc" id="loca" multiple><option value="" selected="selected">-- Select --</option></select> 		  
										  </div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Job Code </label>
										   <input type="text" name="jobCode" id="jobCode" class="form-control form-control-sm" placeholder="Job Code">
										</div>
									  </div>
									  
									  <!-- <div class="col-md-3">
									  	<button type="button" class="btn btn-success" onclick = "$(this).JobDetail();">Job Details</button>
									  </div> -->
								</div>
							</div>
							
							<div id="MyPopup" class="modal fade" role="dialog">
							    <div class="modal-dialog">
							        <div class="modal-content">
							            <div class="modal-header">
							            	<h4 class="modal-title float-left">Job Description </h4>
							       			<button type="button" class="close pt-2 cross" data-dismiss="modal">&times;</button>
							            </div>
							            <div class="modal-body description">
							               
							            </div>
							            <div class="modal-footer">
							            	<button type="button" class="btn cancelButton btn-danger" data-dismiss="modal" style = "float:right" id="closeDesignationBtn2">Close</button>
							            </div>
							        </div>
							    </div>
							</div>
							
							
							<div class="col-12 mt-3">
								<div class = "row">
								
								<div class = "row col-md-12">
									<div class = "col-md-9">
										<h4 class="box-title text-primary"> Applicant Details</h4>
									</div>
									<div class = "col-md-3 pl-2">
										<a href = "#" class = "pl-4 ml-2 text-primary" id="show" onclick="$(this).onEditApplicant();">Edit <i class="ace-icon fa fa-pencil-square-o pl-1 pr-2"></i> |</a>
										<a href = "#" class = "pl-1 text-primary" id="refresh" onclick="$(this).onRefresh();">  Refresh<i class=" ml-2 fa fa-refresh darkblue" aria-hidden="true"></i> </a>
									</div>
								</div>
								
								<div class="row job-form">
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Applicant Name</label>
										  <input name="AppName" id="AppName" type="text" class="form-control form-control-sm" placeholder="Applicant Name">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Current Location</label>
										  <select class="form-control form-control-sm select2" style="width: 100%;" name="currloc" id="currloc"><option value="" selected="selected">-- Select --</option></select> 
										</div>
									  </div>
									  
									  <!-- <div class="col-md-4">
									  	<button type="button" class="btn btn-success" style="width: 182px; margin-top: 13px;">Resume</button>
									  </div> -->
									  
									  
									  <!-- <div class="col-md-4">
										<div class="form-group">
										  <label>Primary Skills</label><br>
										  <select class="form-control form-control-sm select2" style="width: 100%;" name="primSkills" id="primSkills" multiple><option value="" selected="selected">-- Select --</option></select> 
										  
										</div>
									  </div>
									  
									  <div class="col-md-4">
										<div class="form-group">
										  <label>Additional Skills</label><br>
										  <select class="form-control form-control-sm select2" style="width: 100%;" name="adtskills" id="adtskills" multiple><option value="" selected="selected">-- Select --</option></select> 										 
										 
										</div>
									  </div> -->
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Mobile</label><br>
										  <input type="text" name="mobile" id="mobile" class="form-control form-control-sm" placeholder="Mobile">
										</div>
									  </div>
									  
									   <div class="col-md-3">
										<div class="form-group">
										 <label>Matching Score |&nbsp;<a href="#" style="color: #e22462;" onclick="$(this).openResume();">Resume</a></label><br>
										  <input type="text" name="matScore" id="matScore" class="form-control form-control-sm" placeholder="Matching score">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										   <label id="CurrentCTC"></label><br>
										  <input type="text" name="currCtc" id="currCtc" class="form-control form-control-sm" placeholder="Current CTC">
										</div>
									  </div>
									  
									   <div class="col-md-3">
										<div class="form-group">
										   <label id="ExpectedCTC"></label><br>
										  <input type="text" name="ExpCtc" id="ExpCtc" class="form-control form-control-sm" placeholder="Expected CTC">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Email</label><br>
										  <input type="text" name="email" id="email" class="form-control form-control-sm" placeholder="Email">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Current Employer</label><br>
										  <input type="text" name="currEmployer" id="currEmployer" class="form-control form-control-sm" placeholder="Current Employer">
										</div>
									  </div>
									  
									  <div class="col-md-3">
										<div class="form-group">
										  <label>Notice Period</label><br>
										  <input type="text" name="noticePeriod" id="noticePeriod" class="form-control form-control-sm" placeholder="Notice Period">
										</div>
									  </div>
									  
									  <div class="col-md-4">
										<div class="form-group">
										  <label>Prefered Location</label>
										   <select class="form-control form-control-sm select2" style="width: 100%;" name="prefLoc" id="prefLoc" multiple><option value="" selected="selected">-- Select --</option></select> 
										</div>
									  </div>
									  
									  <div class="col-md-5">
										<div class="form-group">
										  <label>Skills</label><br>
										  <select class="form-control form-control-sm select2" style="width: 100%;" name="skil" id="skil" multiple><option value="" selected="selected">-- Select --</option></select> 
										  
										</div>
									  </div>
									  
									   <div class="col-md-3">
											<div class="form-group">
											  	<label>Total Experience </label>
											  	<select class="form-control form-control-sm select2" name="totalexp" id="workExp" ><option>-- Select --</option></select>
											 </div>
										</div>
										
										<div class="col-md-4">
											<div class="form-group">
											  	<label>Relevant Experience </label>
											  	<select class="form-control form-control-sm select2" name="relExp" id="relExp" ><option>-- Select --</option></select>
											 </div>
										</div>
										
									  <div class="col-md-4">
										<div class="form-group">
										  <label>Is Notice Period Negotiable?</label><br>
										  <input type="radio" value="1" class="statusActive" name="negotiable" id="isNegoActive" checked> <label id="isNegoActiveLabel" for="isNegoActive">Yes</label>
	          							  <input type="radio" value="0" class="statusInactive" name="negotiable" id="isNegoInactive"> <label for="isNegoInactive" id="isNegoInactiveLable">No</label>                          
										</div>
									  </div>
									  
									  
									  <div class="col-md-5">
										<div class="form-group">
										  <label>Status</label><br>
										  <select class="form-control form-control-sm select2" style="width: 100%;" onchange="$(this).onChangestate();" name="csmId" id="status"><option value="">-- Select --</option></select> 										 
										</div>
									  </div>
									  
									   <div class="col-md-5 cause" style="display: none;">
										<div class="form-group">
										  <label>Reason</label><br>
										  <select class="form-control form-control-sm select2" style="width: 100%;" name="armId" id="armId"><option value="" selected="selected">-- Select --</option></select> 
										</div>
									  </div>
									  
									  <div class="col-md-5 issue" style="display: none;">
										<div class="form-group">
										  <label>Reason</label><br>
										  <select class="form-control form-control-sm select2" style="width: 100%;" name="abomId" id="abomId"><option value="" selected="selected">-- Select --</option></select> 
										</div>
									  </div>
									  
									  
									  <div class="col-md-8">
										<div class="form-group">
										  <label>FollowUp</label><br>
										  <textarea rows="4" name="" id="followUp" class="form-control form-control-sm" placeholder="FollowUp"></textarea>
										</div>
									  </div>
									  
									  <div class="col-md-4">
										<div class="form-group">
										  <label>FollowUp Date</label><br>
										  <input type="text" name="" id="followUpDate" autocomplete="off" class="form-control form-control-sm" readonly="readonly" placeholder="DD/MM/YYYY">
										</div>
									  </div>
									  
									  <div class="col-md-8">
										<div class="form-group">
										  <label>Note</label><br>
										  <textarea rows="4" name="" id="note" class="form-control form-control-sm" placeholder="Note" ></textarea>
										</div>
									  </div>
									  
									<!--   <div class="col-md-4">
									  <div class="col-md-2 mt-2">
									  	<button type="button" class="btn btn-success" id="saveJobApplicant" >Save</button>
									  </div>
									  <div class="col-md-2 mt-2">
									  	<button type="button" class="btn btn-danger" >Reset</button>
									  </div>
									  </div> -->
									  
									  <div class="col-md-2">
										
									  </div> 
									  
									  <div class="col-md-1 mt-3 pt-4"><!-- style="margin-left: 536px;"> -->
										<button type="button" id="saveJobApplicant" class="btn btn-success m-1">
										 Save
										</button>
										<!-- <button type="button" class="btn btn-danger m-1"  id="resetButton">
										  Reset
										</button> -->
									 </div> 
								</div>
							</div>	
							</div>
							</div>
							
							<div class="col-lg-4 col-md-4 col-sm-12">
							   <div class="full-height row job-form" style="border: 2px solid #eee; border-radius: 10px; background: #f8f8f885; height:100%">
									<div class="comm">
									
									</div>
								</div>
							</div>
							</div>
							<div id="jobApplicantInterviewCont">
								<div th:replace="./fragments/gridMenu::menu('JOB_APPLICANT_INTERVIEW')"></div>
									<div id="jobApplicantInterview" class="ag-theme-alpine gridBox">
									
									</div>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script>
	//currentServerDate = "[[${#calendars.format(#calendars.createNow(), 'dd/MM/yyyy')}]]";
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditJobApplicant"+tabIndex);
	var FI = $("#interviewModal");
	$("#followUpDate").datetimepicker({autoclose:true,startDate: new Date(),autoclose: 1,clear :true});
	$(this).prepareJobApplicantForm($FI);
	$(this).prepareJobInterviewModal(FI);
	$(this).jobInterviewList($FI);
	$(this).displayComments($FI);
	//$(this).setAddIcon($FI);
	//$(this).previousDate($FI);
</script>

 