<style>
  .toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
  .toggle.ios .toggle-handle { border-radius: 20px; }
</style>
<style>
ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.nested {
  display: none;
}

.active {
  display: block;
}


</style>


	       <form data-th-id="${#strings.concat('addEditJobMaster',param.tabIndex)}"> 
	             <input  type="hidden" name="jmId" id="jmId" value="0"/>
		
		          <input  type="hidden" name="siteId" id="siteId"  value="0"/>
		          <input  type="hidden" name="jsmId" id="jsmId" value="1"/>
		          <input  type="hidden" name="isActive" id="isActive"  value="Y"/>
		       
				  
                <div class="container-fluid mt-10">
			          <div class="row">
				         <div class="col-lg-12 col-md-12 col-12">
					          <div class="box">
						          <div class="box-body">
							           <div class="row">
								           <div class="col-12">
													<div class="row job-form">
													 <div class="col-md-3">
														<div class="form-group">
														  <label>Client Name<span class="text-danger">*</span></label>
														   <select class="form-control form-control-sm select2" style="width: 100%;"  name="clId"   id="clId" onchange="$(this).companySpocName();$(this).onChangeClientName();" mandatory="true" message="Please Select Client Name"><option>-- Select --</option></select> 
														</div>
													  </div>
													  
													    <div class="col-md-1 " style="padding-left: 0;margin-top: 23px;">
              											<button data-toggle="modal" data-target="#addCL" type="button" id="addClient" title="Add Client Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addClient()">
              										 	 <i class="fa fa-plus"></i>
             											 </button>
           												 </div> 
           												 <div class="col-md-1"></div>
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Job Received Date </label>
														    <input class="form-control form-control-sm" type="text" data-provide="datepicker" id="jobRecdDt" onchange ="$(this).onChangeDatevalidate()" autocomplete="off" readonly="readonly" placeholder="Select Job Received Date" name="jobRecdDt"/>
														</div>
													  </div>
													  
													  <div class="col-md-1"></div>
													  
													   <div class="col-md-3">
														<div class="form-group">
														  <label>Job Close Date </label>
														   <div class="input-group jobclosesdata">
														    <input class="form-control form-control-sm " type="text" data-provide="datepicker" id="jobEndtDt" autocomplete="off" readonly="readonly" placeholder="Select Job Close Date" name="jobEndtDt"/>
														</div>
														</div>
													  </div>												  
													</div>
													
													<div class="row job-form mt-3">
													   <div class="col-md-3">
														<div class="form-group">
														  <label>Job Title <span class="text-danger">*</span></label>  <span id="titleSpan" style="color:red;"></span>
														  <input name="jobTitle" id="jobTitle" type="text" class="form-control form-control-sm" onkeyup="$(this).checkJobfieldLength()" placeholder="Job Title" mandatory="true" message="Please Enter Job Title">
														</div>
													  </div>
													  
													  <div class="col-md-2">
														<div class="form-group">
														  <label>No. Of Opening </label><span id="noOfOpenSpan" style="color:red;"></span>
														  <input type="number" min="1" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" name="noOfPosition" id="noOfPosition" onkeyup="$(this).checkJobfieldLength()" class="form-control form-control-sm" value="1" placeholder="No. Of Position"> 
														</div>
													  </div>
													
													   <div class="col-md-2">
													   <div class="form-group">
														<label id="budgetLbl"></label> <span id="budgetSpan" style="color:red;"></span>
														 <input type="number" min="1" onkeypress="return event.keyCode === 8 && event.keyCode === 190 || event.charCode >= 48 && event.charCode <= 57" name="ctc" id="ctc" onkeyup="$(this).checkJobfieldLength()"  class="form-control form-control-sm"> 
														  </div>
													  </div>
													  
													   
													  <div class="col-md-2">
													  
														<div class="form-group">
														  <label>Notice Period</label><br>
														<select name="joiningPeriod" id="joiningPeriod" class="form-control form-control-sm select2">
														  <option value="">---Select---</option>
														  </select>														
														</div>
													  </div>
													  
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Min Experience</label><br>
														  <select name="minTotalExp" id="minTotalExp" class="form-control form-control-sm select2" onchange="$(this).disableMaxExp()">
														  <option value="">---Select---</option>
														  </select>
														</div>
													  </div>
													  
													  
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Max Experience </label><br>
														  <select name="maxTotalExp" id="maxTotalExp" class="form-control form-control-sm select2">
														    <option value="">---Select---</option>
														  </select>
														</div>
													  </div>
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Min Relevant Experience </label><br>
														  <select name="minRelExp" id="minRelExp" class="form-control form-control-sm select2">
														    <option value="">---Select---</option>
														  </select>
														</div>
													  </div>
													  
													  <div class="col-md-6">
														<div class="form-group">
	    													<label>Location </label>
															 <select class="form-control form-control-sm select2" style="width: 100%;"  name="location"   id="location" multiple><option value="" selected="selected">-- Select --</option></select>	  
														</div>
													</div>
													  
													<!--  <div class="col-md-1 " style="padding-left: 0;margin-top: 23px;">
              											<button data-toggle="modal" data-target="#addSp" type="button" id="" title="Add Spoc Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addSpocName()">
              										 	 <i class="fa fa-plus"></i>
             											 </button>
           											</div>  -->
													  
													   
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Skill Domain Name <span class="text-danger">*</span></label><br>
														  <select class="form-control form-control-sm select2" style="width: 100%;"  id="skillDomainName" multiple mandatory="true" message="Please Select Skill Domain Name" onchange="$(this).onDomainChange()"><option>-- Select --</option></select> 
														</div>
													  </div>
													  
													  	 <div class="col-md-1 " style="padding-left: 12px;margin-top: 28px;">
              			 									<button data-toggle="modal" data-target="#addDoma" type="button" id="addDomain" title="Add Domain Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addDomainN()">
              												 <i class="fa fa-plus"></i>
             												 </button>
           												</div> 
													  
													  
													   <div class="col-md-12 mt-2">
													    <div class="table-responsive">
														<table class="table table2 table-bordered" id="skillDtlTable">
															<thead style="background: #3280d2b8;">
																<tr>
																	<th><label class="label_font">Skill <span class="text-danger">*</span></label>
																	
																	 <div class="col-md-1 " style="padding-left: 35px;margin-top: -25px;">
              														 <button data-toggle="modal" data-target="#addSkill" type="button" id="addSkillMst" title="Add Skill Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addSkillN()">
              														 <i class="fa fa-plus"></i>
             														 </button>
           															 </div> 
				
																	</th>
																	<th><label class="label_font">Min Experience<span id="minExpSpan" style="color:red;font-size: 12px;font-weight: 400"></span></label></th>
																	<th><label class="label_font">Is Mandatory</label></th>
																	<th></th>
																</tr>
															</thead>
															<tbody id="skillDtlBody">
																<tr class="skillDtlRow">
																	<td>
																		 <select class="form-control form-control-sm select2" onchange="$(this).setSdmId();" style="width: 100%;"  name="jobSkills[0][smId]" id="skillName" mandatory="true" message="Please Select Skill Name"><option value="">-- Select --</option></select>
																		<input type="hidden" id="sdmId" name="jobSkills[0][sdmId]">
																	</td>
																	<td>
																		<select class="form-control form-control-sm select2" id="minExp" name="jobSkills[0][minExp]">
																		<option value="">---Select---</option>
														  				</select>
																	</td>
														  
																	<td>
																	    <input type="hidden" id="isActive" name="jobSkills[0][isActive]" value="Y">
																	    
																	    
																	    <select class="form-control form-control-sm select2" id="mandatoryskill" name="jobSkills[0][isMandatory]">
																			
																			<option value="Y">Yes</option>
														   					<option value="N">No</option>
														  				</select>
<!--   																     	<input class="form-control form-control-sm" type="checkbox" id="mandatoryskill" value = "Y" name="jobSkills[0][isMandatory]"  checked="checked">
 --> 																	</td>
																	<td class="pl-2">
																		<button type="button" class="btn btn-xs addButton" title="Add Skill Details Row" id="addSkillDetailsButton" onclick="$(this).addSkillDtlRow();$(this).CheckSkill()"> <i class="fa fa-plus"></i>
																		</button>
																		<button type="button" class="btn btn-xs ml-1 removeButton" title="Remove Skill Details Row" onclick="$(this).removeSkillDtlRow()"> <i class="fa fa-trash"></i>
																		</button>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
													</div>
													
													<div class="col-md-11">
														<div class="form-group">
														  <label>Skill Note</label>  <span id="skillNoteSpan" style="color:red;"></span>
														  <textarea name="skillNote" id="skillNote" rows="4" onkeyup="$(this).checkJobfieldLength()" placeholder="Skill Note" class="form-control form-control-sm"></textarea>
														</div>
													</div>
													
													  <div class="col-sm-1 " style="padding-left: 0;margin-top: 28px;">
              											<button data-toggle="modal" data-target="#addSkillNote" type="button" id="addSkillN" title="View Skill Note" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addSkillNote()">
              										 	 <i class="fa fa-eye darkblue" aria-hidden="true"></i>
             											 </button>
           												 </div>
           												 
           												 <div class="col-md-12 mt-2">
													    <div class="table-responsive">
														<table class="table table2 table-bordered" id="eduDtlTable">
															<thead style="background: #3280d2b8;">
																<tr>
																	<th style="width: 20%;"><label class="label_font">Education</label></th>
																	<th style="width: 20%;"><label class="label_font">Course</label></th>
																	<th style="width: 20%;"><label class="label_font">Remarks</label></th>
																	<th style="width: 20%;"><label class="label_font">Is Mandatory</label></th>
																	<th></th>
																</tr>
															</thead>
															<tbody id="eduDtlBody">
																<tr class="eduDtlRow">
																	<td>
																		 <select class="form-control form-control-sm select2" name="jobEdu[0][emId]" id="emId"><option value="">-- Select --</option></select>
																	</td>
																	<td>
																		<select class="form-control form-control-sm select2" id="coId" name="jobEdu[0][coId]">
																		<option value="">---Select---</option>
																			
														  				</select>
																	</td>
																	
																	<td>
																	  <input type="text" name="jobEdu[0][remarks]" id="remark" class="form-control form-control-sm" placeholder="Remarks">
																	</td>
														  
																	<td>
																	    <input type="hidden" id="isActive" name="jobEdu[0][isActive]" value="Y">
																	      <select class="form-control form-control-sm select2" id="eduMandatory" name="jobEdu[0][isMandatory]">
																			
																			<option value="Y">Yes</option>
														   					<option value="N">No</option>
														  				</select>
<!-- 																     	<input class="form-control form-control-sm" type="checkbox" id="eduMandatory" name="jobEdu[0][isMandatory]" value="Y" style="margin-left: -25px;">
 -->																	</td>
																	<td class="pl-2">
																		<button type="button" class="btn btn-xs addButton" title="Add Education Details Row" id="addEduDetailsButton" onclick="$(this).addEduDtlRow();$(this).CheckEducation()"> <i class="fa fa-plus"></i>
																		</button>
																		<button type="button" class="btn btn-xs ml-1 removeButton" title="Remove Education Details Row" onclick="$(this).removeEduDtlRow()"> <i class="fa fa-trash"></i>
																		</button>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
													</div> 
													
													 <div class="col-md-12 mt-2">
													     <div class="table-responsive">
														<table class="table table2 table-bordered" id="certDtlTable">
															<thead style="background: #3280d2b8;">
																<tr>
																	<th style="width: 20%;"><label class="label_font">Certificate Name</label></th>
																	<th style="width: 20%;"><label class="label_font">Certified By</label></th>
																<!-- <th style="width: 20%;"><label class="label_font">Year of Completion</label></th> -->
																	<th style="width: 20%;"><label class="label_font">Remarks</label></th>
																	<th style="width: 20%;"><label class="label_font">Is Mandatory</label></th>
																	<th></th>
																</tr>
															</thead>
															<tbody id="certDtlBody">
																<tr class="certDtlRow">
																	<td>
																		 <input class="form-control form-control-sm" name="jobCert[0][certifiName]" id="certifiName" type="text" placeholder="Certificate Name" >
																	</td>
																	<td>
																		<input class="form-control form-control-sm" id="certifedBy" name="jobCert[0][certifedBy]" type="text" placeholder="Certified By" >
																	</td>
																	
																<!--	<td>
																		<input class="form-control form-control-sm" id="yearOfCompl" name="jobCert[0][yearOfCompl]" type="number" placeholder="Year of Completion" >
																	</td>  -->
																	
																	<td>
																	  <input type="text" name="jobCert[0][remarks]" id="remar" class="form-control form-control-sm" placeholder="Remarks">
																	</td>
														  
																	<td>
																	    <input type="hidden" id="isActive" name="jobCert[0][isActive]" value="Y">
																	     <select class="form-control form-control-sm select2" id="certMandatory" name="jobCert[0][isMandatory]">
																			
																			<option value="Y">Yes</option>
														   					<option value="N">No</option>
														  				</select>
<!-- 																     	<input class="form-control form-control-sm" type="checkbox" id="certMandatory" name="jobCert[0][isMandatory]" value="Y" style="margin-left: -25px;">
 -->																	</td>
																	<td class="pl-2">
																		<button type="button" class="btn btn-xs addButton" title="Add Certificate Details Row" id="addCertDetailsButton" onclick="$(this).addCertDtlRow()"> <i class="fa fa-plus"></i>
																		</button>
																		<button type="button" class="btn btn-xs ml-1 removeButton" title="Remove Certificate Details Row" onclick="$(this).removeCertDtlRow()"> <i class="fa fa-trash"></i>
																		</button>
																	</td>
																</tr>
															</tbody>
														</table>
														</div>
													</div> 
													
													</div>

													
													 <div class="row job-form mt-3" id="spoc-person-details">
													  <div class="col-md-2">
														  <div class="form-group">
														  <label>Primary Spoc<span class="text-danger">*</span></label>  
														 	 <select type="text" name=""  id="spocId"  class="form-control form-control-sm select2" mandatory="true" message="Please Select Primary Spoc" onchange="$(this).onSpocChange();$(this).CheckSecondarySpoc(); "> 
															<option value="">---Select---</option>
															</select>
														</div> 
													  </div>
													  
													   <div class="col-md-1 " style="padding-left: 0;margin-top: 23px;">
              											<button data-toggle="modal" data-target="#addSp" type="button" id="addSpocN" title="Add Spoc Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addSpocName()">
              										 	 <i class="fa fa-plus"></i>
             											 </button>
           												</div> 
													  
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Spoc Email </label> 
														  <input type="email" name="companySpocEmail" id="companySpocEmail"  data-rule-email="true" class="form-control form-control-sm" placeholder="Email" disabled="disabled">
														</div>
													  </div>
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Spoc Contact Number </label>
														  <input type="text" min="0" 
														  name="companySpocPhone" id="companySpocPhone"  class="form-control form-control-sm" placeholder="Contact Number" disabled="disabled">
														</div>
													  </div>
													  
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Secondary Spoc</label> <span id="phoneSpan" style="color:red;"></span>
														  <select type="text" name=""  id="secondaryspocId"  class="form-control form-control-sm select2" multiple> 
																<option value="">---Select---</option>
														</select>
														</div>
													  </div>
													  
													</div>
											
													
													 <div class="row job-form mt-3" id="job-details">
													   <div class="col-md-3">
														<div class="form-group">
														  <label>Job Code </label><span id="jobCodeSpan" style="color:red;"></span>
														  <input type="text" name="jobCode" id="jobCode"  onkeyup="$(this).checkJobfieldLength()"  class="form-control form-control-sm" placeholder="Job Code">
														</div>
													  </div>
													  
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Job Type </label><br>
														  <select name="jobType" id="jobType" class="form-control form-control-sm select2">
														  <option value="">---Select---</option>
														    <option selected="selected" value="Permanent">Permanent</option>
														    <option value="Contractor">Contractor</option>
														    <option value="Third Party">Third Party</option>
														  </select>
														</div>
													  </div>
													 
													  <div class="col-md-3">
													  <div class="form-group">
														<label>Job Level </label><br>
														  <select name="jobLevel" id="jobLevel" class="form-control form-control-sm select2">
														  <option value="">---Select---</option>
														    <option value="Entry">Entry</option>
														    <option value="Experience">Experience</option>
														    <option value="Expert">Expert</option>
														  </select>
														  </div>
													  </div>
													  
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Employment Type </label>
														  <select name="employmentType" id="employmentType" class="form-control form-control-sm select2" placeholder="Employment Type">
														    <option value="">---Select---</option>
														    <option selected="selected" value="Full Time">Full Time </option>
														    <option value="Part Time">Part Time</option>
														  </select>
														</div>
													  </div>
												
													  <div class="col-md-11">
														<div class="form-group">
														  <label>Job Description </label>  <span id="descSpan" style="color:red;"></span>
														  <textarea rows="4" name="jobDesc" id="jobDesc" onkeyup="$(this).checkJobfieldLength()" placeholder="Job Description" class="form-control form-control-sm"></textarea>
														</div>
													  </div>
											
													    <div class="col-sm-1 " style="padding-left: 0;margin-top: 28px;">
              											<button data-toggle="modal" data-target="#addDescr" type="button" id="addDiscription" title="View Job Description " style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addDescription()">
              										 	 <i class="fa fa-eye darkblue" aria-hidden="true"></i>
             											 </button>
           												 </div> 
													  
													</div>
													
													<div class="row job-form mt-3">
													
													   <div class="col-md-3">
														<div class="form-group">
														  <label>Internal Recruiter</label>
														  <select class="form-control form-control-sm select2" style="width: 100%;"  name="internalRec"  id="internalRec"  onchange="$(this).internalName()" multiple><option value="" selected="selected">-- Select --</option></select> 
														</div>
													  </div>
													  
													  
													  <div class="col-md-3">
														<div class="form-group">
														  <label>Internal Recruiter Name</label>
														  <select class="form-control form-control-sm select2" style="width: 100%;"  name="internalRec"  id="internalRecname" multiple><option value="">-- Select --</option></select> 
														</div>
													  </div>
													  
													  
													  <div class="col-md-3">
														<div class="form-group">
														  <label>External Recruiter</label>
														  <select class="form-control form-control-sm select2" style="width: 100%;"  name="externalRec"  id="externalRec" onchange="$(this).externalName()" multiple><option value="" selected="selected"></select> 
														</div>
													  </div>
													  
													   
													  <div class="col-md-3">
														<div class="form-group">
														  <label>External Recruiter Name</label>
														  <select class="form-control form-control-sm select2" style="width: 100%;"  name="externalRec"  id="externalRecname" multiple><option value="">-- Select --</option></select> 
														</div>
													  </div>
													  
													</div>
													
													<div class="d-flex justify-content-end gap-items-2 mt-10 mb-10">
													<button type="button" id="saveJobMaster" class="btn btn-success m-1">
													 Save
													</button>
											<!--		<button type="button" class="btn btn-danger m-1"  id="resetBtn" onclick="$(this).ResetAllDataInFormjobmst()">
													  Reset
													</button>  --->
												</div> 
												</div>
												
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</form>	
			 <!--  Client Mst Modal Content -->
			 <div id="clientmodalDiv">
                  <div id="addclientModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Client</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>   
                        <div class="modal-body">
                       <form id="clientMstForm">
                          <input type="hidden" name="clId" id="clId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Client Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="clientMstSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Client Name" class="input-box form-control" type="text" name="companyName" id="client" onkeyup="$(this).checkJobfieldLength()" placeholder="Client Name" />
                                  </div>
                                </div>
                                
                                 <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Location<span class="text-danger">*</span></label>
                                <div class="input-group col-sm-6">
                                 <select  class="form-control form-control-sm select2" style="width: 100%;" name="locId" id="locId" mandatory=true message="Please Select Location"><option>-- Select --</option></select>                              
                                </div>
                              	</div>
                              	
                              	<!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Domain Name<span class="text-danger">*</span></label>
                                <div class="input-group col-sm-6">
                                 <select  class="form-control form-control-sm select2" style="width: 100%;" name="dmId" id="dmId" mandatory=true message="Please Select Domain Name"><option>-- Select --</option></select>                              
                                </div>
                              	</div> 
                              	
                              <!-- Row 4 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Company Type<span class="text-danger">*</span></label>
                                <div class="input-group col-sm-6">
                               <select class="form-control form-control-sm select2" style="width: 100%;"  name="companyType" id="companyTyp" mandatory=true message="Please Select Company Type">
                                <option value="" selected="selected">---Select---</option>
                                <option value="Internal">Internal</option>
                                <option value="External">External</option>
                               </select>                            
                                </div>
                              	</div>
                              	
                                 <!-- Row 5 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkclientMSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksCl" onkeyup="$(this).checkJobfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                            </div>
                            
                       </form>
                        </div> 
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveclientBtn" onClick="$(this).saveclient()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeClientBtn2" >Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->  
				</div>
					
			<!-- Spoc Mst Modal Content -->
				<div id="spocmodalDiv">
                  <div id="addspocMstModel" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Spoc</h4>
                  <!--  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillMstBtn1">X</button>  --> 
                        </div>
                        <div class="modal-body">
                          <form id="spocMstForm" action="">
                          <input type="hidden" name="spocId" id="spocIdPer" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                              <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Spoc Person Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                   <span id="spmSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Spoc Person Name" class="input-box form-control" type="text" name="spocName" id="spocNamePer" onkeyup="$(this).checkJobfieldLength()" placeholder="Spoc Person Name" />
                                  </div>
                                </div>
                                <!-- Row 2 -->
                        		 <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Email<span class="text-danger">*</span></label>
                                <div class="col-sm-6 paddingzero">
                                <span id="emailSpmSpan" style="color:red;"></span>
                                  <input mandatory=true message="Please Enter Email" name="spocEmail" id="spocEmailPer" type="email"  class="input-box form-control" onkeyup="$(this).checkJobfieldLength()"  placeholder="Email" />
                                </div>
                              </div>
                            <!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Phone No.<span class="text-danger">*</span></label>
						          <div class="col-sm-6 paddingzero">
						          <span id="phoneSpmSpan" style="color:red;"></span>
						            <input mandatory=true message="Please Enter Phone No." name="spocPhone" id="spocPhonePer" type="text" min="0" maxlength="10" class="input-box form-control" onkeyup="$(this).checkJobfieldLength()" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" placeholder="Phone No." />
						         </div>
                            	</div>
                             <!-- Row 4 -->
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Client Name<span class="text-danger">*</span></label>
						          <div class="input-group  col-sm-6">
						           <select class="form-control form-control-sm select2" style="width: 100%;"  name="clId"   id="clId" mandatory=true message="Please select Client Name" onchange="$(this).onClientChange()"><option>-- Select --</option></select> 
						         </div>
                            </div>
                     
                       <!-- Row 5 -->
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Email Format</label>
						          <div class="input-group  col-sm-6">
						           <select class="form-control form-control-sm select2" style="width: 100%;"  name="fmId"   id="formatId" ><option>-- Select --</option></select> 
						         </div>
                            </div>
                     
                              <!-- Row 6 --> 
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                 	 <span id="remarkSpmSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksPrs"onkeyup="$(this).checkJobfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                               
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveSPMstBtn" onClick="$(this).saveAddSpocPer()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddSMstBtn2">Close</button> 
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
				</div>


	 <!--  Description Modal Content -->
			 <div id="descriptionmodalDiv">
                  <div id="adddescripModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Job Description</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>   
                        <div class="modal-body">
                       <form id="descriptForm">
            
                         <div class="col-md-12">
							<div class="form-group">
							<label>Job Description </label>  <span id="descriptionSpan" style="color:red;"></span>
							 <textarea rows="20" name="jobDesciption" id="jobDesciption" onkeyup="$(this).checkJobfieldLength()" placeholder="Job Description" class="form-control form-control-sm"></textarea>
							</div>
						  </div>   
                            
                       </form>
                        </div> 
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveDescriptBtn" onClick="$(this).savedescript()">Done</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closedescripBtn2" >Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->  
			</div>
					
		 <!--  Skill Note Modal Content -->
			 <div id="skillNotemodalDiv">
                  <div id="addSkillNoteModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Skill Note</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>   
                        <div class="modal-body">
                       <form id="skillNoteForm">
                       
            			<div class="col-md-12">
							<div class="form-group">
							  <label>Skill Note </label>  <span id="skillNoSpan" style="color:red;"></span>
								 <textarea name="skillNo" id="skillNo" rows="20" onkeyup="$(this).checkJobfieldLength()" placeholder="Skill Note" class="form-control form-control-sm"></textarea>
							</div>
						</div>   
                            
                       </form>
                        </div> 
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveDescriptBtn" onClick="$(this).saveSkillNote()">Done</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeSkillNoteBtn2" >Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->  
			</div>
			
			
			
  <!-- Skill Domain Mst Modal Content -->
                
 				<div id="addDomainmodalDiv">
                  <div id="addDomainMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Skill Domain</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="domainMstAddForm" action="">
                          <input type="hidden" name="sdmId" id="sdmIds" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Skill Domain Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="domainMstAddSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Skill Domain Name" class="input-box form-control" type="text" name="skillDomainName" id="skillDomainNameAdd" onkeyup="$(this).checkJobfieldLength()" placeholder="Skill Domain Name" />
                                  </div>
                                </div>                              
                      
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkDomAddSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksDomainAdd" onkeyup="$(this).checkJobfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveDomainMstAddBtn" onClick="$(this).saveAddDomainMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddDomainMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div>  
                 
			
			
	<!-- Skill Mst Modal Content -->
                
 				<div id="addSkillmodalDiv">
                  <div id="addSkillMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Skill</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="skillMstAddForm" action="">
                          <input type="hidden" name="smId" id="smIdSk" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Skill Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="skillMstAddSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Skill Name" class="input-box form-control" type="text" name="skillName" id="skillNameAdd" onkeyup="$(this).checkJobfieldLength()" placeholder="Skill Name" />
                                  </div>
                                </div>  
                                
                               <!-- Row 2 -->
                              <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Skill Domain Name<span class="text-danger">*</span></label>
						          <div class="input-group  col-sm-6">
						          <select class="form-control form-control-sm select2" style="width: 100%;"  name="sdmId" id="sdmIdSk" mandatory=true message="Please select Skill Domain Name" ><option>-- Select --</option></select>
						         </div>
                           		 </div>                            
                      
                                 <!-- Row 3 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkSkillAddSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksSkillAdd" onkeyup="$(this).checkJobfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveSkillMstAddBtn" onClick="$(this).saveAddSkillMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddSkillMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div>  
                 
			
			
					  
	<script>
	currentServerDate = "[[${#calendars.format(#calendars.createNow(), 'dd/MM/yyyy')}]]";
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditJobMaster"+tabIndex);
	$(this).prepareJobMasterForm($FI);
	$("#jobRecdDt").datepicker({dateFormat: 'dd/mm/yyyy',autoclose:true,});
	$("#jobEndtDt").datepicker({dateFormat: 'dd/mm/yyyy',autoclose:true,});
	

	$('#spocPhonePer').on("cut copy paste",function(e){
       e.preventDefault();
    }); 
	$('#ctc').on("cut copy paste",function(e){
		 e.preventDefault();
	});
	
	$('#noOfPosition').on("cut copy paste",function(e){
		 e.preventDefault();
	});
   </script>


<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>
													