<link rel="stylesheet" href="./assets/vendor_components/style-zoom/style.css">
<style>
.row .job_form{    
     border: 2px solid #eee;
    border-radius: 10px;
    background: #f8f8f885;
    padding: 15px;
    margin:0;
    }
</style>

<form data-th-id="${#strings.concat('addEditAppliMaster',param.tabIndex)}">

     
      
	<div class="container-fluid mt-10">
	<div class="row">
	 <div class="col-lg-12 col-md-12 col-12">
       <div class="box">
		<div class="box-body">
		 <div class="row">
		<div class="col-12">
		<div class="row job-form">
		
		<div class="col-sm-2 co-xs-12 imageBox" >
      		<label style="width: inherit;position: relative;" onmouseenter="$(this).hoverImage()" onmouseout="$(this).removeHoverImage()">
	      		<img alt="user image" src="./images/avtara.png" id="imageDisp" >
     			<input type="file" id="imageFile" name="applicantImage" src="" style="display: none;" oninput="ValidateSize(this)" onchange="$(this).showImage()" accept=".png, .jpeg,.jpg">
      			</label>
      		</div>
		
			<input  type="hidden" id="applicantformtype"/>
			<input  type="hidden" name="amId" id="amId" value="0"/>
	  		<input  type="hidden" name="siteid" id="siteid"  value="0"/>
      		<input  type="hidden" name="isActive" id="isActive"  value="Y"/>
      		 <input  type="hidden" name="" id="applicantTabName"  value="Add Applicant"/>
      			<div class="col-md-3">
				<div class="form-group">
				  	<label>Source Type <span class="text-danger">*</span></label>
				  	<select class="form-control form-control-sm select2" style="width: 100%;" name="somId" id="sourceType" mandatory="true" message="Please Select Source Type"><option>-- Select --</option></select>
				</div>
			</div>
		<!-- 	<div class="col-md-6"></div> -->
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Source Name </label><span id="sourceNameSpan" style="color:red;"></span>
				    <input class="form-control form-control-sm" type="text" name="sourceName" id="sourceName" onkeyup="$(this).checkApplicantfieldLength()" maxlength="32"/>
				</div>
			</div>
			
			<div class="col-md-3 ml-4">
			<span class="text-danger">*Only Upload Doc and Pdf Format</span>
				<div class="form-group row mt-1 ml-1">
				<label id="chooseFile">Upload Resume
          				<input hidden="true" type="file" name="resumeName" id="file-input"  onchange="$(this).onChangeResumeFile();" accept=".doc, .docx,.pdf" multiple />
				</label>
				<div id="menu-outer" class="col-8">
					<div class="table">
						<ol id="ihorizontal-list"></ol>
					</div>
				</div>
			</div>
			</div>
			
		</div>
		<h4 class="box-title text-primary mt-2"> Applicant Details</h4>
		<hr>
		<div class="row job-form">
			<div class="col-md-2">
				<div class="form-group">
				  	<label>First Name <span class="text-danger">*</span></label><span id="firstNameSpan" style="color:red;"></span>
				    <input class="form-control form-control-sm" type="text" name="firstName" id="firstName" mandatory="true" message="Please Enter First Name" onkeyup="$(this).checkApplicantfieldLength()" maxlength="32"/>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				  	<label>Last Name <span class="text-danger">*</span></label><span id="lastNameSpan" style="color:red;"></span>
				    <input class="form-control form-control-sm" type="text" name="lastName" id="lastName"  mandatory="true" message="Please Enter Last Name" onkeyup="$(this).checkApplicantfieldLength()" maxlength="32"/>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				  	<label>Email <span class="text-danger">*</span></label>
				    <input class="form-control form-control-sm" name="email" id="email" data-rule-email="true" type="email" mandatory="true" message="Please Enter Email Address"/>
				</div>
			</div>
		
		   <div class="col-md-2">
				<div class="form-group">
				  	<label>Gender </label>
				    <select class="form-control form-control-sm select2" name="gender" id="gender" style="width: 100%;" >
				    	<option value="">-- Select --</option>
				    	<option value="Male"> Male </option>
				    	<option value="Female"> Female </option>
				    	<option value="Others"> Others </option>
				    </select>
				</div>
			</div>
			
		   <div class="col-md-2">
				<div class="form-group">
				  	<label>Mobile <span class="text-danger">*</span></label><span id="phoneSpan" style="color:red;"></span>
				    <input class="form-control form-control-sm" name="mobile" id="mobile" maxlength="10" type="text" mandatory="true" message="Please Enter Mobile Number" onkeyup="$(this).checkApplicantfieldLength()"
				    onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"/>
				</div>
			</div>
			
		  <div class="col-md-2">
				<div class="form-group">
				  	<label>Alt Number </label><span id="phone1Span" style="color:red;"></span>
				    <input class="form-control form-control-sm" type="text" maxlength="10" name="mobile1" id="mobile1" onkeyup="$(this).checkApplicantfieldLength()" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"/>
				</div>
	     </div>
	     
		  <div class="col-md-2">
				<div class="form-group">
				  	<label>Date Of Birth</label>
				    <input class="form-control form-control-sm" type="text" data-provide="datepicker" name="dob" id="dob" autocomplete="off"/>
				</div>
			</div>
		   
			<div class="col-md-2">
				<div class="form-group">
				  	<label>Father Name </label><span id="fatherNameSpan" style="color:red;"></span>
				    <input class="form-control form-control-sm" type="text" name="fatherName" id="fatherName" onkeyup="$(this).checkApplicantfieldLength()" maxlength="32"/>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				  	<label>Mother Name<span id="motherNameSpan" style="color:red;"></span></label>
				    <input class="form-control form-control-sm" type="text" name="motherName" id="motherName" onkeyup="$(this).checkApplicantfieldLength()" maxlength="32"/>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				  	<label>State</label>
				    <select class="form-control form-control-sm select2" name="stateId" id="stateId" style="width: 100%;" onchange="$(this).populateCities('stateId','lmId')"><option>-- Select --</option></select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				  	<label>City</label>
				    <select class="form-control form-control-sm select2" name="lmId" id="lmId" style="width: 100%;"><option value="">-- Select --</option></select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
				  	<label>Address 1 </label><span id="address1Span" style="color:red;"></span>
				    <input class="form-control form-control-sm" name="addr1" id="addr1" type="text" onkeyup="$(this).checkApplicantfieldLength()" maxlength="4000"/>
				</div>
			</div>
	
			
			<div class="col-md-2">
				<div class="form-group">
				  	<label>Address 2 </label><span id="address2Span" style="color:red;"></span>
				    <input class="form-control form-control-sm" name="addr2" id="addr2" type="text" onkeyup="$(this).checkApplicantfieldLength()" maxlength="4000"/>
				</div>
			</div>
			<div class="col-md-2">
					<div class="form-group">
					  	<label>PAN Number</label><span id="panSpan" style="color:red;"></span>
					    <input class="form-control form-control-sm" type="text" name="panNo" maxlength="10" id="panNo" style="text-transform:uppercase" onkeyup="$(this).checkApplicantfieldLength()"/>
					</div>
				</div>
				<div class="col-md-2">
					<div class="form-group">
					  	<label>AADHAAR Number </label> <span id="aadharSpan" style="color:red;"></span>
					    <input class="form-control form-control-sm" type="text" name="aadhaar" id="aadhaar" maxlength="12" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" onkeyup="$(this).checkApplicantfieldLength()"/>
					</div>
				</div>
		</div>
		
		<!--------------------------------------------------------- Current Job Details ------------------------------------------------>
		<h4 class="box-title text-primary mt-2"> Current Job Details</h4>
		<hr>
		<div class="row job-form">
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Domain Name </label>
				    <select class="form-control form-control-sm select2"  name=""  id="skillDomainName1" multiple style="width: 100%;" onchange="$(this).onJobDomainChange()" ><option>-- Select --</option></select>
				</div>
			</div>
			
				 <div class="col-md-1 " style="padding-left: 0px;margin-top: 25px;">
              	 <button data-toggle="modal" data-target="#addDoma1" type="button" id="addDomain1" title="Add Domain Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addDomainN1()">
              	 <i class="fa fa-plus"></i>
             	 </button>
           		</div> 
			
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Skills<span class="text-danger">*</span></label>
				    <select class="form-control form-control-sm select2" name="" mandatory="true" message="Please Enter Skills" id="skillName1" multiple style="width: 100%;"><option>-- Select --</option></select>
				</div>
			</div>
			
			<div class="col-md-1 " style="padding-left: 0px;margin-top: 25px;">
              <button data-toggle="modal" data-target="#addSkill1" type="button" id="addSkillMst1" title="Add Skill Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addSkillN1()">
              <i class="fa fa-plus"></i>
              </button>
     		 </div> 
			
			<div class="col-md-2">
				<div class="form-group">
				  	<label id="appliextctc"></label>
				    <input class="form-control form-control-sm" type="number" name="expCtc" id="expCtc" />
				</div>
			</div>
			
			<div class="col-md-2">
				<div class="form-group">
				  	<label id="applicrtctc"></label>
				    <input class="form-control form-control-sm" type="number" name="currentCtc" id="currCtc"/>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Current State </label>
				    <select class="form-control form-control-sm select2" name="currentstateid"  id="currState" style="width: 100%;" onchange="$(this).populateCities('currState','currCity')"><option>-- Select --</option></select>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Current City</label>
				    <select class="form-control form-control-sm select2" name="currentCityId"  id="currCity" style="width: 100%;"><option value="">-- Select --</option></select>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Preferred Location </label>
				    <select class="form-control form-control-sm select2"  name=""   id="location" multiple style="width: 100%;"><option>-- Select --</option></select>
				</div>
			</div>
		
			
			<div class="col-md-3">
				<div class="form-group">
					<label>Is in Notice Period?</label><br>
						<input type="radio" value="Y" class="statusActive" name="inNoticePeriod" id="isNpActive" > <label id="isNpActiveLabel" for="isNpActive">Yes</label>
	          			<input type="radio" value="N" class="statusInactive" name="inNoticePeriod" id="isNpInactive" checked> <label for="isNpInactive" id="isNpInactiveLable">No</label>                          
				</div>
		   </div>
		   
		   <div class="col-md-3">
			<div class="form-group">
				  	<label>Notice Period </label>
				 <select class="form-control form-control-sm select2"  name="noticePeriod" id="noticePeriod"><option>-- Select --</option></select>
				  	
				</div>
		   </div>
		   
		   <div class="col-md-3">
				<div class="form-group">
				  	<label>Total Experience </label>
				  	<select class="form-control form-control-sm select2" name="totalexp"   id="workExperience" ><option>-- Select --</option></select>
				 </div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Relevant Experience </label>
				  	<select class="form-control form-control-sm select2" name="relExp"   id="relExperience" ><option>-- Select --</option></select>
				 </div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
					<label>Last Working Date </label>
						<input class="form-control form-control-sm" type="text" data-provide="datepicker" name="lastWorkingDate" id="lastworkdate" autocomplete="off"/>	
				</div>
		   </div>
		   
			
			<div class="col-md-6">
				<div class="form-group">
				  	<label>Remarks </label>
				    <textarea rows="4" class="form-control form-control-sm" type="text" name="remarks" id="remarks" onkeyup="$(this).checkJobfieldLength()" maxlength="4000"/></textarea>
				</div>
			</div>
			
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Offer in Hand?</label><br>
				 		<input type="radio" value="Y" class="statusActive" name="offerInHand" id="isOicActive" onclick="$(this).enable();"> <label id="isOicActiveLabel" for="isOicActive">Yes</label>
	          			<input type="radio" value="N" class="statusInactive" name="offerInHand" id="isOicInactive" checked onclick="$(this).enable();"> <label for="isOicInactive" id="isOicInactiveLable">No</label>                          
				</div>
		   </div>
		   
			<div class="col-md-3">
				<div class="form-group">
				  	<label>Offer in Hand CTC</label>
				  	 <input class="form-control form-control-sm" type="number" name="oihCtc" id="offerInHandCtc" disabled="disabled"/>	
				</div>
			</div>
		</div>
		
		
		<!------------------------------------ Educational Details ---------------------------------------------------------->		
		<h4 class="box-title text-primary mt-2"> Educational Details</h4>
		<hr>
		<div class="col-md-12 mt-2 job-form">
		
			<table class="table-responsive" id="qualDtlTable">
				<thead>
					<tr>
						<th style="width: 25%;"><label>Education</label>
						
						 <div class="col-md-1 " style="padding-left: 66px;margin-top: -25px;">
              			 <button data-toggle="modal" data-target="#addEdu" type="button" id="addEducation" title="Add Educational Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addEducationalN()">
              			 <i class="fa fa-plus"></i>
             			 </button>
           				</div> 
						
						</th>
						<th style="width: 18%;"><label>Course Name</label>
						
						<div class="col-md-1 " style="padding-left: 85px;margin-top: -25px;">
              			 <button data-toggle="modal" data-target="#addCour" type="button" id="addCourse" title="Add Course Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addCourseN()">
              			 <i class="fa fa-plus"></i>
             			 </button>
           				</div> 
						
						</th>
						<th style="width: 30%;"><label>Institute Name</label>
						
						<div class="col-md-1 " style="padding-left: 90px;margin-top: -25px;">
              			 <button data-toggle="modal" data-target="#addInst" type="button" id="addInstitute" title="Add Institute Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addInstituteN()">
              			 <i class="fa fa-plus"></i>
             			 </button>
           				</div> 
						
						</th>
						<th style="width: 10%;"><label>Passing Year</label></th>
						<th style="width: 10%;"><label>Grade</label></th>
						
						<th></th>
					</tr>
				</thead>
				<tbody id="qualDtlBody">
					<tr class="qualDtlRow">
					
						<td>
							<select class="form-control form-control-sm select2" id="education" name="applicanteducation[0][emId]">
								<option value="" selected="selected">-- Select --</option>		
							</select>
						</td>
					
						<td>
							<select class="form-control form-control-sm select2" id="courseNameQ" name="applicanteducation[0][coId]">
								<option value="" selected="selected">-- Select --</option>
							
							</select>
						</td>
						
						
						<td>
							<select class="form-control form-control-sm select2" id="institute" name="applicanteducation[0][imId]">
								<option value="" selected="selected">-- Select --</option>
								
							</select>
						</td>
						
						<td>
							<input class="form-control form-control-sm" type="text" min="0" maxlength="4" placeholder="Passing Year" id="passingYear" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" name="applicanteducation[0][completeyear]">
						</td>
						
						<td>
							<input class="form-control form-control-sm" type="text" maxlength="4" placeholder="Grade" id="marks" name="applicanteducation[0][grade]">
						</td>
						
						<td>
							<input class="form-control form-control-sm" type="hidden" value="Y"  id="isactive" name="applicanteducation[0][isactive]">
						</td>
						
						
						<td class="pl-2">
							<button type="button" class="btn btn-xs addButton" title="Add Qualification Details Row" id="addQualButton" onclick="$(this).addQualDtlRow();$(this).CheckEdu()"> <i class="fa fa-plus"></i>
							</button>
							<button type="button" class="btn btn-xs ml-1 removeButton" title="Remove Qualification Details Row" onclick="$(this).removeQualDtlRow()"> <i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	
	
<!-- Start Certificate Table -->


	<h4 class="box-title text-primary mt-2">Certificate Details</h4>
		<hr>
		<div class="col-md-12 mt-2 job-form">
		
			<table class="table-responsive" id="certDtlTable">
				<thead>
					<tr>
						<th style="width: 31%;"><label>Certificate Name</label></th>
						<th style="width: 36%;"><label>Certified By</label></th>
						<th style="width: 27%;"><label>Year Of Completion</label></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="certDtlBody">
					<tr class="certDtlRow">
					
						<td>
							<input class="form-control form-control-sm" type="text"  placeholder="Certificate Name" id="crtname" name="applicantCertificate[0][certificate_name]">

						</td>
					
						<td>
							<input class="form-control form-control-sm" type="text"  placeholder="Certified By" id="crtby" name="applicantCertificate[0][certified_by]">

						</td>
						
						
						<td>
							<input class="form-control form-control-sm" type="text"  placeholder="Year Of Completion" id="yearofcmpl" name="applicantCertificate[0][year_of_compl]">

						</td>
				
						<td>
							<input class="form-control form-control-sm" type="hidden" value="Y"  id="isactive" name="applicantCertificate[0][isactive]">
						</td>
				
						<td class="pl-2">
							<button type="button" class="btn btn-xs addButton" title="Add Certificate Details Row" id="addcertButton" onclick="$(this).addcertDtlRow()"> <i class="fa fa-plus"></i>
							</button>
							<button type="button" class="btn btn-xs ml-1 removeButton" title="Remove Certificate Details Row" onclick="$(this).removecertDtlRow()"> <i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	



<!-- End Certificate Table -->	
	
	
	
	<!-- Start Work Experience Table -->


	<h4 class="box-title text-primary mt-2">Work Experience</h4>
		<hr>
		<div class="col-md-12 mt-2 job-form">
		
			<table class="table-responsive" id="wrkexpDtlTable">
				<thead>
					<tr>
						<th style="width: 27%;"><label>Company</label> 
						
						 <div class="col-md-1 " style="padding-left: 64px;margin-top: -25px;">
              			 <button data-toggle="modal" data-target="#addCom" type="button" id="addCompany" title="Add Company Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addCompanyN()">
              			 <i class="fa fa-plus"></i>
             			 </button>
           				</div> 
						
						</th>
						<th style="width: 27%;"><label>Position</label>
						
						 <div class="col-md-1 " style="padding-left: 55px;margin-top: -25px;">
              			 <button data-toggle="modal" data-target="#addPos" type="button" id="addPosition" title="Add Position Name" style="height:-1px;margin-left: 10px;margin-top: 4%;" class="btn btn-xs ml-1 addButton" onclick="$(this).addPositionN()">
              			 <i class="fa fa-plus"></i>
             			 </button>
           				</div>
					
						</th>
						<th style="width: 20%;"><label>Start Date</label></th>
						<th style="width: 20%;"><label>End Date</label></th>
						<th></th>
					</tr>
				</thead>
				<tbody id="wrkexpDtlBody">
					<tr class="wrkexpDtlRow">
					
					
						<td>
													
							<select class="form-control form-control-sm select2" id="company" name="applicantexperience[0][cmId]">
								<option value="" selected="selected">-- Select --</option>				
							</select>
								
						</td>
					
						<td>
													
							<select class="form-control form-control-sm select2" id="position" name="applicantexperience[0][pmId]">
								<option value="" selected="selected">-- Select --</option>			
							</select>

						</td>
					
						<td >
				   			 <input class="form-control form-control-sm" type="text" data-provide="datepicker" name="applicantexperience[0][start_date]" id="startdt"  onchange="$(this).disbaleEndDate();" autocomplete="off"/>

						</td>
						
						
						<td class="endDateBox">
				    		<input class="form-control form-control-sm" type="text" data-provide="datepicker" name="applicantexperience[0][end_date]" id="enddt" autocomplete="off" disabled="disabled"/>

						</td>
				
						<td>
							<input class="form-control form-control-sm" type="hidden"  value="Y" id="isactive" name="applicantexperience[0][isactive]">
						</td>
				
				
						<td class="pl-2">
							<button type="button" class="btn btn-xs addButton" title="Add Work Experience Row" id="addwrkexpButton" onclick="$(this).addwrkexpDtlRow()"> <i class="fa fa-plus"></i>
							</button>
							<button type="button" class="btn btn-xs ml-1 removeButton" title="Remove Work Experience Details Row" onclick="$(this).removewrkexpDtlRow()"> <i class="fa fa-trash"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	
	<!-- Resume Upload  Here 	
	
				<div class="col-sm-12 inBoxBody mt-4">
						<div class="row" style="padding-top: 20px">
							<div class="col-7">
								<div class="col-4">
			   						<label id="chooseFile">Upload Resume
		                				<input hidden="true" type="file" name="resumeName" id="file-input"   onchange="$(this).onChangeResumeFile();" accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf" multiple />
			   						</label>
			   					</div>
			   					<div id="menu-outer" class="col-8">
									<div class="table">
										<ol id="ihorizontal-list"></ol>
									</div>
								</div>
							</div>
						</div>
					</div> -->

<!-- End Work Experience Table -->	
	
	
	
	
	
	<div class="d-flex justify-content-end gap-items-2 mb-10">
		<button type="button" id="saveAppliMaster" class="btn btn-success m-1">
		 Save
		</button>
	<!--  	<button type="button" class="btn btn-danger m-1"  id="resetBtn" onclick="$(this).ResetAllDataInFormAppliMstt()">
		  Reset
		</button> -->
	</div> 
	
	
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
</form>

 <!-- Company Mst Modal Content -->
 				<div id="addcompanymodalDiv">
                  <div id="addcompanyMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Company</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="companyMstAddForm" action="">
                          <input type="hidden" name="cmId" id="cmIds" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Company Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="comMstAddSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Company Name" class="input-box form-control" type="text" name="companyName" id="companyNameAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Company Name" />
                                  </div>
                                </div>                              
                      
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkComAddSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksComAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveComMstAddBtn" onClick="$(this).saveAddCompMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddComMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div> 
                
                
           <!-- Position Mst Modal Content -->
                
 				<div id="addPositionmodalDiv">
                  <div id="addPositionMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Position</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="positionMstAddForm" action="">
                          <input type="hidden" name="pmId" id="pmIds" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Position Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="posMstAddSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Position Name" class="input-box form-control" type="text" name="positionName" id="positionNameAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Position Name" />
                                  </div>
                                </div>                              
                      
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkPosAddSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksPosAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="savePosMstAddBtn" onClick="$(this).saveAddPosMst()">Save Changes</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddPosMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div>  
                 

 <!-- Education Mst Modal Content -->
 
 				<div id="addEducationmodalDiv">
                  <div id="addEducationMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Education</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="educationMstAddForm" action="">
                          <input type="hidden" name="emId" id="emIds" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Education Level<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="educationMstAddSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Education Name" class="input-box form-control" type="text" name="eduLevel" id="eduLevelAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Education Level" />
                                  </div>
                                </div>                              
                      
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkEduAddSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksEduAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveEducationMstAddBtn" onClick="$(this).saveAddEducationMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddEducationMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div> 
                
                
           <!-- Course Mst Modal Content -->
                
 				<div id="addCoursemodalDiv">
                  <div id="addCourseMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Course</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="courseMstAddForm" action="">
                          <input type="hidden" name="coId" id="coIds" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Course Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="courseMstAddSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Course Name" class="input-box form-control" type="text" name="courseName" id="courseNameAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Course Name" />
                                  </div>
                                </div>                              
                      
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkCourseAddSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksCourseAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveCourseMstAddBtn" onClick="$(this).saveAddCourseMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddCourseMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div>  
                 


  <!-- Institute Mst Modal Content -->
                
 				<div id="addInstitutemodalDiv">
                  <div id="addInstituteMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Institute</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="instituteMstAddForm" action="">
                          <input type="hidden" name="imId" id="imIds" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Institute Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="instituteMstAddSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Institute Name" class="input-box form-control" type="text" name="insName" id="insNameAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Institute Name" />
                                  </div>
                                </div>                              
                      
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkInsAddSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksInstituteAdd" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveInstituteMstAddBtn" onClick="$(this).saveAddInstituteMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddInstituteMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div>  
                 
                 
            <!-- Skill Domain Mst Modal Content -->
                
 				<div id="addDomainmodalDiv1">
                  <div id="addDomainMstModel1" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Skill Domain</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="domainMstAddForm1" action="">
                          <input type="hidden" name="sdmId" id="sdmIds1" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Skill Domain Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="domainMstAddSpan1" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Skill Domain Name" class="input-box form-control" type="text" name="skillDomainName" id="skillDomainNameAdd1" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Skill Domain Name" />
                                  </div>
                                </div>                              
                      
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkDomAddSpan1" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksDomainAdd1" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveDomainMstAddBtn1" onClick="$(this).saveAddDomainMst1()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddDomainMstBtn21">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div>  
                 
			
			
	<!-- Skill Mst Modal Content -->
                
 				<div id="addSkillmodalDivM">
                  <div id="addSkillMstModelM" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Skill</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="skillMstAddFormM" action="">
                          <input type="hidden" name="smId" id="smIdSkM" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            <input type="hidden" name="isActive" id="isActive"  value="Y" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->                                  
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Skill Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="skillMstAddSpanM" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Skill Name" class="input-box form-control" type="text" name="skillName" id="skillNameAddM" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Skill Name" />
                                  </div>
                                </div>  
                                
                               <!-- Row 2 -->
                              <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Skill Domain Name<span class="text-danger">*</span></label>
						          <div class="input-group  col-sm-6">
						          <select class="form-control form-control-sm select2" style="width: 100%;"  name="sdmId" id="sdmIdSkM" mandatory=true message="Please select Skill Domain Name" ><option>-- Select --</option></select>
						         </div>
                           		 </div>                            
                      
                                 <!-- Row 3 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkSkillAddSpanM" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksSkillAddM" onkeyup="$(this).checkApplicantfieldLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveSkillMstAddBtnM" onClick="$(this).saveAddSkillMstM()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAddSkillMstBtn2M">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div>  
                 
			


<script>
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditAppliMaster"+tabIndex);
	$(this).prepareJobApplicant($FI);
	$("#dob").datepicker({dateFormat: 'dd/mm/yyyy',endDate:new Date(),autoclose:true,});
	/* $("#dob").datepicker({
	        dateFormat: 'dd/mm/yyyy',
	        autoclose:true,
	        startDate: new Date()
	}); */
	
	$("#workingFrom").datepicker({dateFormat: 'dd/mm/yyyy',autoclose:true,});
	$("#workingFrom").datepicker({
	        dateFormat: 'dd/mm/yyyy',
	        autoclose:true,
	        startDate: new Date()
	});
	
	/*	$('#mobile').on("cut copy paste",function(e){
	       e.preventDefault();
    }); */
	
    /*	$('#mobile1').on("cut copy paste",function(e){
	       e.preventDefault();
	    }); */
	
	$("#workingTill").datepicker({dateFormat: 'dd/mm/yyyy',autoclose:true,});
	$("#workingTill").datepicker({
	        dateFormat: 'dd/mm/yyyy',
	        autoclose:true,
	        startDate: new Date()
	});
	$("#startdt").datepicker({dateFormat: 'dd/mm/yyyy',autoclose:true,});
	//$("#enddt").datepicker({dateFormat: 'dd/mm/yyyy',autoclose:true,});
	$("#lastworkdate").datepicker({dateFormat: 'dd/mm/yyyy',autoclose:true,});
</script>
<script src="./js/pages/advanced-form-element.js"></script>



