<form id="appliLstForm">
  <div class="user" style="padding-top: 15px;" id="applicantContainer">
  	<div th:replace="./fragments/gridMenu::menu('APPLICANT_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="applicant" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("#appliLstForm");
$(this).applicantMasterList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */
 </script>