<form id="clientMstLstForm">
  <div class="user" style="padding-top: 15px;" id="clientMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('CLIENT_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="clientMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).clientMstList();
</script>
 
  <!-- Skill Cat Mst Modal Content -->
                  <div id="clientMstModel" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Client</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="clientMstForm" action="">
                          <input type="hidden" name="clId" id="clId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Client Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="clientMstSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Client Name" class="input-box form-control" type="text" name="companyName" id="companyName" onkeyup="$(this).checkClientMstLength()" maxlength="50" placeholder="Client Name" />
                                  </div>
                                </div>
                                <!-- Row 2 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Location<span class="text-danger">*</span></label>
                                <div class="input-group col-sm-6">
                                 <select  class="form-control form-control-sm select2" style="width: 100%;" name="locId" id="locId" mandatory=true message="Please Select Location"><option>-- Select --</option></select>                              
                                </div>
                              	</div>
                              	
                              	<!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Domain Name<span class="text-danger">*</span></label>
                                <div class="input-group col-sm-6">
                                 <select  class="form-control form-control-sm select2" style="width: 100%;" name="dmId" id="dmId" mandatory=true message="Please Select Domain Name"><option>-- Select --</option></select>                              
                                </div>
                              	</div> 
                              	
                              <!-- Row 4 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Client Type<span class="text-danger">*</span></label>
                                <div class="input-group col-sm-6">
                               <select class="form-control form-control-sm select2" style="width: 100%;"  name="companyType" id="companyTp" mandatory=true message="Please Select Client Type">
                                <option value="" selected="selected">---Select---</option>
                                <option value="Internal">Internal</option>
                                <option value="External">External</option>
                               </select>                            
                                </div>
                              	</div>
                              	
                                 <!-- Row 5 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkclientMSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksClient" onkeyup="$(this).checkClientMstLength()" maxlength="50" placeholder="Remarks" />
                                  </div>
                                </div>
                                <!-- Row 4 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusClientMAct" checked> <label for="statusClientMAct">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusClientMInAct"> <label for="statusClientMInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveclientMstBtn" onClick="$(this).saveclientMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeClientMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>