<form id="instituteMstLstForm">
  <div class="user" style="padding-top: 15px;" id="instituteMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('INSTITUTE MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="instituteMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).instituteMstList();
</script>
 
  <!-- Institute Mst Modal Content -->
                  <div id="instituteMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Institute</h4>
                   <!--  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillDomainMstBtn1">X</button> - -->
                        </div>
                        <div class="modal-body">
                          <form id="instituteMstForm" action="">
                          <input type="hidden" name="imId" id="imId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Institute Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                   <span id="instituteMstSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Institute Name" class="input-box form-control" type="text" name="insName" id="insName" onkeyup="$(this).checkInstituteMstLength()" placeholder="Institute Name" />
                                  </div>
                                </div>
                                <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                   <span id="remarkInsMstSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksInsMst" onkeyup="$(this).checkInstituteMstLength()" placeholder="Remarks" />
                                  </div>
                                </div>
                                <!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusInsMstAct" checked> <label for="statusInsMstAct">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusInsMstInAct"> <label for="statusInsMstInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveInstituteMstBtn" onClick="$(this).saveInstituteMst()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeInstituteMstBtn2">Close</button> 
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>