<form id="jobApplicantLstForm">
  <div class="user" style="padding-top: 15px;" id="jobApplicantContainer">
  	<div th:replace="./fragments/gridMenu::menu('JOB_APPLICANT')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="jobAppl" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#jobApplicantLstForm");
	$(this).jobApplicantList();
	//$(this).jobInterviewList($FI);
</script>
                             
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>