<form id="JobApprovalForm">
  <div class="jobApproval" style="padding-top: 15px;" id="JobApprovalContainer">
  	<div th:replace="./fragments/gridMenu::menu('SHARE_WITH_CLIENT')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="JobApproval" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>


<!-- Start Modal Box email-->

<div class="modal fade" id="ApprovalModal"  role="dialog" aria-labelledby="ApprovalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <form autocomplete="off" id="ApprovalModalForm">
          <div class="modal-content">
            <div class="modal-header p-2" style="background-color: #bee8a9;color:#006400eb;height: 50px;">
            	
              	<h5 class="modal-title mt-2" id="myModalLabel"><i class="fa fa-user pr-2" aria-hidden="true"></i>Share With Client</h5>
            </div>
            <div class="modal-body">
            
	        
                <div class="">
               
               <div class="row manTranRow" style="display:none;">   
                        <label class="label-box p-0 col-lg-1 col-12">Spoc Id</label>
                        <div class="col-lg-11 col-12 p-0 m-0" id="Spocid">
                       	
                   	 </div>
               </div>
               
               <div class="row manTranRow" style="display:none;">   
                        <label class="label-box p-0 col-lg-1 col-12">Format Id</label>
                        <div class="col-lg-11 col-12 p-0 m-0" id="fmid">
                       	
                   	 </div>
               </div>
               
               		 <div class="row manTranRow">   
                        <label class="label-box p-0 col-lg-1 col-12">From  :</label>
                        <div class="col-lg-11 col-12 p-0 m-0" id="fromContent">
                       	
                   	 </div>
                    </div>
                    
                    <div class="row manTranRow">   
                        <label class="label-box p-0 col-lg-1 col-12">To  :</label>
                        <div class="col-lg-11 col-12 p-0 m-0" id="toContent">
                       	
                   	 </div>
                    </div>
                    
                    <div class="row manTranRow">   
                        <label class="label-box p-0 col-lg-1 col-12">Cc  :</label>
                        <div class="col-lg-11 col-12 p-0 m-0" id="CcContent">
                       	
                   	 </div>
                    </div>
                
                    <div class="row manTranRow">   
                        <label class="label-box p-0 col-lg-1 col-12">Subject  :</label>
                        <div class="col-lg-11 col-12 p-0 m-0" id="subjectContent">
                       	
                   	 </div>
                    </div>
                    
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-1 col-12">Dear</label>
                          <div class="col-lg-11 col-12 p-0 m-0" id="recipientContent">                  
							                		 
						</div>   
                   </div>
                   
                   <div id="msgContentTable">
                   <div class="row manTranRow" id="formatTable" style="border: 1px solid darkgrey;box-shadow: 2px 2px 3px 0px grey;height: 190px;
				    overflow-x: scroll;
				    overflow-y: scroll;
				    margin: 0px 12px 0px 0px;">
                          <div class="col-lg-10 col-12 p-0 m-0" id="msgContent" >                  
							 
 								 <table  class="table-bordered" id = "tableContent" style="width:200%;!important">
 									   <thead id="mailTableHead" >
									      <tr>
									        
									      </tr>
									    </thead>
									    
									     
									      
									     <tbody id="mailTableBody">
									     	<tr class="rowBody" style="text-align: center;">
									       
									        </tr>
									    </tbody>
									    
									    
 								</table>
							 				 
						</div>   
                   </div>
                   </div>
                    <div class="form-group mt-2 manTranRow">
                        <label class="label-box p-0 col-lg-1 col-12">Regards,</label>
                        <div class="col-lg-11 col-12 p-0 m-0" id="senderContent">
                       		 
                   		 </div>
                    </div>
                                
                </div>
                
            </div>
            <div class="modal-footer p-1" id="chkLstFoot" style="background: #bee8a9;color: #785207;">
               <button type="button" class="btn cancelButton" data-dismiss="modal" style = "float:right;background-color: #097141f5;" id="closeDesignationBtn2">Close</button>
               <button type="button" class="btn emailSaveBtn" style = "float:right" id="savemailBtn" onClick="$(this).Mail()"><i class="fa fa-location-arrow pr-2" aria-hidden="true"></i>Send</button>
            </div>
          </div>
          </form>

    </div>
</div> 
<!-- End Modal Box email -->

<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("#JobApprovalForm");
$(this).jobApprovalList($FI);
 </script>