<form id="JobMasterLstForm">
  <div class="user" style="padding-top: 15px;" id="JobMasterContainer">
  	<div th:replace="./fragments/gridMenu::menu('JOB_OPENING')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="JobMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("#JobMasterLstForm");
$(this).jobMasterList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */
 </script>