<form id="JobShareForm">
  <div class="jobApproval" style="padding-top: 15px;" id="JobShareContainer">
  	<div th:replace="./fragments/gridMenu::menu('JOB_WISE_SHARE')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="JobShare" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("#JobShareForm");
$(this).jobShareList($FI);
 </script>