<form id="locMstLstForm">
  <div class="user" style="padding-top: 15px;" id="locMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('LOC_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="loCMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).locMstList();
</script>
 
  <!-- Skill Cat Mst Modal Content -->
                  <div id="locMstModel" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">City</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="locMstForm" action="">
                          <input type="hidden" name="lmId" id="lmId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">State<span class="text-danger">*</span></label>
                                <div class="input-group col-sm-6">
                                 <select  class="form-control form-control-sm select2" style="width: 100%;" name="stateid" id="stateid" mandatory=true message="Please Select State"><option>-- Select --</option></select>
                                 
                                </div>
                              	</div> 
                                <!-- Row 2 -->
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">City Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="locMstSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter City Name" class="input-box form-control" type="text" name="cityname" id="cityname" onkeyup="$(this).checkLocMstLength()" maxlength="50" placeholder="City Name" />
                                  </div>
                                </div>
                                 <!-- Row 3 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkLocSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksLoc" onkeyup="$(this).checkLocMstLength()" maxlength="50" placeholder="Remarks" />
                                  </div>
                                </div>
                                <!-- Row 4 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusLocAct" checked> <label for="statusLocAct">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusLocInAct"> <label for="statusLocInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="savelocMstBtn" onClick="$(this).saveLocMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closelocMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>