<!-- Grid row -->
<style>

.temp
{
  padding: 5px;
  width: 100%;
  height: 100%;
  margin-top:15px;
  border:2px;
}

.btnw:link, .btnw:visited
{
	
}
.btnw{
	background-color: #33B3FF;
	color: white;
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-right: 2px;
	margin-top: 10px;
	font-size:18px;
	width:24%;
	border-radius:10px;
	
	
	
}

.btnw:hover, .btnw:active{
background-color: #3366cc;
transform: scale(1.05);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


</style>

<div class="temp">
<!-- Grid column -->
    <div class="col-md-12">
    
  		 <button type="button" class="btnw" onclick="$(this).getlocmst();">City</button>
  		 <button type="button" class="btnw" onclick="$(this).getclientmst();">Client</button>
  		 <button type="button" class="btnw" onclick="$(this).getcompanymst();">Company</button>
         <button type="button" class="btnw" onclick="$(this).getcoursemst();">Course</button>

    </div>
    <div class="col-md-12">
    
        <button type="button" class="btnw" onclick="$(this).getdomainmst();">Domain</button>
   		<button type="button" class="btnw" onclick="$(this).geteducation();">Education</button>
   		<button type="button" class="btnw" onclick="$(this).getinstitutemaster();">Institute</button>
   		<button type="button" class="btnw" onclick="$(this).getmatchweightcfg();">Match Weight Config</button>
        
    </div>
    <div class="col-md-12">
    
    	<button type="button" class="btnw" onclick="$(this).getpositionmst();">Position</button>
        <button type="button" class="btnw" onclick="$(this).getrecugroup();">Recruitment Group</button>
   		<button type="button" class="btnw" onclick="$(this).getskillcatmst();">Skill Category</button>
        <button type="button" class="btnw" onclick="$(this).getskilldomainmst();">Skill Domain</button>
   
    </div>
    <div class="col-md-12">
 
        <button type="button" class="btnw" onclick="$(this).getskillgroupmst();">Skill Group</button>      
 		<button type="button" class="btnw" onclick="$(this).getskillmst();">Skill Master</button> 
     	<button type="button" class="btnw" onclick="$(this).getsourcelist();">Source</button>
        <button type="button" class="btnw" onclick="$(this).getstatemaster();">State</button>
        
    </div>
    <div class="col-md-12">
    
        <button type="button" class="btnw" onclick="$(this).getspocmst();">Spoc Person</button>
        <button type="button" class="btnw" onclick="$(this).getusertype();">User Type</button>
     <!--  <button type="button" class="btnw">#</button>
        <button type="button" class="btnw">#</button> -->
        

    </div>
     <div class="col-md-12">

      <!--    <button type="button" class="btnw">#</button>
        <button type="button" class="btnw">#</button>
        <button type="button" class="btnw">#</button>
        <button type="button" class="btnw">#</button> -->
        

    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->






















<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>


