<form id="matchweightcfgLstForm">
  <div class="user" style="padding-top: 15px;" id="matchweightcfgContainer">
  	<div th:replace="./fragments/gridMenu::menu('MATCH WEIGHT CFG')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="matchweightcfg" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).matchweightcfgList();
</script>
 
  <!-- Recruitment Group Mst Modal Content -->
                  <div id="matchweightcfgModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Match Weight Config</h4>
                         <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillGroupMstBtn1">X</button> -->
                        </div>
                        <div class="modal-body">
                          <form id="matchweightcfgForm" action="">
                          <input type="hidden" name="paramId" id="paramId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid" value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Parameter Name<span class="text-danger">*</span></label> 
                                  <div class="col-sm-6 paddingzero">
                                   <span id="paramNameSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Parameter Name" class="input-box form-control" type="text" name="paramName" onkeyup="$(this).checkMWCFLength()" id="paramName" placeholder="Parameter Name"/>
                                  </div>
                                </div>
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Weightage<span class="text-danger">*</span></label> 
                                  <div class="col-sm-6 paddingzero">
                                   <span id="weightageSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Weightage" class="input-box form-control" type="number" min="0" value="0" name="weightage" onkeydown="validateNumber(event);" 
                                    onkeyup="$(this).checkMWCFLength()" id="weightage" placeholder="Weightage"/>
                                  </div>
                                  </div>
                                  <!-- Row 3 -->
                                  <div class="form-group row">
                                 <label class="col-sm-6 col-form-label label-box">Priority<span class="text-danger">*</span></label> 
                                  <div class="col-sm-6 paddingzero">
                                   <span id="prioritySpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Priority" class="input-box form-control" type="number" min="0" name="priority" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" 
                                    onkeyup="$(this).checkMWCFLength()" id="priority" placeholder="Priority"/>
                                  </div>
                                </div>
                                
                                <!-- Row 4 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                  <span id="remarksMWCFSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksMWCF" onkeyup="$(this).checkMWCFLength()" placeholder="Remarks"/>
                                  </div>
                                </div>
                                <!-- Row 5 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusActMWCF" checked="checked"> <label for="statusActMWCF">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusInActMWCF"> <label for="statusInActMWCF">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveMatchWeightcfgBtn" onClick="$(this).saveMatchWeightcfg()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeMatchWeightcfgBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal --> 
                  
            <script>
        	$('#weightage').on("cut copy paste",function(e){
        	       e.preventDefault();
        	    }); 

        	$('#priority').on("cut copy paste",function(e){
     	       e.preventDefault();
     	    }); 
			</script>                      
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>