<form id="recuGroupMstLstForm">
  <div class="user" style="padding-top: 15px;" id="recuGroupMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('RECU_GRP_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="recuGroupMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).recuGrpMstList();
</script>
 
  <!-- Recruitment Group Mst Modal Content -->
                  <div id="recuGroupMstModel" class="modal fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Recruitment Group</h4>
                         <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillGroupMstBtn1">X</button> -->
                        </div>
                        <div class="modal-body">
                          <form id="recuGroupMstForm" action="">
                          <input type="hidden" name="rgmId" id="rgmId" value="0"  />
                            <input type="hidden" name="siteId" id="siteId" value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Recruitment Group Name<span class="text-danger">*</span></label> 
                                  <div class="col-sm-6 paddingzero">
                                   <span id="rgroupSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Recruitment Group Name" class="input-box form-control" type="text" name="recuGrpName" onkeyup="$(this).checkRecruGMstLength()" id="recuGrpName" maxlength="50" placeholder="Recruitment Group Name"/>
                                  </div>
                                </div>
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Group Type<span class="text-danger">*</span></label> 
                               <div class="input-group col-sm-6">
                               <select class="form-control form-control-sm select2" style="width: 100%;"  name="grpType" id="grpType" mandatory=true message="Please Select Group Type">
                                <option value="" selected="selected">---Select---</option>
                                <option value="Internal">Internal</option>
                                <option value="External">External</option>
                               </select>                            
                                </div>
                                </div>
                                <!-- Row 3 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                  <span id="remarksRGSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksRG" onkeyup="$(this).checkRecruGMstLength()" maxlength="50" placeholder="Remarks"/>
                                  </div>
                                </div>
                                <!-- Row 4 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusActRG" checked="checked"> <label for="statusActRG">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusInActRG"> <label for="statusInActRG">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveRecuGroupMstBtn" onClick="$(this).saveRecruGroupMst()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeRecuGMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>