<form id="skillGroupMstLstForm">
  <div class="user" style="padding-top: 15px;" id="skillGroupMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('SKILL_GROUP_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="skillGroupMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).skillGroupMstList();
</script>
 
  <!-- Skill Domain Mst Modal Content -->
                  <div id="skillGroupMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Skill Group</h4>
                         <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillGroupMstBtn1">X</button> -->
                        </div>
                        <div class="modal-body">
                          <form id="skillGroupMstForm" action="">
                          <input type="hidden" name="sgmId" id="sgmId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid" value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Skill Group Name<span class="text-danger">*</span></label> 
                                  <div class="col-sm-6 paddingzero">
                                   <span id="sgroupSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Skill Group Name" class="input-box form-control" type="text" name="skillGroupName" onkeyup="$(this).checkSkillGMstLength()" id="skillGroupName" maxlength="50" placeholder="Skill Group Name"/>
                                  </div>
                                </div>
                                <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                  <span id="remarksGSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksG" onkeyup="$(this).checkSkillGMstLength()" maxlength="50" placeholder="Remarks"/>
                                  </div>
                                </div>
                                <!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusGAct" checked="checked"> <label for="statusGAct">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusGInAct"> <label for="statusGInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveSkillGroupMstBtn" onClick="$(this).saveSkillGroupMst()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeSkillDomainMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>