<form id="skillMstLstForm">
  <div class="user" style="padding-top: 15px;" id="skillMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('SKILL_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="skillMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).skillMstList();
</script>
 
  <!-- Skill Domain Mst Modal Content -->
                  <div id="skillMstModel" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Skill Master</h4>
                  <!--  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillMstBtn1">X</button>  --> 
                        </div>
                        <div class="modal-body">
                          <form id="skillMstForm" action="">
                          <input type="hidden" name="smId" id="smId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Skill Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                   <span id="smSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Skill Name" class="input-box form-control" type="text" name="skillName" id="skillName" onkeyup="$(this).checkSkillMstLength()" maxlength="50" placeholder="Skill Name" />
                                  </div>
                                </div>
                                <!-- Row 2 -->
                              <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Description</label>
                                <div class="col-sm-6 paddingzero">
                                <span id="descSpan" style="color:red;"></span>
                                  <input name="skillDesc" id="skillDesc" type="text"  class="input-box form-control" onkeyup="$(this).checkSkillMstLength()" maxlength="50" placeholder="Description" />
                                </div>
                              </div>
                            <!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Skill Group Name</label>
						          <div class="input-group  col-sm-6">
						          <select class="form-control form-control-sm select2" style="width: 100%;" type="text"  name="sgmId" id="sgmId" message="Please select Skill Group Name" ><option>-- Select --</option></select>
						         </div>
                            </div>
                             <!-- Row 4 -->
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Skill Category Name</label>
						          <div class="input-group  col-sm-6">
						           <select class="form-control form-control-sm select2" style="width: 100%;"  name="scmId"   id="scmId"  message="Please select Skill Category Name" ><option>-- Select --</option></select> 
						         </div>
                            </div>
                               <!-- Row 5 -->
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Skill Domain Name<span class="text-danger">*</span></label>
						          <div class="input-group  col-sm-6">
						          <select class="form-control form-control-sm select2" style="width: 100%;"  name="sdmId" id="sdmId" mandatory=true message="Please select Skill Domain Name" ><option>-- Select --</option></select>
						         </div>
                            </div>
                              <!-- Row 6 --> 
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                 	 <span id="remarksSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksSM"onkeyup="$(this).checkSkillMstLength()" maxlength="50" placeholder="Remarks" />
                                  </div>
                                </div>
                                <!-- Row 7 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusSkillMstAct" checked> <label for="statusSkillMstAct">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusSkillMstInAct"> <label for="statusSkillMstInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveSkillDomainMstBtn" onClick="$(this).saveSkillMst()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeSkillMstBtn2">Close</button> 
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>