<form id="sourceMstLstForm">
  <div class="user" style="padding-top: 15px;" id="sourceMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('SOURCE_MST_LIST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="sourceMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).sourceMstList();
</script>
 
  <!-- Skill Domain Mst Modal Content -->
                  <div id="sourceMstModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Source</h4>
                         <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillGroupMstBtn1">X</button> -->
                        </div>
                        <div class="modal-body">
                          <form id="sourceMstForm" action="">
                          <input type="hidden" name="somId" id="somId" value="0"  />
                            <input type="hidden" name="siteId" id="siteId" value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Source Name<span class="text-danger">*</span></label> 
                                  <div class="col-sm-6 paddingzero">
                                   <span id="sourceMstSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Source Name" class="input-box form-control" type="text" name="sourceName" onkeyup="$(this).checkSourceMstLength()" id="sourceName" maxlength="50" placeholder="Source Name"/>
                                  </div>
                                </div>
                                <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                  <span id="remarksSouSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksSou" onkeyup="$(this).checkSourceMstLength()" maxlength="50" placeholder="Remarks"/>
                                  </div>
                                </div>
                                <!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusSouAct" checked="checked"> <label for="statusSouAct">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusSouInAct"> <label for="statusSouInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveSourceMstBtn" onClick="$(this).saveSourceMst()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeSourceMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>