<form id="spocMstLstForm">
  <div class="user" style="padding-top: 15px;" id="spocMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('SPOC_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="spocMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).spocMstList();
</script>
 
  <!-- Spoc Mst Modal Content -->
                  <div id="spocMstModel" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Spoc</h4>
                  <!--  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillMstBtn1">X</button>  --> 
                        </div>
                        <div class="modal-body">
                          <form id="spocMstForm" action="">
                          <input type="hidden" name="spocId" id="spocId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Spoc Person Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                   <span id="spmSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Spoc Person Name" class="input-box form-control" type="text" name="spocName" id="spocName" onkeyup="$(this).checkSpocMstLength()" maxlength="50" placeholder="Spoc Person Name" />
                                  </div>
                                </div>
                                <!-- Row 2 -->
                              <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Email<span class="text-danger">*</span></label>
                                <div class="col-sm-6 paddingzero">
                                <span id="emailSpmSpan" style="color:red;"></span>
                                  <input mandatory=true message="Please Enter Email" name="spocEmail" id="spocEmail" type="text"  class="input-box form-control" onkeyup="$(this).checkSpocMstLength()" maxlength="64" placeholder="Email" />
                                </div>
                              </div>
                            <!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Phone No.<span class="text-danger">*</span></label>
						          <div class="col-sm-6 paddingzero">
						          <span id="phoneSpmSpan" style="color:red;"></span>
						            <input mandatory=true message="Please Enter Phone No." name="spocPhone" id="spocPhone" type="text" min="0" class="input-box form-control" onkeyup="$(this).checkSpocMstLength()" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"  maxlength="10" placeholder="Phone No." />
						         </div>
                            </div>
                             <!-- Row 4 -->
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Client Name<span class="text-danger">*</span></label>
						          <div class="input-group  col-sm-6">
						           <select class="form-control form-control-sm select2" style="width: 100%;"  name="clId"   id="clId" mandatory=true message="Please select Client Name" ><option>-- Select --</option></select> 
						         </div>
                            </div>
                     
                              <!-- Row 5 --> 
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                 	 <span id="remarkSpmSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksSPMst"onkeyup="$(this).checkSpocMstLength()" maxlength="50" placeholder="Remarks" />
                                  </div>
                                </div>
                                <!-- Row 6 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isActive" id="statusSPMAct" checked> <label for="statusSPMAct">Active</label>
					             <input type="radio" value="N" name="isActive" id="statusSPMInAct"> <label for="statusSPMInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveSPMstBtn" onClick="$(this).saveSpocMst()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeSPMstBtn2">Close</button> 
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->  
      <script>              
 	  $('#spocPhone').on("cut copy paste",function(e){
       e.preventDefault();
   		 }); 
    </script>                                   
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>