.carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }
  .wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
  }


  /* apart from api */
.service-card{
    height: 250px !important;
    width: 240px !important;
    border-radius: 7px;
}
.srvCrdDiv{
    float: left;
    padding-right: 15px;
}
.srvCrdDiv>h6{
    color: #012F86;
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
}
.srvCrdDiv>p{
    color: #40C5FF;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}
.textDiv{
    font-size: 12px;
    text-align: justify;
}

.service-card:hover{
    box-shadow: 0px 0px 6px 0px grey;
}
.carousel{
    width:90%;
    margin:0px auto;
  }
  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
    border: 2px solid #fff;
  }
  .slick-slide{
      max-width: 275px;
  }

  .hrTag{
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid #00B2FF;
    width: 9%;
  }
  
/* 
.sliderWidth{
    width: 870px;
    max-width: unset;
}



@media screen and (max-width: 883px) {
    .sliderWidth{
        width: 873px;
        max-width: unset;
    }
}

@media screen and (max-width: 730px) {
    .sliderWidth{
        width: 583px;
        max-width: unset;
    }
} */


@media(max-width:767px)
{
	.textDiv{
    font-size: 14px;
    text-align: justify;
}
}

