html,
  body{
    width:100%;
    overflow-x:hidden;
  }
.header{
    background-image: url(/images/website/header.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 657px;
    padding-bottom: 10px;
}

.sectionBack{
    background-image: url('/images/website/bodyBack.png');
}

.contacUsBack{
    background-image: url('/images/website/Contact Us Background.png');
}

.menu{
    text-align: center;
    padding-top: 30px;
}
.menu>ul{
    list-style: none;
    display: inline-flex;
    font-family: Poppins;
    font-size: 10px;
    color: #FFFFFF;
    font-weight: 600;
}
.menu>ul>li{
    letter-spacing: 1.8px;
    padding-right: 50px;
    cursor: pointer;
}

.menu>ul>li>a{
    color: #FFFFFF;
}

.menu>ul>li>a:hover{
    color: #00B2FF;
}
.intro{
    padding-left: 88px !important;
    color: #ffff;
    padding-right: 0px !important;
    
}
.intro>.introHead{
    font-size: 45px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.contactBtn{
    background-color: #40C5FF;
    border: none;
    border-radius: 13px;
    width: 23%;
    color: black !important;
    cursor: pointer;
    font-size: 13px;
    padding: 6px 20px 6px 20px;
    text-decoration: none !important;
}
.contactBtn:hover{
    background-color: aqua;
}
.contactBtn:focus{
    border: none;
}

.contactBtn:active{
    border: none;
}
.contactBtn:visited{
    border: none;
}


.submitBtn{
    background-color: #F5DC69;
    border: none;
    border-radius: 13px;
    width: 35%;
    font-size: 11px;
    padding: 6px 0px 6px 0px;
}
.submitBtn:hover{
    background-color: #ad9a42;
}

.input-box{
    padding: 8px 40px 8px 0px;
}
.input-box>input{
    background-color: #012f86;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    font-size: 11px;
}

.input-box>input:focus{
    background-color: #2550a0;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.input-box>textarea{
    background-color: #012f86;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.input-box>textarea:focus{
    background-color: #2550a0;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.input-box>dropdown{
    background-color: #012f86;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.input-box>dropdown:focus{
    background-color: #2550a0;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
}

.btn {
    border-radius: 20px !important;
    width: 170px;
    padding: .375rem .75rem !important;
    font-size: 10px !important;
    line-height: 1.9 !important;
}
.btn-primary {
    background-color: #012f86 !important;
    border: 1px solid #ffff !important;
}

.input-box>input::-webkit-input-placeholder { /* Edge */
    color: white;
    font-family: Poppins;
    font-size: 10px;
  }
  
  .input-box>input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-family: Poppins;
    font-size: 10px;
  }
  
  .input-box>input::placeholder {
    color: white;
    font-family: Poppins;
    font-size: 10px;
  }


.input-box>textarea::-webkit-input-placeholder { /* Edge */
    color: white;
    font-family: Poppins;
    font-size: 10px;
  }
  
  .input-box>textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
    font-family: Poppins;
    font-size: 10px;
  }
  
  .input-box>textarea::placeholder {
    color: white;
    font-family: Poppins;
    font-size: 10px;
  }


.form-box{
    margin-top: 92px;
    width: 35%;
    float: left;
}



/* redesign */
.logoBox{
    /*padding-left: 80px;*/
    padding : 80px;
    padding-top: 95px;
    padding-bottom: 30px;
}
.logoBox>img{
    width: 205px;
    height: 155px;
}
.centerImgBox{
    padding-top: 180px;
}
.centerImgBox>img{
    height: 300px;
}



.booking {
    width: 100%;
    /* display: flex; */
}
.logoMainBox{
    width: 35%;
    float: left;
}
.centerMainBox{
    width: 30%;
    float: left;
}

.secThird:hover{
    box-shadow: 0px 0px 6px 0px grey;
    border-radius: 7px;
}


@media screen and (max-width: 1276px) {
    .logoMainBox{
        width: 50%;
        float: left;
    }
    .centerMainBox{
        width: 50%;
        float: left;
        display: none;
    }
    .centerImgBox{
        padding-top: 90px;
    }
    .centerImgBox>img{
        height: 355px;
    }
    .form-box{
        margin-top: 180px;
        width: 50%;
    }
    
}


@media screen and (max-width: 920px) {
    .contactBtn{
        width: 40%;
    }
    .intro>.introHead{
        font-size: 30px;
    }
}

@media screen and (max-width: 690px) {
    .logoMainBox{
        width: 100%;
    }
    .form-box{
        width: 100%;
        margin-top: 70px;
        margin-left: 0;
    }
    .header{
        height: 900px;
    }
}

@media screen and (max-width: 500px) {
    .booking{
        display: grid;
    }
    .header{
        height: auto;
    }
}
/* @media screen and (max-width: 400px) {
    .whyChooseUsImg{
        display: none;
    }
} */

.whyChooseUsDiv{
    font-size: 12px;
    padding: 80px !important;
    text-align: justify;
    /* padding-left: 103px !important; */
}

@media screen and (max-width: 1110px) {
    .whyChooseUsDiv{
        padding: 20px !important;
    }
}

@media screen and (min-width: 1650px) {
    .whyChooseUsImg{
        padding: 0px !important;
        
    }
    .whyChooseUsImg>img{
        width: 55% !important;
        height: 435px;
    }
}



.abtUsImgDiv{
    margin-right: 51px;
    margin-left: 50px;
    position: relative;
}

.abtUsImgDiv>img{
    width: inherit;
    position: absolute;
    bottom: 0;
}

.abtUsDiv{
    font-size: 12px;
    margin-top: 75px;
}

@media screen and (max-width: 1110px) {
    .whyChooseUsDiv{
        padding: 20px !important;
    }
    .abtUsImgDiv>img{
        position: inherit;
    }
}

.abtUsMblImg{
    display: none;
}
.whyChooseUsMblImg{
    display: none;
}

@media screen and (max-width: 785px) {
    .whyChooseUsImg{
        display: none;
    }
    .abtUsImgDiv{
        display: none;
    }
    .abtUsMblImg{
        display: block;
    }
    .whyChooseUsMblImg{
        display: block;
    }
    .abtUsDiv{
        padding: 30px !important;
        /*padding-left: 70px !important;*/
        text-align: justify;
    }
    .whyChooseUsDiv{
        padding: 30px !important;
        /*padding-left: 70px !important;*/
        text-align: justify;
    }
    
    .intro {
    padding: 18px !important;
    color: #ffff;
   }
   
   .intro>.introHead {
    font-size: 30px;
    text-align: center;
}

}

.radioIcon{
    height: 15px;
    background: aliceblue;
    border-radius: 11px;
    width: 15px;
    margin: 6px 12px 0px 12px;
}

.footerMain{
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer{
    color: white;
    font-size: 11px;
    text-align: justify;
}
.dropdown-menu{
	font-size: 12px !important;
    color: #f7f7f7 !important;
    background-color: #1370e4 !important;
    height: 115px;
    overflow-y: scroll;
}
.dropdown-item{
	color: #f9f9f9 !important;
}

.dropdown-item:focus{
	background-color: #9abde0 !important;
}
.dropdown-item:hover{
	background-color: #9abde0 !important;
}


.dashBoardTbl{
    border: 1px solid darkgrey;
    box-shadow: 2px 2px 3px 0px grey;
    height: 190px;
    overflow-x: scroll;
    margin: 0px 12px 0px 96px;
}
#productLabel{
	/* margin-left:258px;
	margin-bottom: 22px;
	float: left; */
}


.dashBoardTbl>table>thead {
    font-size: 12px;
    font-family: 'Padauk', sans-serif;
    background: linear-gradient(to right ,#3230e6 , #80ccc1);
    color: aliceblue;
}

.dashBoardTbl>table>tbody {
    font-size: 10px;
    font-family: 'Padauk', sans-serif;
}

.prodhr
{
	width: 16%;
    border-top: 3px solid #00B2FF;
    margin: 0px;
}

.priceTag{
	font-size: 9px;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2px;
    color: #ca641c;;
}
.prodName{
	font-size: 9px;
    font-weight: bold;
    color: #0606a0;
}
.prodDesc{
    /* font-size: 11px; */
    margin-top: 32px;
    text-align: justify;
    max-height: 200px;
    /* overflow-y: scroll; */
    padding-right: 7px;
    color: #08284a;
    font-size: 11px;
    font-weight: bold;
}
.prodImg{
	height: 255px;
}

.prodBtn{
	border-radius: 0px 17px 0px 17px !important;
    width: fit-content;
    font-size: 12px !important;
    float: right;
    transition-property: border-radius !important;
  	transition-duration: 0.4s !important;
}

.prodBtn:hover{
	border-radius: 17px 0px 17px 0px !important;
}

.prodBox{
	box-shadow: 2px 6px 6px 1px grey;
	margin: 5px;
}
.modalUnderLine{
	margin: 0px;
    border-top: 1px solid;
    width: 26%;
    margin-bottom: 11px;
}

 /* @media screen and (min-width: 1551px) {	
  .prodhr{
  		width: 9%;
    	border-top: 3px solid #00B2FF;
    	margin-left: -130px;
  		}
  		#productLabel{
  		margin-left:259px;
  	}
} */

.fa {
      padding: 10px;
    font-size: 32px;
    width: 44px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
}

#social{font-size: 25px;}

.fa:hover {
    opacity: 0.7;
    color:#fff;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-instagram {
  background: #c057b3;
  color: white;

}

