<div class="box box-default">
	<form data-th-id="${#strings.concat('addEditPtnrMst',param.tabIndex)}" autocomplete="off">
		<input  type="hidden" name="pmId" id="pmId" /> 
    	<div class="box-body new-box-body">
			<div class="col-12 form-row pr-0">
				<div class="col-12 mt-2 inBoxBody">
					<div class="row col-12">
						<div class="col-6 col-lg-2 col-md-2" style="text-align: -webkit-center;">
						<label id="mstimglabel" style="width: inherit;position: relative;" onmouseenter="$(this).hoverImage()" onmouseout="$(this).removeHoverImage()">
					      		
					      		<img alt="user image" src="./images/avtara.png" id="imageDisp" >
				      			<input type="file" id="imageFile" src="" style="display: none;" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" onchange="$(this).showImage()">
				      		</label>
				      		<i style="display:none" class="fa fa-close" onclick="$(this).removemstImg()"></i>
						</div>
						<div class="col-12 col-lg-10 col-md-10 row pr-0">
							<div class="col-12 col-lg-4 pr-0">
								<label class="label-box pr-0" style="padding-top: 3px">Name <span class="text-danger">*</span></label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="text" mandatory="true" onkeyup="$(this).closest('form').find('#displayName').val($(this).val())" message = "Please Enter Partner Name" placeholder="Partner Name" name="name" id="name" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-4 pr-0">
								<label class="label-box pr-0" style="padding-top: 3px">Display Name </label>
			   					<div class="">
		                			<input class="form-control form-control-sm"  placeholder="Display Name" type="text" name="displayName" id="displayName" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-4 pr-0">
								<label class="label-box pr-0" style="padding-top: 3px">Company </label>
			   					<div class="">
		                			<input class="form-control form-control-sm"  placeholder="Company" type="text" name="company" id="company" /> 
			   					</div>
							</div>
							<!-- <div class="col-2">
							</div> -->
							<div class="col-12 col-lg-4 pr-0">
								<label class="label-box pr-0" style="padding-top: 3px">Mobile <span class="text-danger">*</span></label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="number" mandatory="true" message = "Please Enter Mobile Name" placeholder="Mobile" name="mobile" id="mobile" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-4 pr-0">
								<label class="label-box pr-0" style="padding-top: 3px">Phone </label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="number"  placeholder="Phone" name="phone" id="phone" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-4 pr-0">
								<label class="label-box pr-0" style="padding-top: 3px">Email </label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="text"  placeholder="Email" name="email" id="email" /> 
			   					</div>
							</div>
							
						</div>
					</div>
					
					<div class="col-12 row">
						<div class="col-12 col-lg-4 col-md-4">
							<label class="label-box pr-0" style="padding-top: 3px">Address</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" type="text"  placeholder="Full Address" name="address" id="address" />
		   					</div>
						</div>
						
						<div class="col-12 col-lg-2 col-md-2">
							<label class="label-box pr-0" style="padding-top: 3px">Landmark </label>
		   					<div class="">
	                			<input class="form-control form-control-sm" type="text"  placeholder="Landmark" name="landmark" id="landmark" /> 
		   					</div>
						</div>
						
						<div class="col-12 col-lg-2 col-md-2 ">
							<label class="label-box pr-0" style="padding-top: 3px">State </label>
		   					<div class="">
		   						<select class="form-control select2" id="state" name="state" onchange="$(this).populateCities('state','city');"><option value="" selected="selected">--select--</option></select>			
		   					</div>
						</div>
						
						<div class="col-12 col-lg-2 col-md-2">
							<label class="label-box pr-0" style="padding-top: 3px">City</label>
		   					<div class="">
		   						<select class="form-control select2" id="city" name="city" onchange="$(this).oncityChange();"><option value="" selected="selected">--select--</option></select>			
		   					</div>
						</div>
						
						<div class="col-12 col-lg-2 col-md-2">
							<label class="label-box pr-0" style="padding-top: 3px">Pin Code</label>
		   					<div class="">
		   						<select class="form-control select2" id="pinCode" name="pinCode" ><option value="" selected="selected">--select--</option></select>				
		   					</div>
						</div>
					</div>
					<div class="col-12 row">
						
						<div class="col-12 col-lg-4 col-md-4">
							<label class="label-box pr-0" style="padding-top: 3px">Remarks</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Remarks" type="text" name="remarks" id="remarks" />
		   					</div>
						</div>
						<div class="col-12 col-lg-4 col-md-4" id="ptnrmst">
							<label class="label-box pr-0" style="padding-top: 3px">Status</label>
							<div>
								<div class="custom-control custom-radio custom-control-inline">
							  		<input type="radio" id="" name="isActive"  checked="checked"  class="custom-control-input activestatus" value="Y">
								  	<label class="custom-control-label" id="activestatuslabel" for="activestatus">Active</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
								  	<input type="radio" id="" name="isActive" class="custom-control-input inactivestatus" value="N">
								  	<label class="custom-control-label" id="inactivestatuslabel" for="inactivestatus">Inactive</label>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="col-12 row">
						<div class="col-12 col-lg-2">
							<label class="label-box pr-0" style="padding-top: 3px">Contact Person</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Contact Person Name" type="text" name="contactPerson" id="contactPerson" />
		   					</div>
						</div>
						<div class="col-12 col-lg-4">
							<label class="label-box pr-0" style="padding-top: 3px">Contact Person Email</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Contact Person Email" type="text" name="contactPersonEmail" id="contactPersonEmail" />
		   					</div>
						</div>
						<div class="col-12 col-lg-2">
							<label class="label-box pr-0" style="padding-top: 3px">Contact Person Mobile</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Contact Person Mobile" type="number" name="contactPersonMob" id="contactPersonMob" />
		   					</div>
						</div>
						
					</div>
					
				</div>
				<div class="col-12 row mt-2 inBoxBody">
					<div class="col-12 row">
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Bank Name</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Bank Name" type="text" name="bankName" id="bankName" />
		   					</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Branch Name</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Branch Name" type="text" name="branch" id="branch" /> 
		   					</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Account Number</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Account Number" type="text" name="bankAccountNo" id="bankAccountNo" /> 
		   					</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">IFSC Code</label>
		   					<div class="">
	                			<input class="form-control form-control-sm"  placeholder="IFSC Code" type="text" name="ifscCode" id="ifscCode" /> 
		   					</div>
						</div>
					</div>
					<hr>
					<div class="col-12 row">
					
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Aadhaar</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Aadhar" type="text" name="adharNo" id="adharNo" />
	                			<div class="col-12 row pr-0 mr-0 ml-0 pl-0">
	                				<label class="form-control label-box mt-2 col-7 mr-1" style="margin-bottom: 0px;cursor: pointer;"><div id="adharNo_image_name" style="overflow: hidden;">Upload Aadhaar Card</div>
										<input type="file" id = "aadhaarImage" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" placeholder="Scanned Image" style="display:none;cursor: pointer;" onchange="$(this).showFileName('adharNo_image_name','ptnrmstadharBtn')">
									</label>
									<button type="button" class="btn btn-sm btn-success col-2 ml-1 mt-2" id="ptnrmstadharBtn" onclick="$(this).removeadhrimg('AdharImg');"disabled> <i class="fa fa-close" ></i></button>
									<button type="button" class="btn btn-sm btn-success col-2 ml-1 mt-2" title="Download Current Document"  id="docDownloadBtn" onclick="$(this).downloadDocImage('adhar');"disabled> <i class="fa fa-download" aria-hidden="true"></i>
									</button>
	                			</div>
		   					</div>
						</div>
						
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">GSTIN</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="GSTIN" type="text" name="gstin" id="gstin" />
	                			<div class="col-12 row pr-0 mr-0 ml-0 pl-0">
	                				<label class="form-control label-box mt-2 col-7 mr-1" style="margin-bottom: 0px;cursor: pointer;"><div id="gstin_image_name" style="overflow: hidden;">Upload GSTIN</div>
										<input type="file" id = "gstinImage" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" placeholder="Scanned Image" style="display:none;cursor: pointer;" onchange="$(this).showFileName('gstin_image_name','ptnrmstgstBtn')">
									</label>
									<button type="button" class="btn btn-sm btn-success col-2 ml-1 mt-2" id="ptnrmstgstBtn" onclick="$(this).removegstImg('GstImg');"disabled> <i class="fa fa-close"></i></button>
									<button type="button" class="btn btn-sm btn-success col-2 ml-1 mt-2" title="Download Current Document"  id="docDownloadBtn1" onclick="$(this).downloadDocImage('gstin');" disabled> <i class="fa fa-download" aria-hidden="true"></i>
									</button>
	                			</div>
		   					</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">PAN</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="PAN" type="text" name="pan" id="pan" /> 
	                			<div class="col-12 row pr-0 mr-0 ml-0 pl-0">
	                				<label class="form-control label-box mt-2 col-7 mr-1" style="margin-bottom: 0px;cursor: pointer;"><div id="pan_image_name" style="overflow: hidden;">Upload PAN Card</div>
										<input type="file" id = "panImage" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" placeholder="Scanned Image" style="display:none;cursor: pointer;" onchange="$(this).showFileName('pan_image_name','ptnrmstpanBtn')">
									</label>
									
									<button type="button" class="btn btn-sm btn-success col-2 ml-1 mt-2" id="ptnrmstpanBtn" onclick="$(this).removepanImg('PanImg');"disabled> <i class="fa fa-close"></i></button>
									<button type="button" class="btn btn-sm btn-success col-2 ml-1 mt-2" title="Download Current Document"  id="docDownloadBtn2" onclick="$(this).downloadDocImage('pan');" disabled> <i class="fa fa-download" aria-hidden="true"></i>
									</button>
	                			</div>
		   					</div>
						</div>
					</div>
				</div>
				<div class="col-12 row mt-2 inBoxBody">
					<div class="col-12 row">
						<div class="col-12 col-lg-2">
							<label class="label-box pr-0" style="padding-top: 3px">Service City <span class="text-danger">*</span></label>
		   					<div class="">
	                			<select class="form-control select2" id="srvCity" onchange="$(this).setRelatedPincodes()"><option value="" selected="selected">--select--</option></select>	
		   					</div>
						</div>
						<div class="col-12 col-lg-5">
							<label class="label-box pr-0" style="padding-top: 3px">Service Area <span class="text-danger">*</span></label>
		   					<div class="">
	                			<select name="" id="areas" data-placeholder="Select Service Area" class="input-box select2" mandatory="true" message="Please Fill Service Area" multiple="multiple" style="width: 100%;" onchange=""></select>
		   					</div>
						</div>
						<div class="col-12 col-lg-5">
							<label class="label-box pr-0" style="padding-top: 3px">Service(s) <span class="text-danger">*</span></label>
		   					<div class="">
	                			<select name="" id="services" data-placeholder="Select Service."  class="input-box select2" multiple="multiple" style="width: 100%;" mandatory="true" message="Please Fill Services" onchange=""></select>
		   					</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer float-right m-2" style="background-color: #f5f4f4;">
	        	<button type="button" class="btn btn-primary" id="savePtnrMst">Save</button>
	        	<button class="btn btn-secondary" type="button" id="resetBtn" onclick="$(this).ResetAllDataInFormprtmst()">Reset</button>
	    	</div>
		</div>
	</form>
</div>

<script>
$(document).ready(function(){
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditPtnrMst"+tabIndex);
	$(this).preparePtnrMstForm($FI);
});
</script>
<script src="./js/pages/advanced-form-element.js"></script>