<div class="box box-default">

	<form data-th-id="${#strings.concat('addEditcstmst',param.tabIndex)}" autocomplete="off">
	
		<input  type="hidden" name="csId" id="csId" />
		
		 <input  type="hidden" name="siteid" id="siteid"  value="0"/>
		 
    	<div class="box-body new-box-body">
			<div class="col-12 form-row pr-0">
				<div class="col-12 mt-2 inBoxBody">
					<div class="row col-12">
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Name <span class="text-danger">*</span></label>
			   					<div class="">
		                			<input class="form-control form-control-sm" onchange="$(this).closest('form').find('#displayName').val($(this).val())" type="text" mandatory="true" message = "Please Enter Customer Name" placeholder="Customer Name" name="name" id="name" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Display Name </label>
			   					<div class="">
		                			<input class="form-control form-control-sm"  placeholder="Display Name" type="text" name="displayName" id="displayName" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Mobile <span class="text-danger">*</span></label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="number" mandatory="true" message = "Please Enter Mobile Number" placeholder="Mobile" name="mobile" id="mobile" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Phone </label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="number"  placeholder="Phone" name="phone" id="phone" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Address </label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="text"  placeholder="Address" name="address" id="address" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Landmark </label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="text"  placeholder="Landmark" name="landmark" id="landmark" /> 
			   					</div>
							</div>
							
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">State<span class="text-danger">*</span></label>
			   					<div class="">
			   						<select class="form-control select2" id="state" name="state" onchange="$(this).populateCities('state','city');" mandatory="true" message = "Please Enter State"><option value="" selected="selected">--select--</option></select>			
			   					</div>
							</div>
							
							
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">City <span class="text-danger">*</span></label>
			   					<div class="">
			   						<select class="form-control select2" id="city" name="city" onchange="$(this).oncstcityChange();"mandatory="true" message = "Please Enter City"><option value="" selected="selected">--select--</option></select>			
			   					</div>
							</div>
							
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Pincode<span class="text-danger">*</span></label>
			   					<div class="">
			   						<select class="form-control select2" id="pinCode" name="am_id" onchange="$(this).oncstpinchange()" mandatory="true" message = "Please Enter Pincode"><option value="" selected="selected">--select--</option></select>				
			   					</div>
							</div>
							<!-- <div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Area </label>
			   					<div class="">
		                			<select name="am_id" id="am_id"  class="input-box select2" style="width: 100%;" onchange="">
		                				<option>--select--</option>
		                			</select>
			   					</div>
							</div> -->
							<div class="col-12 col-lg-3">
								<label class="label-box pr-0" style="padding-top: 3px">Email </label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="text"  placeholder="Email" name="email" id="email" /> 
			   					</div>
							</div>
						<div class="col-12 col-lg-3" >
							<label class="label-box pr-0" style="padding-top: 3px">Status</label>
							<div id="cstmststatus">
								<div class="custom-control custom-radio custom-control-inline">
							  		<input type="radio" id="" name="isActive"  checked="checked"  class="custom-control-input cstmstactivestatus" value="Y">
								  	<label class="custom-control-label" id="cstmstactivelabel" for="cstmstactivestatus">Active</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
								  	<input type="radio" id="" name="isActive" class="custom-control-input cstmstinactivestatus" value="N">
								  	<label class="custom-control-label" id="cstmstinactivelabel" for="cstmstinactivestatus">Inactive</label>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-9">
							<label class="label-box pr-0" style="padding-top: 3px">Remarks</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Remarks" type="text" name="remarks" id="remarks" />
		   					</div>
							</div>
							
							
							<div class="col-12 col-lg-3">
							<div>
								<input class="form-control form-control-sm" type="hidden" name="pinCode" id="cstpin" disabled="disabled">
							</div>
						</div>
					</div>
								
				</div>
			</div>
			<div class="box-footer float-right m-2" style="background-color: #f5f4f4;">
	        	<button type="button" class="btn btn-primary" id="saveCstMst">Save</button>
	        	<button class="btn btn-secondary" type="button" id="resetBtn" onclick="$(this).ResetAllDataInFormcstmst()">Reset</button>
	    	</div>
		</div>
	</form>
</div>


<script>
$(document).ready(function(){
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditcstmst"+tabIndex);
	$(this).prepareCstMstForm($FI);
});
</script>
<script src="./js/pages/advanced-form-element.js"></script>