<div class="box box-default">

	<form data-th-id="${#strings.concat('addEditptnrteam',param.tabIndex)}" autocomplete="off">
	
		<input  type="hidden" name="ptId" id="ptId" /> 
    	<div class="box-body new-box-body">
			<div class="col-12 form-row pr-0">
				<div class="col-12 mt-2 inBoxBody">
				
					<div class="row col-12 pr-0">
						<div class="col-6 col-lg-3 col-md-2 d-flex  lv pt-2" id ="imgdiv" style="text-align: -webkit-center;justify-content: center;">
							<i style="display:none" class="fa fa-close" onclick="$(this).removeteamImg()"></i><label id="imglabel" style="width: 65%;position: relative;" onmouseenter="$(this).hoverImage()" onmouseout="$(this).removeHoverImage()">
					      		<img alt="user image" src="./images/avtara.png" id="imageDisp">
				      			<input type="file" id="imageFile" src="" style="display: none;" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" onchange="$(this).showImage()">
				      		</label>
				      		<!-- <div class="col-12 row pr-0 mr-0 ml-0 pl-0">
									<button type="button" class="btn btn-sm btn-success col-12 ml-1 mt-2" title="Download Current Document"  id="docDownloadBtn" onclick="$(this).downloadDocImage('adhar');"> <i class="fa fa-download" aria-hidden="true"></i>
									</button>
	                		</div> -->
						</div>
						<div class="col-12 col-lg-9 col-md-10 row pr-0">
						    <div class="col-lg-4">
								<label class="label-box pr-0" style="padding-top: 3px">Partner Name <span class="text-danger">*</span></label>
			   					<div class="">
		                			<select name="pmId" id="pmId" mandatory="true" message = "Please Select Partner Name" class="input-box select2" style="width: 100%;" onchange="">
		                				<option>--select--</option>
		                			</select>
			   					</div>
							</div>
							<div class="col-12 col-lg-4">
								<label class="label-box pr-0" style="padding-top: 3px">Name <span class="text-danger">*</span></label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="text" mandatory="true" message = "Please Select Partner Team Name" placeholder="Partner Team Name" name="name" id="name" onkeyup="$(this).closest('form').find('#displayName').val($(this).val())"/> 
			   					</div>
							</div>
							<div class="col-12 col-lg-4">
								<label class="label-box pr-0" style="padding-top: 3px">Display Name </label>
			   					<div class="">
		                			<input class="form-control form-control-sm" placeholder="Display Name" type="text" name="displayName" id="displayName" /> 
			   					</div>
							</div>
							<div class="col-12 col-lg-4">
								<label class="label-box pr-0" style="padding-top: 3px">Company </label>
			   					<div class="">
		                			<input class="form-control form-control-sm"  placeholder="Company" type="text" name="company" id="company" /> 
			   					</div>
							</div>
							<!-- <div class="col-2">
							</div> -->
							<div class="col-12 col-lg-4">
								<label class="label-box pr-0" style="padding-top: 3px">Mobile<span class="text-danger">*</span> </label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="number"  placeholder="Phone" name="mobile" id="mobile" mandatory="true" message="Please Fill Mobile"/> 
			   					</div>
							</div>
							
							<div class="col-12 col-lg-4">
								<label class="label-box pr-0" style="padding-top: 3px">Email</label>
			   					<div class="">
		                			<input class="form-control form-control-sm" type="text" placeholder="Email" name="email" id="email" /> 
			   					</div>
							</div>
							
						</div>
						
					</div>
					
					<div class="col-12 row">
						<div class="col-12 col-lg-3 col-md-4">
							<label class="label-box pr-0" style="padding-top: 3px">Address </label>
		   					<div class="">
	                			<input class="form-control form-control-sm" type="text"  placeholder="Full Address" name="address" id="address" />
		   					</div>
						</div>
						
						<div class="col-12 col-lg-3 col-md-2">
							<label class="label-box pr-0" style="padding-top: 3px">Landmark</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" type="text"  name="landmark" id="landmark" /> 
		   					</div>
						</div>
						<div class="col-12 col-lg-3 col-md-2 ">
							<label class="label-box pr-0" style="padding-top: 3px">State</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" type="text"  placeholder="State" name="state" id="state" /> 
		   					</div>
						</div>
						<div class="col-12 col-lg-3 col-md-2">
							<label class="label-box pr-0" style="padding-top: 3px">City</label>
		   					<div class="">
	                			<input class="form-control form-control-sm"  placeholder="City" type="text" name="city" id="city" /> 
		   					</div>
						</div>
					</div>
					
					<div class="col-12 row">
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Aadhaar Number</label>
		   					<div class="">
	                			<input class="form-control form-control-sm"  placeholder="Aadhar Number" type="text" name="adharNo" id="adharNo" />
		   					</div>
						</div>
						<div class="col-12 col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px"> </label>
		   					<div class="">
	                			<div class="col-12 row pr-0 mr-0 ml-0 pl-0">
	                				<label class="form-control docLabel col-7 mr-1" ><div id="image_name" style="overflow: hidden;">Upload Aadhaar Card</div>
										<input type="file" id="teamaadhaarImage1" accept=".jpg,.JPG,.jpeg,.JPEG,.png,.PNG" placeholder="Scanned Image" style="display:none;cursor: pointer;" onchange="$(this).showFileName('image_name','teamcloseBtn')">
									</label>
									<button type="button" class="btn btn-sm btn-success col-2" id="teamcloseBtn" onclick="$(this).removeteamAdhrImg('AdharImg');" disabled> <i class="fa fa-close"></i></button>
									<button type="button" class="btn btn-sm btn-success col-2" title="Download Current Document"  id="docDownloadAdharBtn" onclick="$(this).downloadTeamDocImage();" style="margin-left: 16px;" disabled> <i class="fa fa-download" aria-hidden="true"></i>
									</button>
	                			</div>
		   					</div>
						</div>
						
						<div class="col-lg-3">
							<label class="label-box pr-0" style="padding-top: 3px">Remarks</label>
		   					<div class="">
	                			<input class="form-control form-control-sm" placeholder="Remarks" type="text" name="remarks" id="remarks" />
		   					</div>
						</div>
						<div class="col-lg-3" id="prtteam">
							<label class="label-box pr-0" style="padding-top: 3px">Status</label>
							<div>
								<div class="custom-control custom-radio custom-control-inline">
							  		<input type="radio" id="" name="isActive"  checked="checked"  class="custom-control-input prtteamactivestatus" value="Y">
								  	<label class="custom-control-label" id="prtteamactivestatuslabel" for="active">Active</label>
								</div>
								<div class="custom-control custom-radio custom-control-inline">
								  	<input type="radio" id="" name="isActive" class="custom-control-input prtteaminactivestatus" value="N">
								  	<label class="custom-control-label" id="prtteaminactivestatuslabel" for="inactive">Inactive</label>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="box-footer float-right m-2" style="background-color: #f5f4f4;">
	        	<button type="button" class="btn btn-primary" id="savePtnrTeam">Save</button>
	        	<button class="btn btn-secondary" type="button" id="resetBtn" onclick="$(this).ResetAllDataInFormprtteam()">Reset</button>
	    	</div>
		</div>
	</form>
</div>


<script>
$(document).ready(function(){
	var tabIndex = [[${param.tabIndex}]];
	var $FI = $("#addEditptnrteam"+tabIndex);
	$(this).preparePtnrTeamForm($FI);
});
</script>
<script src="./js/pages/advanced-form-element.js"></script>