<form id="areamasterListContainer">
  
  <div class="pad" style="padding-top: 15px;" id="">
  	<div th:replace="./fragments/gridMenu::menu('AREA_MASTER')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="areamasterList" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>

	$(this).areamasterListing();
</script>
 <!-- Product Master Code Modal Content -->
 
 <div class="modal fade" id="areamasterModal"  role="dialog" aria-labelledby="leadgerLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <form autocomplete="off" id="areamasterForm">
          <div class="modal-content">
            <div class="modal-header p-2" style="background-color: #24355a;color: #00b2ff;">
            	
              	<h5 class="modal-title" id="myModalLabel">Area</h5>
            </div>
            <div class="modal-body">
            
              <input type="hidden" id="siteid" name="siteid" value="0" />
               <input type="hidden" id="amid" name="amId" value="0"/>
                <div class="p-4">
                    <div class="row manTranRow">   
                        <label class="label-box p-0 col-lg-4 col-12">Area Name<span class="text-danger">*</span> </label>
                        <div class="col-lg-8 col-12">
                        <input type="text" name="areaName" id="areaname" mandatory="true" message="Please fill Area Name" class="form-control  form-control-sm">
                   	 </div>
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">City</label>
                          <div class="col-lg-8 col-12">                  
                          	<select class="form-control select2  form-control-sm" id="city" name="cityid" ><option value="" selected="selected">--select--</option></select>			
                  		 </div>
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Pincode</label>
                        <div class="col-lg-8 col-12">
                      	  <input type="text" name="pincode" id="pincode" class="form-control  form-control-sm">
                   		 </div>
                    </div>
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Remark</label>
                        <div class="col-lg-8 col-12">
                       	 <input type="text" name="leadCost" id="leadCost" class="form-control  form-control-sm">
                   	 </div>
					</div>	                   
              
                    <div class="row manTranRow">
                        <label class="label-box p-0 col-lg-4 col-12">Status</label>
                        <div class="col-lg-8 col-12 p-0 pl-3">
                             <input type="radio" value="Y" name="isActive" id="areamstActive" checked> <label for="areamstActive">Active</label>
		                     <input type="radio" value="N" name="isActive" id="areamstInactive"> <label for="areamstInactive">Inactive</label>
                        </div>
                    </div>
                </div>
                
            </div>
<!--             Modal Body
 -->            <div class="modal-footer p-1" id="chkLstFoot" style="background: #24355a;color: #785207;">
               <button type="button" class="btn cancelButton" data-dismiss="modal" id="closeDesignationBtn2">Close</button>
               <button type="button" class="btn saveButton" style = "float:right" id="saveareamst" onClick="$(this).saveareaMaster()">Save Changes</button>
            </div>
          </div>
          </form>
    </div>
 </div>
  
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>
<script type="text/javascript">
	$(".ag-center-cols-container").css('width','100%')
</script>