<form data-th-id="${#strings.concat('cstleadLstForm',param.tabIndex)}">
  <div class="pad" style="padding-top: 15px;" id="">
  	<div th:replace="./fragments/gridMenu::menu('CUSTOMER_HISTORY')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="cstleadLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];

var $FI = ("cstleadLstForm"+tabIndex);
$(this).cstleadmstList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>