<form id="CstMstLstForm">

  <div class="pad" style="padding-top: 15px;" id="CstMstMap">
  
  	<div th:replace="./fragments/gridMenu::menu('CUSTOMER_MASTER')"></div>
  	
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="CstMstLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("CstMstLstForm");
$(this).cstmstList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>