<form id="crptLdgrMstLstForm">
  <div class="pad" style="padding-top: 15px;" id="crptLdgrMstMap">
  	<div th:replace="./fragments/gridMenu::menu('CORPERATE_LEDGER')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="crptLdgrMstLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("crptMstLstForm");
$(this).crptLdgrmstList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>