<form id="mstsaleinvLstLstForm">
  <div class="pad" style="padding-top: 15px;" id="mstsaleinvLstMap">
  	<div th:replace="./fragments/gridMenu::menu('SALES_INVOICE')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="mstsaleinvLstLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("mstsaleinvLstLstForm");
$(this).mstsaleinvList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>