<form id="OrgMasterLstForm">
  <div class="user" style="padding-top: 15px;" id="OrgMasterContainer">
  	<div th:replace="./fragments/gridMenu::menu('ORG_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="OrgMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("#OrgMasterLstForm");
$(this).orgMasterList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */
 </script>