<form id="PtnrLstForm">
  <div class="pad" style="padding-top: 15px;" id="PtnrAreaMap">
  	<div th:replace="./fragments/gridMenu::menu('PARTNER_AREA_MAP')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="PtnrAreaMapLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("#PtnrLstForm");
$(this).PtnrList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>