<form id="PtnrMstLstForm">

  <div class="pad" style="padding-top: 15px;" id="PtnrMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('PARTNERMST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="PtnrMstLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("#PtnrMstLstForm");
$(this).PtnrMstList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>