<form data-th-id="${#strings.concat('prtleadLstForm',param.tabIndex)}">

  <div class="pad" style="padding-top: 15px;" id="">
  
  	<div th:replace="./fragments/gridMenu::menu('PARTNER_LEAD_MAP')"></div>
  	
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="prtleadLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = ("prtleadLstForm"+tabIndex);
$(this).prtLeadList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>