<form id="ProdSerMstLstForm">
  <div class="pad" style="padding-top: 15px;" id="ProdSerMstMap">
  	<div th:replace="./fragments/gridMenu::menu('PRODUCT_SERVICE_MASTER')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="ProdSerMstLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("ProdSerMstLstForm");
$(this).ProdSermstList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>