<form id="UserLstForm">
  <div class="user" style="padding-top: 15px;" id="userlistContainer">
  	<div th:replace="./fragments/gridMenu::menu('USER_LIST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="UserLst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>
<script>
var tabIndex = [[${param.tabIndex}]];
var $FI = $("UserLstForm");
$(this).UserList($FI);
/* $("#wrapper").toggleClass("toggled");
$(".graphClassToggle").toggleClass("graphBoxWithMenu");
 */</script>