<form id="auditTypeMstLstForm">
  <div class="user" style="padding-top: 15px;" id="auditTypeMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('AUDIT_TYPE')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="auditTypeMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).auditTypeMstList();
</script>
 
  <!-- City Mst Modal Content -->
                  <div id="auditTypeMstModel" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Audit Type</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="auditTypeMstForm" action="">
                          <input type="hidden" name="atmId" id="atmId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                               <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Audit Type<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="auditNameSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Audit Type" class="input-box form-control" type="text" name="auditName" id="auditName" onkeyup="$(this).checkAuditTypeMstLength()" maxlength="50" placeholder="Audit Type" />
                                  </div>
                                </div>
                                <!-- Row 2
                         		<div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Audit Level<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="locMstSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Audit Level" class="input-box form-control" type="text" name="auditLevel" id="auditLevel" onkeyup="$(this).checkLocMstLength()" maxlength="50" placeholder="Audit Level" />
                                  </div>
                                </div>   -->
                                 <!-- Row 3 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkAuditTypeSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksAuditType" onkeyup="$(this).checkAuditTypeMstLength()" maxlength="50" placeholder="Remarks" />
                                  </div>
                                </div>
                                <!-- Row 4 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isactive" id="statusAuditTAct" checked> <label for="statusAuditTAct">Active</label>
					             <input type="radio" value="N" name="isactive" id="statusAuditTInAct"> <label for="statusAuditTInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveAuditTypeBtn" onClick="$(this).saveAuditType()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeAuditTypeBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>