<form id="freqMstLstForm">
  <div class="user" style="padding-top: 15px;" id="freqMstContainer">
  	<div th:replace="./fragments/gridMenu::menu('FREQ_MST')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="freqMst" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).freqMstList();
</script>
 
  <!-- City Mst Modal Content -->
                  <div id="freqMstModel" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Frequency</h4>
                <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillCatMstBtn1">X</button> --->
                        </div>
                        <div class="modal-body">
                          <form id="freqMstForm" action="">
                          <input type="hidden" name="fmId" id="fmId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid"  value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                               <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Frequency Name<span class="text-danger">*</span></label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="freqNameSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Frequency Name" class="input-box form-control" type="text" name="freqName" id="freqName" onkeyup="$(this).checkFreqMstLength()" maxlength="50" placeholder="Frequency Name" />
                                  </div>
                                </div>
                           
                                 <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                    <span id="remarkFreqMstSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksFreq" onkeyup="$(this).checkFreqMstLength()" maxlength="50" placeholder="Remarks" />
                                  </div>
                                </div>
                                <!-- Row 4 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isactive" id="statusFreqMstAct" checked> <label for="statusFreqMstAct">Active</label>
					             <input type="radio" value="N" name="isactive" id="statusFreqMstInAct"> <label for="statusFreqMstInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">  
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveFreqMstBtn" onClick="$(this).saveFreqMst()">Save</button>
                           <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeFreqMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>