<form id="orgtypeLstForm">
  <div class="user" style="padding-top: 15px;" id="orgtypeContainer">
  	<div th:replace="./fragments/gridMenu::menu('ORG_TYPE')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="orgtype" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).orgtypeList();
</script>
 
  <!-- org type Mst Modal Content -->
                  <div id="orgtypeModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Organization Type</h4>
                         <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillGroupMstBtn1">X</button> -->
                        </div>
                        <div class="modal-body">
                          <form id="orgtypeForm" action="">
                          <input type="hidden" name="otId" id="otId" value="0"  />
                            <input type="hidden" name="siteid" id="siteid" value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Organization Type Name<span class="text-danger">*</span></label> 
                                  <div class="col-sm-6 paddingzero">
                                   <span id="organizationSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter Organization Type Name" class="input-box form-control" type="text" name="orgType" onkeyup="$(this).checkOrgTypeLength()" id="orgType" maxlength="50" placeholder="Organization Type Name"/>
                                  </div>
                                </div>
                                <!-- Row 2 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                  <span id="remarksorgtypeSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarksorg" onkeyup="$(this).checkOrgTypeLength()" maxlength="50" placeholder="Remarks"/>
                                  </div>
                                </div>  
                                <!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isactive" id="statusOrgTypAct" checked="checked"> <label for="statusOrgTypAct">Active</label>
					             <input type="radio" value="N" name="isactive" id="statusOrgTyInAct"> <label for="statusOrgTyInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveOrgTypeBtn" onClick="$(this).saveOrgType()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeOrgTypeBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>