<form id="statemasterLstForm">
  <div class="user" style="padding-top: 15px;" id="statemasterContainer">
  	<div th:replace="./fragments/gridMenu::menu('STATE_MASTER')"></div>
    <div class="box">
      <div class="box-body">
       <div class="gridWrapper m-4">
        	<div id="statemaster" class="ag-theme-alpine gridBox">
				
 			</div>
        </div>
        
      </div>
    </div>
  </div>
</form>

<script>
	$(this).statemasterList();
</script>
 
  <!-- Skill Domain Mst Modal Content -->
                  <div id="statemasterModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">State</h4>
                         <!--   <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeSkillGroupMstBtn1">X</button> -->
                        </div>
                        <div class="modal-body">
                          <form id="statemasterForm" action="">
                          <input type="hidden" name="stateid" id="stateid" value="0"  />
                            <input type="hidden" name="siteid" id="siteid" value="0" />
                            
                            
                              <div class="box-body">                        
                                <!-- Row 1 -->
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">State Name<span class="text-danger">*</span></label> 
                                  <div class="col-sm-6 paddingzero">
                                   <span id="stateNameSpan" style="color:red;"></span>
                                    <input mandatory=true message="Please Enter State Name" class="input-box form-control" type="text" name="statename" onkeyup="$(this).checkStateMstLength()" id="statename" maxlength="50" placeholder="State Name"/>
                                  </div>
                                </div>
                                <!-- Row 2
                                <div class="form-group row">
                                  <label class="col-sm-6 col-form-label label-box">Remarks</label>
                                  <div class="col-sm-6 paddingzero">
                                  <span id="remarksSpan" style="color:red;"></span>
                                    <input class="input-box form-control" type="text" name="remarks" id="remarks" onkeyup="$(this).checkSkillGMstLength()" maxlength="50" placeholder="Remarks"/>
                                  </div>
                                </div>  -->
                                <!-- Row 3 -->
                               <div class="form-group row">
                                <label class="col-sm-6 col-form-label label-box">Status</label>
						          <div class=" input-group col-sm-6 form-check">
					             <input type="radio" value="Y" name="isactive" id="statusStateAct" checked="checked"> <label for="statusStateAct">Active</label>
					             <input type="radio" value="N" name="isactive" id="statusStateInAct"> <label for="statusStateInAct">Inactive</label>
						         </div>
                          	  </div>
                            </div>
                            
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-sm btn saveButton float-right" id="saveStateMstBtn" onClick="$(this).saveStateMst()">Save</button>
                          <button type="button" class="btn-sm btn btn-danger float-right" data-dismiss="modal" id="closeStateMstBtn2">Close</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->                 
                                       
<script src="./assets/vendor_components/select2/dist/js/select2.full.js"></script>
  
<!-- bonitoadmin for advanced form element -->
<script src="./js/pages/advanced-form-element.js"></script>