/* myanmar */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/paduk/RrQRboJg-id7OnbxbEXh.woff2) format('woff2');
  unicode-range: U+1000-109F, U+200C-200D, U+25CC;
}
/* latin */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/padauk/v7/RrQRboJg-id7OnbxbEXh.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}